
/*
 *
 * App related variables
 *
 */
$white:     #ffffff !default;
$pink:      #e21f8d !default;
$light-pink:#f8c8e2 !default;
$gray:      #454545 !default;
$box-gray:  #efefef !default;
$light-gray:#d6d4d7 !default;
$dark-gray: #313338 !default;
$blue:      #15cdef !default;
$black:     #000000 !default;
$creme:     #fbfbfb !default;

$font-color: $gray;
$button-color: #2a2c30 !default;

$sprite: '../images/askfast-sprite.png' !default;
$channels-sprite: '../images/communucation-channels-sprite.png' !default;


/*
 *
 * Variables
 *
 */
$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";


/*
 *
 * Bootstrap variables
 *
 *
 */
//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

// Grays
// -------------------------

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

// Brand colors
// -------------------------

$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$brand-info:            #5bc0de !default;

// Scaffolding
// -------------------------

$body-bg:               #fff !default;
$text-color:            $gray-dark !default;

// Links
// -------------------------

$link-color:            $brand-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;

// Typography
// -------------------------

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          14px !default;
$font-size-large:         ceil($font-size-base * 1.25) !default; // ~18px
$font-size-small:         ceil($font-size-base * 0.85) !default; // ~12px

$font-size-h1:            floor($font-size-base * 2.6) !default; // ~36px
$font-size-h2:            floor($font-size-base * 2.15) !default; // ~30px
$font-size-h3:            ceil($font-size-base * 1.7) !default; // ~24px
$font-size-h4:            ceil($font-size-base * 1.25) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil($font-size-base * 0.85) !default; // ~12px

$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor($font-size-base * $line-height-base) !default; // ~20px

$headings-font-family:    $font-family-base !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;


// Iconography
// -------------------------

$icon-font-path:          "../fonts/" !default;
$icon-font-name:          "glyphicons-halflings-regular" !default;


// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

$padding-base-vertical:          6px !default;
$padding-base-horizontal:        12px !default;

$padding-large-vertical:         10px !default;
$padding-large-horizontal:       16px !default;

$padding-small-vertical:         5px !default;
$padding-small-horizontal:       10px !default;

$line-height-large:              1.33 !default;
$line-height-small:              1.5 !default;

$border-radius-base:             4px !default;
$border-radius-large:            6px !default;
$border-radius-small:            3px !default;

$component-active-color:         #fff !default;
$component-active-bg:            $brand-primary !default;

$caret-width-base:               4px !default;
$caret-width-large:              5px !default;

// Tables
// -------------------------

$table-cell-padding:                 8px !default;
$table-condensed-cell-padding:       5px !default;

$table-bg:                           transparent !default; // overall background-color
$table-bg-accent:                    #f9f9f9 !default; // for striping
$table-bg-hover:                     #f5f5f5 !default;
$table-bg-active:                    $table-bg-hover !default;

$table-border-color:                 #ddd !default; // table and cell border


// Buttons
// -------------------------

$btn-font-weight:                normal !default;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             darken($btn-warning-bg, 5%) !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($btn-danger-bg, 5%) !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;

$btn-link-disabled-color:        $gray-light !default;


// Forms
// -------------------------

$input-bg:                       #fff !default;
$input-bg-disabled:              $gray-lighter !default;

$input-color:                    $gray !default;
$input-border:                   #ccc !default;
$input-border-radius:            $border-radius-base !default;
$input-border-focus:             lighten($pink, 25%) !default; //#66afe9 !default;

$input-color-placeholder:        $gray-light !default;

$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large:             (floor($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

$legend-color:                   $gray-dark !default;
$legend-border-color:            #e5e5e5 !default;

$input-group-addon-bg:           $gray-lighter !default;
$input-group-addon-border-color: $input-border !default;


// Dropdowns
// -------------------------

$dropdown-bg:                    #fff !default;
$dropdown-border:                rgba(0,0,0,.15) !default;
$dropdown-fallback-border:       #ccc !default;
$dropdown-divider-bg:            #e5e5e5 !default;

$dropdown-link-color:            $gray-dark !default;
$dropdown-link-hover-color:      darken($gray-dark, 5%) !default;
$dropdown-link-hover-bg:         #f5f5f5 !default;

$dropdown-link-active-color:     $component-active-color !default;
$dropdown-link-active-bg:        $component-active-bg !default;

$dropdown-link-disabled-color:   $gray-light !default;

$dropdown-header-color:          $gray-light !default;

$dropdown-caret-color:           #000 !default;


// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1010 !default;
$zindex-tooltip:           1030 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


// Grid system
// --------------------------------------------------

// Number of columns in the grid system
$grid-columns:              12 !default;
// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         30px !default;
// Point at which the navbar stops collapsing
$grid-float-breakpoint:     $screen-sm-min !default;


// Navbar
// -------------------------

// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        floor($grid-gutter-width / 2) !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                #f8f8f8 !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                #777 !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #ccc !default;
$navbar-default-toggle-border-color:       #ddd !default;


// Inverted navbar
//
// Reset inverted navbar basics
$navbar-inverse-color:                      $gray-light !default;
$navbar-inverse-bg:                         #222 !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
$navbar-inverse-link-color:                 $gray-light !default;
$navbar-inverse-link-hover-color:           #fff !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:          #fff !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333 !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        #333 !default;


// Navs
// -------------------------

$nav-link-padding:                          10px 15px !default;
$nav-link-hover-bg:                         $gray-lighter !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;

$nav-open-link-hover-color:                 #fff !default;
$nav-open-caret-border-color:               #fff !default;

// Tabs
$nav-tabs-border-color:                     #ddd !default;

$nav-tabs-link-hover-border-color:          $gray-lighter !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $gray !default;
$nav-tabs-active-link-hover-border-color:   #ddd !default;

$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;

// Pills
$nav-pills-border-radius:                   $border-radius-base !default;
$nav-pills-active-link-hover-bg:            $component-active-bg !default;
$nav-pills-active-link-hover-color:         $component-active-color !default;


// Pagination
// -------------------------

//$pagination-bg:                        #fff !default;
//$pagination-border:                    #ddd !default;
//
//$pagination-hover-bg:                  $gray-lighter !default;
//
//$pagination-active-bg:                 $brand-primary !default;
//$pagination-active-color:              #fff !default;
//
//$pagination-disabled-color:            $gray-light !default;


// Pager
// -------------------------

//$pager-border-radius:                  15px !default;
//$pager-disabled-color:                 $gray-light !default;


// Jumbotron
// -------------------------

//$jumbotron-padding:              30px !default;
//$jumbotron-color:                inherit !default;
//$jumbotron-bg:                   $gray-lighter !default;
//$jumbotron-heading-color:        inherit !default;
//$jumbotron-font-size:            ceil($font-size-base * 1.5) !default;


// Form states and alerts
// -------------------------

$state-success-text:             #468847 !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #3a87ad !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #c09853 !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #b94a48 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;


// Tooltips
// -------------------------
//$tooltip-max-width:           200px !default;
//$tooltip-color:               #fff !default;
//$tooltip-bg:                  #000 !default;
//
//$tooltip-arrow-width:         5px !default;
//$tooltip-arrow-color:         $tooltip-bg !default;


// Popovers
// -------------------------
//$popover-bg:                          #fff !default;
//$popover-max-width:                   276px !default;
//$popover-border-color:                rgba(0,0,0,.2) !default;
//$popover-fallback-border-color:       #ccc !default;
//
//$popover-title-bg:                    darken($popover-bg, 3%) !default;
//
//$popover-arrow-width:                 10px !default;
//$popover-arrow-color:                 #fff !default;
//
//$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
//$popover-arrow-outer-color:           rgba(0,0,0,.25) !default;
//$popover-arrow-outer-fallback-color:  #999 !default;


// Labels
// -------------------------

$label-default-bg:            $gray-light !default;
$label-primary-bg:            $brand-primary !default;
$label-success-bg:            $brand-success !default;
$label-info-bg:               $brand-info !default;
$label-warning-bg:            $brand-warning !default;
$label-danger-bg:             $brand-danger !default;

$label-color:                 #fff !default;
$label-link-hover-color:      #fff !default;


// Modals
// -------------------------
//$modal-inner-padding:         20px !default;
//
//$modal-title-padding:         15px !default;
//$modal-title-line-height:     $line-height-base !default;
//
//$modal-content-bg:                             #fff !default;
//$modal-content-border-color:                   rgba(0,0,0,.2) !default;
//$modal-content-fallback-border-color:          #999 !default;
//
//$modal-backdrop-bg:           #000 !default;
//$modal-header-border-color:   #e5e5e5 !default;
//$modal-footer-border-color:   $modal-header-border-color !default;


// Alerts
// -------------------------
$alert-padding:               15px !default;
$alert-border-radius:         $border-radius-base !default;
$alert-link-font-weight:      bold !default;

$alert-success-bg:            $state-success-bg !default;
$alert-success-text:          $state-success-text !default;
$alert-success-border:        $state-success-border !default;

$alert-info-bg:               $state-info-bg !default;
$alert-info-text:             $state-info-text !default;
$alert-info-border:           $state-info-border !default;

$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-text:          $state-warning-text !default;
$alert-warning-border:        $state-warning-border !default;

$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-text:           $state-danger-text !default;
$alert-danger-border:         $state-danger-border !default;


// Progress bars
// -------------------------
//$progress-bg:                 #f5f5f5 !default;
//$progress-bar-color:          #fff !default;
//
//$progress-bar-bg:             $brand-primary !default;
//$progress-bar-success-bg:     $brand-success !default;
//$progress-bar-warning-bg:     $brand-warning !default;
//$progress-bar-danger-bg:      $brand-danger !default;
//$progress-bar-info-bg:        $brand-info !default;


// List group
// -------------------------
$list-group-bg:               #fff !default;
$list-group-border:           #ddd !default;
$list-group-border-radius:    $border-radius-base !default;

$list-group-hover-bg:         #f5f5f5 !default;
$list-group-active-color:     $component-active-color !default;
$list-group-active-bg:        $component-active-bg !default;
$list-group-active-border:    $list-group-active-bg !default;

$list-group-link-color:          #555 !default;
$list-group-link-heading-color:  #333 !default;


// Panels
// -------------------------
$panel-bg:                    #fff !default;
$panel-inner-border:          #ddd !default;
$panel-border-radius:         $border-radius-base !default;
$panel-footer-bg:             #f5f5f5 !default;

$panel-default-text:          $gray-dark !default;
$panel-default-border:        #ddd !default;
$panel-default-heading-bg:    #f5f5f5 !default;

$panel-primary-text:          #fff !default;
$panel-primary-border:        $brand-primary !default;
$panel-primary-heading-bg:    $brand-primary !default;

$panel-success-text:          $state-success-text !default;
$panel-success-border:        $state-success-border !default;
$panel-success-heading-bg:    $state-success-bg !default;

$panel-warning-text:          $state-warning-text !default;
$panel-warning-border:        $state-warning-border !default;
$panel-warning-heading-bg:    $state-warning-bg !default;

$panel-danger-text:           $state-danger-text !default;
$panel-danger-border:         $state-danger-border !default;
$panel-danger-heading-bg:     $state-danger-bg !default;

$panel-info-text:             $state-info-text !default;
$panel-info-border:           $state-info-border !default;
$panel-info-heading-bg:       $state-info-bg !default;


// Thumbnails
// -------------------------
$thumbnail-padding:           4px !default;
$thumbnail-bg:                $body-bg !default;
$thumbnail-border:            #ddd !default;
$thumbnail-border-radius:     $border-radius-base !default;

$thumbnail-caption-color:     $text-color !default;
$thumbnail-caption-padding:   9px !default;


// Wells
// -------------------------
$well-bg:                     #f5f5f5 !default;


// Badges
// -------------------------
$badge-color:                 #fff !default;
$badge-link-hover-color:      #fff !default;
$badge-bg:                    $gray-light !default;

$badge-active-color:          $link-color !default;
$badge-active-bg:             #fff !default;

$badge-font-weight:           bold !default;
$badge-line-height:           1 !default;
$badge-border-radius:         10px !default;


// Breadcrumbs
// -------------------------
//$breadcrumb-bg:               #f5f5f5 !default;
//$breadcrumb-color:            #ccc !default;
//$breadcrumb-active-color:     $gray-light !default;
//$breadcrumb-separator:        "/" !default;


// Carousel
// ------------------------

//$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;
//
//$carousel-control-color:                      #fff !default;
//$carousel-control-width:                      15% !default;
//$carousel-control-opacity:                    .5 !default;
//$carousel-control-font-size:                  20px !default;
//
//$carousel-indicator-active-bg:                #fff !default;
//$carousel-indicator-border-color:             #fff !default;
//
//$carousel-caption-color:                      #fff !default;


// Close
// ------------------------
$close-font-weight:           bold !default;
$close-color:                 #000 !default;
$close-text-shadow:           0 1px 0 #fff !default;


// Code
// ------------------------
$code-color:                  #c7254e !default;
$code-bg:                     #f9f2f4 !default;

$pre-bg:                      #f5f5f5 !default;
$pre-color:                   $gray-dark !default;
$pre-border-color:            #ccc !default;
$pre-scrollable-max-height:   340px !default;

// Type
// ------------------------
$text-muted:                  $gray-light !default;
$abbr-border-color:           $gray-light !default;
$headings-small-color:        $gray-light !default;
$blockquote-small-color:      $gray-light !default;
$blockquote-border-color:     $gray-lighter !default;
$page-header-border-color:    $gray-lighter !default;

// Miscellaneous
// -------------------------

// Hr border color
$hr-border:                   $gray-lighter !default;

// Horizontal forms & lists
$component-offset-horizontal: 180px !default;


// Container sizes
// --------------------------------------------------

// Small screen / tablet
$container-tablet:             ((720px + $grid-gutter-width)) !default;
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            ((940px + $grid-gutter-width)) !default;
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      ((1140px + $grid-gutter-width)) !default;
$container-lg:                 $container-large-desktop !default;





/*
 *
 * Bootstrap modules
 *
 */

// @import "../vendors/bootstrap-sass/lib/variables";
// TODO: strip unused variables by embedding them here

@import "../vendors/bootstrap-sass/lib/mixins";
@import "../vendors/bootstrap-sass/lib/normalize";
@import "../vendors/bootstrap-sass/lib/scaffolding";
@import "../vendors/bootstrap-sass/lib/type";
@import "../vendors/bootstrap-sass/lib/grid";
@import "../vendors/bootstrap-sass/lib/tables";
@import "../vendors/bootstrap-sass/lib/forms";
@import "../vendors/bootstrap-sass/lib/buttons";
@import "../vendors/bootstrap-sass/lib/component-animations";
@import "../vendors/bootstrap-sass/lib/input-groups";
@import "../vendors/bootstrap-sass/lib/navs";
@import "../vendors/bootstrap-sass/lib/navbar";
@import "../vendors/bootstrap-sass/lib/panels";
@import "../vendors/bootstrap-sass/lib/utilities";
@import "../vendors/bootstrap-sass/lib/responsive-utilities";


/*
 *
 * Fonts
 *
 */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Titillium+Web);



/*
 *
 * Mixins
 *
 */
@mixin border-radius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}


@mixin btn-icon($x1, $x2, $y1, $y2) {
  a {
    background: url($sprite) $x1 $x2;

    &:hover {
      background: url($sprite) $y1 $y2;
      cursor: pointer;
    }
  }

  .active {
    background: url($sprite) $y1 $y2;
    cursor: default;
  }
}


@mixin middle-row() {
  .row {
    max-width: 1170px;
    margin: 0 auto;
  }
}


@mixin front-widget() {
  @include middle-row;

  h1 {
    font-size: 3em;
  }

  p {
    line-height: 1.4em;
    font-size: 1.2em;

    .btn {
      margin-top: 30px;
    }
  }
}


@mixin navbar-brand ($alignment) {
  .navbar-brand {
    float: $alignment;
    display: block;
    text-indent: -9999px;
    width: 131px;
    height: 60px;
    background: url($sprite) -180px 0;
    margin: 0 20px 0 0 !important;
  }
}


@mixin input-emphasize () {
  display: block;
  overflow: hidden;
  border: 1px solid #dddddd;
  padding: 10px;
  background-color: $white;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, ng\:form {
  display: none;
}


/*
 *
 * General styling
 *
 */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  color: $font-color;
  font-size: 12px;
  background-color: $white;

  h1, h2, h3 {
    font-family: 'Titillium Web', sans-serif;
  }

  a {
    &:hover {
    }
  }

  dl {
    font-size: 1.2em;

    dt {
    }

    dd {
      margin-bottom: 15px;
    }
  }

  pre{
    background: $black;
    color: $pink;
    padding: 10px;
    overflow: auto;

    b {
      color: $white;
      font-weight: normal;
    }
  }
}


.text-pink  { color: $pink }
.text-blue  { color: $blue }
.text-white { color: $white }

.list-roman { list-style:lower-roman; }
.list-alpha { list-style:lower-alpha; }


/*
 *
 * Navigation
 *
 */
.navbar {
  min-height: 60px;
  background-color: $white;
  border: none;
  border-bottom: 2px solid $pink;
  z-index: 500;

  @include navbar-brand(left);

  .navbar-nav {
    line-height: 1em;
    margin: 0;
    min-height: 60px;
    padding: 0;

    li {
      a {
        height: 60px;
        display: block;
        padding: 20px 4px 0 4px;
        margin: 0;
        font-size: 1.15em;
        color: $dark-gray;
        background-color: none;

        &:hover {
          text-decoration: none;
          color: $pink;
          background-color: none;
          cursor: pointer;
        }
      }
    }

    .active {
      a {
        color: $pink;
        background-color: $white;
        background-image: url(../images/menu-indicator.png);
        background-position: bottom center;
        background-repeat: no-repeat;

        &:hover {
          text-decoration: none;
          cursor: default;
          background-color: $white;
          color: $font-color;
        }
      }
    }
  }

  .navbar-toggle {
    border: 1px solid $pink;
    background-color: $white;
    margin-top: 15px;

    &:hover {
      background-color: $pink;

      .icon-bar {
        background-color: $white;
      }
    }

    .icon-bar {
      background-color: $pink;
    }
  }
}


/*
 *
 * Custom styling
 *
 */
.btn-primary {
  @include border-radius(0);

  border: none;
  padding: 10px 20px;
  background-color: $blue;
  color: $button-color;

  &:hover {
    background-color: $blue;
    color: $button-color;
  }
}

.btn-primary.disabled {
  background-color: $gray;
}

.btn-link {
  color: $blue;
  text-decoration: underline;
}


.icons-list {
  li {
    a {
      display: block;
      text-indent: -9999px;
    }
  }
}


/*
 *
 * Frame
 *
 */
#wrap {
  min-height: 100%;
  height: auto !important;
  padding: 60px 0 0 0;

  .container-content {
    padding: 0;

    @include front-widget;
  }

  .container-dark {
    background-color: $dark-gray;
    color: $white;
  }

  .container-black {
    background-color: $black;
    color: $white;
  }

  .container-gray {
    background-color: $light-gray;
  }

  .container-creme {
    background-color: $creme;
  }

  .content-holder {
    padding: 30px 0;

    h1 {
    }
  }

  .img-holder {
    img {
      margin: 0 auto;
      padding-bottom: 30px;
    }
  }

  .img-bottom {
    position: absolute;
    bottom: -60px;
  }
}


/*
 *
 * Sub header
 *
 */
#sub-header {
  min-height: 40px;
  background-color: $pink;
  color: $white;

  @include middle-row;

  ul {
    list-style: none;

    li {
      display: inline;
      float: left;
    }
  }

  a {
    color: $white;

    &:hover {
    }
  }

  ul.sub-header-menu {
    margin-top: 10px;

    li {
      margin-left: 3px;
      background-color: $pink;
      padding: 1px 3px;

      @include border-radius(4px);

      a {
        display: block;

        &:hover {
          cursor: pointer;
        }
      }
    }

    li.active {
      background-color: $light-pink;

      a {
        color: $font-color;

        &:hover {
          text-decoration: none;
          cursor: default;
        }
      }
    }
  }

  #sub-header-menu {
    ul {
      margin-left: 0 !important;
      padding-left: 0 !important;

      li {
        padding: 1px 8px;

        @include border-radius(20px);
      }
    }
  }
}


/*
 *
 * Tweets
 *
 */
#tweets {
  margin-top: 10px;
  margin-left: -40px;

  ul {
    li {
      a {
        display: block;
        overflow: hidden;
        height: 20px;
        padding-left: 20px;
        margin-right: 15px;
        line-height: 1.6em;
        background: url(../images/subheader-bullet.png) no-repeat;
      }
    }
  }
}


/*
 *
 * Languages
 *
 */
#languages {
}


/*
 *
 * Carousels and slides
 *
 */
#carousel {
  @include middle-row;

  ul {
    li {
      min-height: 340px;
      font-size: 1.2em;
      position: relative;

      .row {
        position: absolute;
        bottom: -1px;
      }

      h1 {
        font-size: 3em;
      }

      .btn {
        margin-bottom: 20px;
      }
    }
  }

  #who-wants-pink {
    h1 {
      margin-top: 50px;
    }
  }

  #writing-a-letter {
    h1 {
      margin-top: 25px;
    }

    img {
      bottom: 0;
    }
  }

  #use-your-fingers {
    h1 {
      margin-top: 15px;
    }

    img {
      bottom: 0;
    }
  }
}


/*
 *
 * Front-page: Bridge
 *
 */
#bridge {
  background-color: $dark-gray;
  color: $white;
  font-size: 1.2em;

  .container-content {
    padding: 30px 0;
  }

  img {
    margin-top: -60px;
  }
}


/*
 *
 * Front-page: Channels
 *
 */
#channels {
  font-size: 1.2em;

  .container-content {
    padding: 20px 0 30px 0;
  }

  h1 {
    margin-bottom: 20px;
  }

  ul.icons-list {
    li {
      a {
        width: 36px;
        height: 36px;
      }
    }

    #tel     { @include btn-icon(0,      0, 0,      -36px) }
    #mail    { @include btn-icon(-36px,  0, -36px,  -36px) }
    #twitter { @include btn-icon(-72px,  0, -72px,  -36px) }
    #email   { @include btn-icon(-108px, 0, -108px, -36px) }
    #gMail   { @include btn-icon(-144px, 0, -144px, -36px) }
  }

  .channel-image {
    margin-top: 20px;
  }
}



ul.bullets {
  list-style-image: none;
  font-size: 1.25em;
  margin-top: 15px;
  font-weight: normal;

  li {
    display: block;
    min-height: 23px;
    background: url(../images/red-bullet.png) no-repeat;
    padding-left: 30px;
    margin-bottom: 10px;
    line-height: 1.25em;
  }
}



/*
 *
 * Front-page: Promises
 *
 */
#promises {
  .container-content {
    padding: 30px 0;
  }

  p {
    font-size: 1.5em;
    font-weight: normal;
  }

  ul.icons-list {
    width: 230px;
    min-width: 230px;
    height: 230px;
    margin: 0 auto;

    li {
      padding: 0;
      margin: 0;

      a {
        width: 72px;
        height: 72px;
      }
    }

    #cost         { @include btn-icon(0,      -72px, 0,      -144px) }
    #analyze      { @include btn-icon(-72px,  -72px, -72px,  -144px) }
    #time         { @include btn-icon(-144px, -72px, -144px, -144px) }
    #customizable { @include btn-icon(-216px, -72px, -216px, -144px) }
    #integration  { @include btn-icon(-288px, -72px, -288px, -144px) }
    #cloud        { @include btn-icon(-360px, -72px, -360px, -144px) }
    #ideas        { @include btn-icon(-432px, -72px, -432px, -144px) }
    #performance  { @include btn-icon(-504px, -72px, -504px, -144px) }
    #privacy      { @include btn-icon(-576px, -72px, -576px, -144px) }
  }
}


/*
 *
 * Front-page: References
 *
 */
#references {
  ul.bxslider {
    li {
      margin-bottom: 15px;

      .col-md-3 {
        text-align: center;
      }
    }
  }

  blockquote {
    border: none;
    margin-top: 20px;

    p {
      font-size: 1.87em;
      font-style: italic;
      text-align: center;
    }

    footer {
      color: $pink;
      border: none;
      font-size: 1.5em;
      float: right;

      h3 {
        margin-top: 0;
      }
    }
  }
}


/*
 *
 * Front-page: Quotes
 *
 */
#quotes {
  @include middle-row;
}


#sub-devmods {
  .img-holder {
    img {
      margin-bottom: -30px;
    }
  }
}


#sub-fast-start {
  #row1 {
    .img-holder {
      img {
        margin-top: 90px;
      }
    }
  }

  #row2 {
    .img-holder {
      img {
        margin-top: 35px;
      }
    }
  }

  #row3 {
    .img-holder {
      img {
        margin-top: 15px;
      }
    }
  }

  #row4 {
    .img-holder {
      img {
        margin-top: 50px;
      }
    }
  }
}


#sub-contact {
  form {
    padding-bottom: 90px;

    .form-group {
      @include input-emphasize;
    }

    .checkbox {
      padding: 5px 0 8px 0;

      label {
        margin-right: 15px;
        font-size: 1.1em;

        input {
          margin-right: 5px;
        }
      }
    }

    textarea {
      height: 200px;
    }
  }
}


.dev-mod-select {
  display: none;
}


.verify {
  display: block;
  position:relative;
  width:320px;
  height:500px;
  margin:20px auto;

  a.sprite {
    width:159px;
    height:179px;
    background:url(../images/verify-sprite.png) no-repeat;
    text-indent:-9999px;
    display:inline-block;
  }

  a.verify-icon {
    background-position:0 -92px;
    position:absolute;
    top:90px;
    left:0;
  }

  a.broadcast-icon {
    background-position:-165px 0px;
    position:absolute;
    top:0;
    left:160px;
  }

  a.tracking-icon {
    background-position:0 -274px;
    position:absolute;
    top:269px;
    left:0;

    // temporarily hidden
    display: none;
  }

  a.click-icon {
    background-position:-164px -182px;
    position:absolute;
    top:178px;
    left:159px;
  }

  a.verify-icon.active,
  a.verify-icon:hover {
    background-position:0 -541px;
  }

  a.broadcast-icon.active,
  a.broadcast-icon:hover {
    background-position:-165px -451px;
  }

  a.tracking-icon:hover {
    background-position:0 -724px;
  }

  a.click-icon.active,
  a.click-icon:hover {
    background-position:-164px -631px;
  }

  .fixed-left {
    position:fixed;
    z-index:2;
  }
}


.btn-cancel {
  color: $blue;
  text-decoration: underline;
  display: inline-block;
  margin-left: 5px;
  padding-top: 5px;

  &:hover {
    color: $blue;
  }
}


.input-emphasize {
  @include input-emphasize;
}


#sub-solutions {
  #row1 {
    .img-holder {
      img {
        margin-top: 80px;
      }
    }
  }

  #row2 {
    .img-holder {
      img {
        margin-top: 40px;
      }
    }
  }

  #row3 {
    iframe {
      max-width: 500px;
      width: 100%;
    }
  }
}


#sub-benefits {
  #row1, #row2, #row3 {
    .img-holder {
      img {
        margin-top: 30px;
      }
    }
  }

  #row5 {
    .well {
      background-color: $pink;
      padding: 10px;
      color: $white;
      font-weight: normal;

      @include border-radius(5px);
    }

    strong {
      font-size: 1.15em;
    }

    .img-holder {
      img {
        margin-top: 70px;
      }
    }
  }
}


#sub-dialogs {
  #row1 {
    .img-holder {
      img {
        margin-top: 30px;
      }
    }
  }

  #row2 {
    .img-holder {
      img {
        margin-top: 50px;
      }
    }
  }

  #row3 {
    .img-holder {
      img {
        margin-top: 25px;
      }
    }
  }

  #row4 {
    .img-holder {
      img {
        margin: 15px 0 20px 0;
      }
    }
  }

  #row5 {
    .img-holder {
      img {
        margin: 15px 0 20px 0;
      }
    }
  }
}


#sub-prices {
  #row1 {
    .indicators {
      margin-top: 30px;
      margin-bottom: -25px;

      .piles {
        margin-top: 20px;
        min-height: 23px;
        background: url(../images/red-bullet.png) repeat-x;
      }
    }
  }

  #row2 {
    padding-top: 45px;

    .table, tr, td {
      border: none;
    }

    .table {
      font-size: 1.3em;

      td {
        vertical-align: middle;
      }

      .price-thumb {
        width: 70px;
      }
    }
  }

  #row3 {
    .list-inline {
      margin-top: 40px;
    }
  }
}


#sub-about {
  #row1 {
      margin-bottom: -30px;
  }
}


#sub-contact {
  #map {
    margin: 30px 0 0 0;
    width: 100%;
    height: 320px;
  }
}


/*
 *
 * Front-page: Footer
 *
 */
footer {
  border-top: 3px solid $pink;

  @include middle-row;

  @include navbar-brand(right);

  #footer-nav {
    padding: 17px 15px 0 15px;

    li {
      padding: 0;
      margin-right: 5px;

      a {
        color: $gray;
        font-size: 1.15em;
      }
    }
  }
}



/*
 *
 * bxSlider widget
 *
 */
.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;

  img {
    max-width: 100%;
    display: block;
  }

  .bx-viewport {
    left: -5px;
    background: #fff;
    padding-top: 15px;
  }

  .bx-pager, .bx-controls-auto {
    position: absolute;
    top: 10px;
    width: 100%;
  }

  .bx-loading {
    min-height: 50px;
    // TODO: Replace with sprite
    background: url(../images/bx_loader.gif) center center no-repeat white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
  }

  .bx-pager {
    text-align: center;

    .bx-pager-item {
      display: inline-block;
      *zoom: 1;
      *display: inline;
    }
  }

  .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
  }

  .bx-pager.bx-default-pager a {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    outline: 0;
    border: 2px solid $blue;
    background-color: $white;
    font-size: 1.8em;
    color: $pink;
    text-indent: -9999px;

    @include border-radius(40px);

    &:hover, &.active {
      background: $pink;
      color: $white;
      text-decoration: none;
    }
  }

  .bx-prev {
    left: -100px;
    // TODO: Replace with sprite
    background: url(../images/carousel-controls.png) no-repeat 0 0px;
  }

  .bx-next {
    right: -100px;
    // TODO: Replace with sprite
    background: url(../images/carousel-controls.png) no-repeat -34px 0px;
  }

  .bx-prev:hover {
    // background-position: 0 0;
  }

  .bx-next:hover {
    // background-position: -43px 0;
  }

  .bx-controls-direction a {
    position: absolute;
    top: 45%;
    margin-top: -17px;
    outline: 0;
    width: 34px;
    height: 43px;
    text-indent: -9999px;
    z-index: 300;

    &.disabled {
      display: none;
    }
  }

  .bx-controls-auto {
    text-align: center;

    .bx-start {
      display: block;
      text-indent: -9999px;
      width: 10px;
      height: 11px;
      outline: 0;
      // background: url(images/controls.png) -86px -11px no-repeat;
      margin: 0 3px;

      &:hover, &.active {
        background-position: -86px 0;
      }
    }

    .bx-stop {
      display: block;
      text-indent: -9999px;
      width: 9px;
      height: 11px;
      outline: 0;
      // background: url(images/controls.png) -86px -44px no-repeat;
      margin: 0 3px;

      &:hover, &.active {
        background-position: -86px -33px;
      }
    }
  }

  .bx-controls.bx-has-controls-auto.bx-has-pager {
    .bx-pager {
      text-align: left;
      width: 80%;
    }

    .bx-controls-auto {
      right: 0;
      width: 35px;
    }
  }

  .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;

    span {
      color: #fff;
      font-family: Arial;
      display: block;
      font-size: .85em;
      padding: 10px;
    }
  }
}




.boxed {
  border: 10px solid rgba(226, 31, 141, 0.3);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  @include border-radius(10px);

  .panel-heading {
    background-color: $white;
    position: relative;
    min-height: 72px;

    h3 {
      min-height: 23px;
      background: url(../images/red-bullet.png) no-repeat;
      margin-top: 0;
      padding-left: 22px;
    }

    p {
      display: inline-block;
      float: left;
    }
  }

  .panel-body {
    background-color: $box-gray;
    border: none;

    form {
      padding: 0 25px;
    }

    label {
      margin: 0;
    }
  }

  .panel-footer {
    background-color: $white;
  }
}




@mixin background-cover ($image) {
  background: url($image) no-repeat 100% 100% fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.register-0 {
  @include background-cover('../images/bg-registration-1.jpg');
}

.register-1 {
  @include background-cover('../images/bg-registration-2.jpg');
}

.register-2 {
  @include background-cover('../images/bg-registration-2.jpg');
}

.register-3 {
  @include background-cover('../images/bg-registration-3.jpg');
}

#register-step-1 {
  .panel-icon {
    height: 72px;
    width: 72px;
    background: url($sprite) -360px -216px no-repeat;
    position: absolute;
    top: 0;
    right: 0;
  }
}

#register-step-2, #register-step-3 {
  dl {
    min-height: 111px;
    background: url($sprite) -576px -288px no-repeat;
    padding-left: 75px;
  }
}

@mixin register-step-indicator ($x, $y) {
  .panel-icon {
    height: 25px;
    width: 140px;
    background: url($sprite) $x $y no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

#register-step-2 {
  @include register-step-indicator(0px, -288px);
}

#register-step-3 {
  @include register-step-indicator(-144px, -288px);
}

#register-step-4 {
  @include register-step-indicator(-288px, -288px);
}

#register {
  .panel-heading {
    background: url($sprite) no-repeat -324px 0 center right;
  }
}

















/*
 *
 * Responsive layouts
 *
 */
@media (max-width: 480px) {
  .navbar {
    background-color: $pink;

    .navbar-header {
      background-color: $white;
    }

    .navbar-brand {
      margin: 0 0 0 20px !important;
    }

    ul {
      li {
        margin-left: 20px;
        height: 45px;

        a {
          padding: 10px 4px !important;
          color: $white !important;
        }
      }

      .active {
        a {
          background-color: $pink !important;
          background-image: none !important;
        }
      }
    }

    .navbar-right {
      border-top: 1px solid $white;
    }
  }

  #sub-header {
    position: relative;

    #languages {
      position: absolute;
      top: 0px;
      right: 0px;
    }

    #sub-header-menu {
      margin-bottom: 15px;

      li {
        clear: both !important;
        display: block !important;
        margin-bottom: 15px !important;
      }
    }
  }

  #carousel {
    padding-bottom: 40px;

    ul {
      li {
        min-height: 560px;

        h1 {
          font-size: 2.8em;
        }
      }
    }
  }

  #bridge {
    img {
      margin-top: -15px;
    }
  }

  #row4 {
    .btn-primary {
      margin-bottom: 15px;
    }

    .btn-cancel {
      display: inline;
      margin: 10px 0 0 -2px;
      padding: 0;
    }
  }

  .dev-mod-select {
    display: block;

    select {
      width: 100%;
    }
  }

  .verify {
    display: none;
  }

  .container-content {
    padding: 0 10px !important;
  }

  #sub-fast-start {
    #row1 {
      .img-holder {
        img {
          margin: 30px 0 -60px 0;
        }
      }
    }

    #row2 {
      .img-holder {
        img {
          margin-bottom: -50px;
        }
      }
    }

    #row3 {
      .img-holder {
        img {
          margin-bottom: -45px;
        }
      }
    }

    #row4 {
      .img-holder {
        img {
          margin-bottom: -50px;
        }
      }
    }
  }

  #sub-solutions {
    #row1 {
      .img-holder {
        img {
          margin: 40px 0 -40px 0;
        }
      }
    }

    #row2 {
      .img-holder {
        img {
          margin-bottom: -40px;
        }
      }
    }

    #row3 {
      iframe {
        margin: 40px 0 -20px 0;
      }
    }

    #row4 {
      .img-holder {
        img {
          margin-bottom: -40px;
        }
      }
    }
  }

  #sub-dialogs {
    #row1 {
      .img-holder {
        img {
          margin-top: 30px;
        }
      }
    }

    #row2 {
      .img-holder {
        img {
          margin: 25px 0 -50px 0;
        }
      }
    }

    #row3 {
      .img-holder {
        img {
          margin-bottom: -60px;
        }
      }
    }

    #row4 {
      .img-holder {
        img {
          margin: 15px 0 20px 0;
        }
      }
    }

    #row5 {
      .img-holder {
        img {
          margin: 15px 0 20px 0;
        }
      }
    }
  }

  #sub-benefits {
    #row1, #row2, #row3 {
      .img-holder {
        img {
          margin-bottom: -50px;
        }
      }
    }

    #row5 {
      .img-holder {
        img {
          margin: 20px 0 -50px 0;
        }
      }
    }
  }

  #sub-about {
    #row2 {
      .img-holder {
        img {
          margin: 20px 0 -50px 0;
        }
      }
    }

    #row3 {
      .img-holder {
        img {
          margin: 0 0 -60px 0;
        }
      }
    }
  }

  #sub-contact {
    form {
      padding-bottom: 90px;

      .checkbox {
        label {
          display: block;
          margin-bottom: 5px;
        }
      }
    }
  }

  #tweets, #footer-nav {
    display: none;
  }

  .boxed {
    .panel-body {
      form {
        padding: 0 !important;
      }
    }
  }
}


@media (max-width: 767px) {
}


@media (min-width: 768px) {
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}


@media (min-width: 480px) and (max-width: 979px) {
  h1 {
    font-size: 2.8em;
  }

  #sub-header {
    #languages {
      ul {
        margin-top: 10px !important;
      }
    }
  }

  #carousel {
    ul {
      li {
        img {
          right: 0;
        }
      }
    }
  }

  #writing-a-letter {
    img {
      position: absolute;
      bottom: -340px !important;
    }
  }

  #use-your-fingers {
    img {
      position: absolute;
      bottom: -285px !important;
    }
  }

  #references {
    .bx-wrapper {
      margin-top: 30px;

      .bx-pager {
        top: -20px;
      }
    }
  }
}


@media (max-width: 979px) {
  #bridge {
    img {
      margin-top: -10px;
    }
  }

  .bx-wrapper {
    .bx-prev, .bx-next {
      display: none !important;
    }
  }

  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media (min-width: 980px) {
  .bx-pager {
    display: none;
  }
}


@media (min-width: 1200px) {
  #sub-fast-start {
    #row1 {
      img {
        // margin-top: 80px;
      }
    }
    #row2 {
      img {
        // margin-top: 15px;
      }
    }
    #row4 {
      img {
        // margin-top: 30px;
      }
    }
  }

  #sub-solutions {
    #row1 {
      // position: relative;
      // height: 100%;

      img {
        // position: absolute;
        // top: 158px;
      }
    }

    #row3 {
      iframe {
        margin-top: 60px;
      }
    }
  }
}