/*
 *
 * Variables
 *
 */
$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";



/*
 *
 * Bootstrap modules
 *
 */
@import "../vendors/bootstrap-sass/lib/variables"; // TODO: strip unused variables by embedding them here
@import "../vendors/bootstrap-sass/lib/mixins";
@import "../vendors/bootstrap-sass/lib/normalize";
@import "../vendors/bootstrap-sass/lib/scaffolding";
@import "../vendors/bootstrap-sass/lib/type";
@import "../vendors/bootstrap-sass/lib/grid";
@import "../vendors/bootstrap-sass/lib/tables";
@import "../vendors/bootstrap-sass/lib/forms";
@import "../vendors/bootstrap-sass/lib/buttons";
@import "../vendors/bootstrap-sass/lib/component-animations";
@import "../vendors/bootstrap-sass/lib/input-groups";
@import "../vendors/bootstrap-sass/lib/navs";
@import "../vendors/bootstrap-sass/lib/navbar";
@import "../vendors/bootstrap-sass/lib/utilities";
@import "../vendors/bootstrap-sass/lib/responsive-utilities";



/*
 *
 * Fonts
 *
 */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Titillium+Web);



/*
 *
 * App related variables
 *
 */
$white:     #ffffff !default;
$pink:      #e21f8d !default;
$light-pink:#f8c8e2 !default;
$gray:      #454545 !default;
$light-gray:#d6d4d7 !default;
$dark-gray: #313338 !default;
$blue:      #15cdef !default;
$black:     #000000 !default;

$font-color: $gray;
$button-color: #2a2c30 !default;

$sprite: '../images/askfast-sprite.png' !default;
$channels-sprite: '../images/communucation-channels-sprite.png' !default;



/*
 *
 * Mixins
 *
 */
@mixin border-radius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}


@mixin btn-icon($x1, $x2, $y1, $y2) {
  a {
    background: url($sprite) $x1 $x2;

    &:hover {
      background: url($sprite) $y1 $y2;
      cursor: pointer;
    }
  }

  .active {
    background: url($sprite) $y1 $y2;
    cursor: default;
  }
}


@mixin middle-row() {
  .row {
    max-width: 1170px;
    margin: 0 auto;
  }
}


@mixin front-widget() {
  @include middle-row;

  h1 {
    font-size: 3em;
  }

  p {
    line-height: 1.4em;
    font-size: 1.2em;

    .btn {
      margin-top: 30px;
    }
  }
}


@mixin navbar-brand ($alignment) {
  .navbar-brand {
    float: $alignment;
    display: block;
    text-indent: -9999px;
    width: 131px;
    height: 60px;
    background: url($sprite) -180px 0;
    margin: 0 20px 0 0 !important;
  }
}



/*
 *
 * General styling
 *
 */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  color: $font-color;
  font-size: 12px;
  background-color: $white;

  h1, h2, h3 {
    font-family: 'Titillium Web', sans-serif;
  }

  a {
    &:hover {
    }
  }

  dl {
    font-size: 1.2em;
    dt {
    }
    dd {
      margin-bottom: 15px;
    }
  }

  pre{
    background: $black;
    color: $pink;
    padding: 10px;
    overflow: auto;

    b {
      color: $white;
      font-weight: normal;
    }
  }
}

.text-pink  { color: $pink }
.text-blue  { color: $blue }
.text-white { color: $white }

.list-roman { list-style:lower-roman; }
.list-alpha { list-style:lower-alpha; }


/*
 *
 * Navigation
 *
 */
.navbar {
  min-height: 60px;
  background-color: $white;
  border: none;
  border-bottom: 2px solid $pink;
  z-index: 500;

  @include navbar-brand(left);

  .navbar-nav {
    line-height: 1em;
    margin: 0;
    min-height: 60px;
    padding: 0;

    li {
      a {
        height: 60px;
        display: block;
        padding: 20px 4px 0 4px;
        margin: 0;
        font-size: 1.15em;
        color: $dark-gray;
        background-color: none;

        &:hover {
          text-decoration: none;
          color: $pink;
          background-color: none;
        }
      }
    }

    .active {
      a {
        color: $pink;
        background-color: $white;
        background-image: url(../images/menu-indicator.png);
        background-position: bottom center;
        background-repeat: no-repeat;

        &:hover {
          text-decoration: none;
          cursor: default;
          background-color: $white;
          color: $font-color;
        }
      }
    }
  }

  .navbar-toggle {
    border: 1px solid $pink;
    background-color: $white;
    margin-top: 15px;

    &:hover {
      background-color: $pink;

      .icon-bar {
        background-color: $white;
      }
    }

    .icon-bar {
      background-color: $pink;
    }
  }
}



/*
 *
 * Custom styling
 *
 */
.btn-primary {
  @include border-radius(0);

  border: none;
  min-width: 147px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $blue;
  color: $button-color;

  &:hover {
    background-color: $blue;
    color: $button-color;
  }
}


.icons-list {
  li {
    a {
      display: block;
      text-indent: -9999px;
    }
  }
}



/*
 *
 * Frame
 *
 */
#wrap {
  min-height: 100%;
  height: auto !important;
  padding: 60px 0 0 0;

  .container-content {
    padding: 30px 0;

    @include front-widget;
  }

  .container-dark {
    background-color: $dark-gray;
    color: $white;
  }

  .container-black {
    background-color: $black;
    color: $white;
  }

  .container-gray {
    background-color: $light-gray;
  }
}



/*
 *
 * Sub header
 *
 */
#sub-header {
  min-height: 40px;
  background-color: $pink;
  color: $white;

  @include middle-row;

  ul {
    list-style: none;

    li {
      display: inline;
      float: left;
    }
  }

  a {
    color: $white;

    &:hover {
    }
  }

  ul.sub-header-menu {
    margin-top: 10px;

    li {
      margin-left: 3px;
      background-color: $pink;
      padding: 1px 3px;

      @include border-radius(4px);

      a {
        display: block;

        &:hover {
          cursor: pointer;
        }
      }
    }

    li.active {
      background-color: $light-pink;

      a {
        color: $font-color;

        &:hover {
          text-decoration: none;
          cursor: default;
        }
      }
    }
  }

  #sub-header-menu {
    ul {
      margin-left: 0 !important;
      padding-left: 0 !important;

      li {
        padding: 1px 8px;

        @include border-radius(20px);
      }
    }
  }
}



/*
 *
 * Tweets
 *
 */
#tweets {
  margin-top: 10px;
  margin-left: -40px;

  ul {
    li {
      a {
        display: block;
        overflow: hidden;
        height: 20px;
        padding-left: 20px;
        margin-right: 15px;
        line-height: 1.6em;
        background: url(../images/subheader-bullet.png) no-repeat;
      }
    }
  }
}



/*
 *
 * Languages
 *
 */
#languages {
}



/*
 *
 * Carousels and slides
 *
 */
#carousel {
  @include middle-row;

  ul {
    li {
      min-height: 340px;
      font-size: 1.2em;
      position: relative;

      .row {
        position: absolute;
        bottom: -1px;
      }

      h1 {
        font-size: 3em;
      }

      .btn {
        margin-bottom: 20px;
      }
    }
  }

  #who-wants-pink {
    h1 {
      margin-top: 5px;
    }
  }

  #writing-a-letter {
    h1 {
      margin-top: -15px;
    }

    img {
      bottom: 0;
    }
  }

  #use-your-fingers {
    h1 {
      margin-top: -25px;
    }

    img {
      bottom: 0;
    }
  }
}



/*
 *
 * Front-page: Bridge
 *
 */
#bridge {
  background-color: $dark-gray;
  color: $white;
  font-size: 1.2em;

  img {
    margin-top: -60px;
  }
}



/*
 *
 * Front-page: Channels
 *
 */
#channels {
  background: url(../images/section-shadow.png) repeat-x;
  font-size: 1.2em;

  h1 {
    margin-bottom: 20px;
  }

  ul.icons-list {
    li {
      a {
        width: 36px;
        height: 36px;
      }
    }

    #tel     { @include btn-icon(0,      0, 0,      -36px) }
    #mail    { @include btn-icon(-36px,  0, -36px,  -36px) }
    #twitter { @include btn-icon(-72px,  0, -72px,  -36px) }
    #email   { @include btn-icon(-108px, 0, -108px, -36px) }
    #gMail   { @include btn-icon(-144px, 0, -144px, -36px) }
  }

  .channel-image {
    margin-top: 20px;
  }
}



ul.bullets {
  list-style-image: none;
  font-size: 1.25em;
  margin-top: 15px;
  font-weight: normal;

  li {
    display: block;
    min-height: 23px;
    background: url(../images/red-bullet.png) no-repeat;
    padding-left: 30px;
    margin-bottom: 10px;
    line-height: 1.25em;
  }
}



/*
 *
 * Front-page: Promises
 *
 */
#promises {
  p {
    font-size: 1.5em;
    font-weight: normal;
  }

  ul.icons-list {
    width: 230px;
    min-width: 230px;
    height: 230px;
    margin: 0 auto;

    li {
      padding: 0;
      margin: 0;

      a {
        width: 72px;
        height: 72px;
      }
    }

    #cost         { @include btn-icon(0,      -72px, 0,      -144px) }
    #analyze      { @include btn-icon(-72px,  -72px, -72px,  -144px) }
    #time         { @include btn-icon(-144px, -72px, -144px, -144px) }
    #customizable { @include btn-icon(-216px, -72px, -216px, -144px) }
    #integration  { @include btn-icon(-288px, -72px, -288px, -144px) }
    #cloud        { @include btn-icon(-360px, -72px, -360px, -144px) }
    #ideas        { @include btn-icon(-432px, -72px, -432px, -144px) }
    #performance  { @include btn-icon(-504px, -72px, -504px, -144px) }
    #privacy      { @include btn-icon(-576px, -72px, -576px, -144px) }
  }
}



/*
 *
 * Front-page: References
 *
 */
#references {
  ul.bxslider {
    li {
      margin-bottom: 15px;

      .col-md-3 {
        text-align: center;
      }
    }
  }

  blockquote {
    border: none;
    margin-top: 20px;

    p {
      font-size: 1.87em;
      font-style: italic;
      text-align: center;
    }

    footer {
      color: $pink;
      border: none;
      font-size: 1.5em;
      float: right;

      h3 {
        margin-top: 0;
      }
    }
  }
}


/*
 *
 * Front-page: Quotes
 *
 */
#quotes {
  @include middle-row;
}


#fast-start {
}


.verify {
  position:relative;
  width:320px;
  height:500px;
  margin:20px auto;

  a.sprite {
    width:159px;
    height:179px;
    background:url(../images/verify-sprite2.png) no-repeat;
    text-indent:-9999px;
    display:inline-block;
  }

  a.verify-icon {
    background-position:0 -92px;
    position:absolute;
    top:90px;
    left:0;
  }

  a.broadcast-icon {
    background-position:-165px 0px;
    position:absolute;
    top:0;
    left:160px;
  }

  a.tracking-icon {
    background-position:0 -274px;
    position:absolute;
    top:269px;
    left:0;
  }

  a.click-icon {
    background-position:-164px -182px;
    position:absolute;
    top:178px;
    left:159px;
  }

  a.verify-icon.active,
  a.verify-icon:hover {
    background-position:0 -541px;
  }

  a.broadcast-icon.active,
  a.broadcast-icon:hover {
    background-position:-165px -451px;
  }

  a.tracking-icon:hover {
    background-position:0 -724px;
  }

  a.click-icon.active,
  a.click-icon:hover {
    background-position:-164px -631px;
  }

  .fixed-left {
    position:fixed;
    z-index:2;
  }
}


.btn-cancel {
  color: $blue;
  text-decoration: underline;
  display: inline-block;
  margin-left: 5px;
  padding-top: 5px;
}


.input-emphasize {
  display: block;
  overflow: hidden;
  border: 1px solid #dddddd;
  padding: 10px;
  background-color: $white;
}


#solutions {
  #row3 {
    iframe {
      max-width: 500px;
      width: 100%;
    }
  }
  #row4 {
    img {
      margin-top: -30px;
    }
  }
}


#benefits {
  #row5 {
    .well {
      background-color: $pink;
      padding: 10px;
      color: $white;
      font-weight: normal;

      @include border-radius(5px);
    }

    strong {
      font-size: 1.15em;
    }
  }
}


#dialogs {
  #row4 {
    img {
      margin: 15px 0 20px 0;
    }
  }
}


#prices {
  #row1 {
    .indicators {
      margin-top: 30px;
      margin-bottom: -55px;

      .piles {
        margin-top: 20px;
        min-height: 23px;
        background: url(../images/red-bullet.png) repeat-x;
      }
    }
  }

  #row2 {
    .table, tr, td {
      border: none;
    }

    .table {
      font-size: 1.3em;

      td {
        vertical-align: middle;
      }

      .price-thumb {
        width: 70px;
      }
    }
  }

  #row3 {
    .list-inline {
      margin-top: 40px;
    }
  }
}


#contact {
  #map {
    width: 100%;
    height: 320px;
  }
}


/*
 *
 * Front-page: Footer
 *
 */
footer {
  border-top: 3px solid $pink;

  @include middle-row;

  @include navbar-brand(right);

  #footer-nav {
    padding: 17px 15px 0 15px;

    li {
      padding: 0;
      margin-right: 5px;

      a {
        color: $gray;
        font-size: 1.15em;
      }
    }
  }
}



/*
 *
 * bxSlider widget
 *
 */
.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;

  img {
    max-width: 100%;
    display: block;
  }

  .bx-viewport {
    left: -5px;
    background: #fff;
    padding-top: 15px;
  }

  .bx-pager, .bx-controls-auto {
    position: absolute;
    top: 10px;
    width: 100%;
  }

  .bx-loading {
    min-height: 50px;
    // TODO: Replace with sprite
    background: url(../images/bx_loader.gif) center center no-repeat white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
  }

  .bx-pager {
    text-align: center;

    .bx-pager-item {
      display: inline-block;
      *zoom: 1;
      *display: inline;
    }
  }

  .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
  }

  .bx-pager.bx-default-pager a {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    outline: 0;
    border: 2px solid $blue;
    background-color: $white;
    font-size: 1.8em;
    color: $pink;
    text-indent: -9999px;

    @include border-radius(40px);

    &:hover, &.active {
      background: $pink;
      color: $white;
      text-decoration: none;
    }
  }

  .bx-prev {
    left: -100px;
    // TODO: Replace with sprite
    background: url(../images/carousel-controls.png) no-repeat 0 0px;
  }

  .bx-next {
    right: -100px;
    // TODO: Replace with sprite
    background: url(../images/carousel-controls.png) no-repeat -34px 0px;
  }

  .bx-prev:hover {
    // background-position: 0 0;
  }

  .bx-next:hover {
    // background-position: -43px 0;
  }

  .bx-controls-direction a {
    position: absolute;
    top: 45%;
    margin-top: -17px;
    outline: 0;
    width: 34px;
    height: 43px;
    text-indent: -9999px;
    z-index: 300;

    &.disabled {
      display: none;
    }
  }

  .bx-controls-auto {
    text-align: center;

    .bx-start {
      display: block;
      text-indent: -9999px;
      width: 10px;
      height: 11px;
      outline: 0;
      // background: url(images/controls.png) -86px -11px no-repeat;
      margin: 0 3px;

      &:hover, &.active {
        background-position: -86px 0;
      }
    }

    .bx-stop {
      display: block;
      text-indent: -9999px;
      width: 9px;
      height: 11px;
      outline: 0;
      // background: url(images/controls.png) -86px -44px no-repeat;
      margin: 0 3px;

      &:hover, &.active {
        background-position: -86px -33px;
      }
    }
  }

  .bx-controls.bx-has-controls-auto.bx-has-pager {
    .bx-pager {
      text-align: left;
      width: 80%;
    }

    .bx-controls-auto {
      right: 0;
      width: 35px;
    }
  }

  .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;

    span {
      color: #fff;
      font-family: Arial;
      display: block;
      font-size: .85em;
      padding: 10px;
    }
  }
}



/*
 *
 * Responsive layouts
 *
 */
@media (max-width: 480px) {
  .navbar {
    background-color: $pink;

    .navbar-header {
      background-color: $white;
    }

    .navbar-brand {
      margin: 0 0 0 20px !important;
    }

    ul {
      li {
        margin-left: 20px;
        height: 45px;

        a {
          padding: 10px 4px !important;
          color: $white !important;
        }
      }

      .active {
        a {
          background-color: $pink !important;
          background-image: none !important;
        }
      }
    }

    .navbar-right {
      border-top: 1px solid $white;
    }
  }

  #sub-header {

    #languages {
      position: relative;

      ul {
        position: absolute;
        top: -10px;
        right: 12px;
      }
    }

    #sub-header-menu {
      margin-bottom: 15px;

      li {
        clear: both !important;
        display: block !important;
        margin-bottom: 15px !important;
      }
    }
  }

  #carousel {
    padding-bottom: 40px;

    ul {
      li {
        min-height: 560px;

        h1 {
          font-size: 2.8em;
        }
      }
    }
  }

  #bridge {
    img {
      margin-top: -15px;
    }
  }

  #row4 {
    .btn-primary {
      margin-bottom: 15px;
    }

    .btn-cancel {
      display: inline;
      margin: 10px 0 0 -2px;
      padding: 0;
    }
  }
}


@media (max-width: 767px) {
}


@media (min-width: 768px) {
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}


@media (min-width: 480px) and (max-width: 979px) {
  h1 {
    font-size: 2.8em;
  }

  #sub-header {
    #languages {
      ul {
        margin-top: 10px !important;
      }
    }
  }

  #carousel {
    ul {
      li {
        img {
          right: 0;
        }
      }
    }
  }

  #writing-a-letter {
    img {
      position: absolute;
      bottom: -300px !important;
    }
  }

  #use-your-fingers {
    img {
      position: absolute;
      bottom: -285px !important;
    }
  }

  #references {
    .bx-wrapper {
      margin-top: 30px;

      .bx-pager {
        top: -20px;
      }
    }
  }
}


@media (max-width: 979px) {
  #bridge {
    img {
      margin-top: -10px;
    }
  }

  #tweets, #footer-nav {
    display: none;
  }

  .bx-wrapper {
    .bx-prev, .bx-next {
      display: none !important;
    }
  }

  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media (min-width: 980px) {
  .bx-pager {
    display: none;
  }
}


@media (min-width: 1200px) {
  #fast-start {
    #row1 {
      img {
        margin-top: 80px;
      }
    }
    #row2 {
      img {
        margin-top: 15px;
      }
    }
    #row4 {
      img {
        margin-top: 30px;
      }
    }
  }

  #solutions {
    #row1 {
      position: relative;
      height: 100%;

      img {
        position: absolute;
        top: 158px;
      }
    }

    #row3 {
      iframe {
        margin-top: 60px;
      }
    }
  }
}