$icon-font-path: "/vendors/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
//@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap.scss";

// Core variables and mixins
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/print";

// Core CSS
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

// endbower

@import url("//fonts.googleapis.com/css?family=Ubuntu:700");
@import url("//fonts.googleapis.com/css?family=Lato:700,400,400italic,700italic,300italic,300");
@import url("//fonts.googleapis.com/css?family=Oswald");





// Variables
$pink: #e10b7d;
$white: #ffffff;
$soft-pink: #fadae8;
$yellow: #efbb26;
$green: #14a5a5;

$light-grey: #e5e5e5;

// Mixins

@mixin border-box($box) {
  -webkit-box-sizing: $box;
  -moz-box-sizing: $box;
  box-sizing: $box;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin hyphens($hyphens) {
  -webkit-hyphens: $hyphens;
  -moz-hyphens: $hyphens;
  hyphens: $hyphens;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transition: $transform;
  transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

.fullbackground {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row.noGutter {
  //margin-left: 0;
  //margin-right: 0;
}

.row.noGutter [class*='col-']:not(:first-child),
.row.noGutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Reset CSS
   ========================================================================== */
@CHARSET "ISO-8859-1";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

table {
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

caption, th {
  text-align: left;

}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

textarea {
  resize: vertical;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

::-moz-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



/* ==========================================================================
   Parallax Scroll
   ========================================================================== */

body, html {
  height: 100%;
  min-height: 100%;
  background-color: #ffffff;
}

.no-js {
  /*    padding-top: 40px;*/
}

.loading {
  background: url('../images/ico_loading.gif') no-repeat center center;
}

section {
  opacity: 0;
}

.loaded section,
.no-js section {
  opacity: 1;
  @include transition(opacity 300ms ease-out);
}

.bcg {
  @extend .fullbackground;
  height: 100%;
  width: 100%;
}

.homeSlide .bcg {
  min-height: 400px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*----------Image replacement-----------*/

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*----------Hide from both screenreaders and browsers: h5bp.com/u-----------*/

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*----------For IE 6/7 only * Include this rule to trigger hasLayout and contain floats.-----------*/

.clearfix {
  *zoom: 1;
}

/*----------PRINT STYLES-----------*/

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
   CUSTOM
   ========================================================================== */

/*----------GENERAL-----------*/

body {
  font-family: 'Lato', sans-serif, arial, helvetica;
  color: #000000;
  text-align: center;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}

a, a:hover, a:active, a:visited {
  color: $pink;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  color: $pink;
}

h3 {
  font-size: 20px;
  color: $pink;
  margin-bottom: 4px ;
  text-transform: uppercase;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: $pink;
}

.row div h4 {
  padding-top: 14px;
}

.row div h4:first-child {
  padding-top: 0;
}

p {
  font-size: 14px;
  padding-bottom: 20px;
}

P:last-child {
  padding-bottom: 0;
}

.wordBreak {
  word-break: break-word;
  @include hyphens(auto);
}

.paddingFix {
  /*    padding: 0 30px;*/
}


button.outline {
  border: 1px solid $pink;
  background: none;
  color: $pink;
  padding: 4px 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  @include border-radius(4px);
}


/*----------HEADER-----------*/

#menuBg {
  background: $pink;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 114;
  width: 100%;
  opacity: 0;
}

#menu {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 115;
  height: 60px;
  width: 100%;
  padding: 0;
  margin: 0;
  //background-color: #000;
  border: none;
  .container {
    z-index: 120;
    position: relative;
    text-align: left;
    div div:first-child ul {
      text-align: right;
    }
  }
  .desktopView {
    ul {
      display: none;
      float: right;
    }
  }
  #mainLogo {
    height: auto;
    position: absolute;
    width: 188px;
    padding: 16px 15px;
    a {
      outline: none;
      background: url('../images/AFlogo.png') no-repeat;
      height: 37px;
      display: block;
    }
    span {
      background: url("../images/payOff.png") no-repeat;
      display: block;
      height: 13px;
    }
  }
  li {
    display: inline-block;
    a {
      text-decoration: none;
      color: #fff;
      padding: 22px 18px;
      display: block;
      outline: none;
    }
    a.active {
      color: lighten($pink, 45%);
    }
  }
  li:hover a {
    color: lighten($pink, 45%);
  }
  li.outlineMenu a{
    margin-left: 10px;
    border: 1px solid #ffffff;
    background: none;
    padding: 4px 10px;
    @include border-radius(4px);
  }
  li.outlineMenu a:hover{
    border: 1px solid lighten($pink, 45%);
  }
  #dropdownToggle {
    position: absolute;
    width: 44px;
    height: 40px;
    background: url("../images/dropdownToggle.png") no-repeat;
    right: 0;
    cursor: pointer;
  }
}

#dropdownMenu {
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 40px;
  z-index: 130;
  ul {
    margin-top: 0px;
    li {
      display: block;
      border-top: 1px solid #696969;
      a {
        color: #fff;
      }
    }
  }
}

.titleHeader {
  border-top: 1px solid $pink;
  margin-bottom: 20px;
  text-align: center;
  h4 {
    background-color: white;
    color: $pink;
    text-transform: uppercase;
    position: relative;
    padding: 10px;
    top: -20px;
    display: inline-block;
  }
}

#cookieMessage {
  z-index: 50;
  position: fixed;
  background-color: $pink;
  opacity: 0.9;
  right: 10px;
  bottom: 40px;
  width: 190px;
  padding: 6px;
  @include border-radius(4px);
  display: none;
  p {
    text-align: left;
    font-size: 11px;
    color: #fff;
    line-height: 14px;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
}

#closeCookie:before {
  content: "x";
  color: #fff;
  cursor: pointer;
  right: 2%;
  position: absolute;
  font-weight: bold;
  @include border-radius(50%);
  padding: 0 8px 4px;
  margin: -6px -3px 0 0;
}

.fullWidthPhoto {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.subPageTitle {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  text-shadow: none;
  font-weight: normal;
}

#colorOverlay {
  background: linear-gradient(to bottom right, #333, $pink);
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
}

#footer {
  bottom: 0;
  background: none repeat scroll 0 0 #000;
  color: #fff;
  display: block;
  height: 30px;
  position: fixed;
  width: 100%;
  z-index: 9;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 10px;
  .languageToggle {
    position: fixed;
    display: block;
    background-color: $pink;
    bottom: -3px;
    width: 32px;
  }
  #languageMenu {
    position: fixed;
    background-color: $pink;
    bottom: 30px;
    a {
      opacity: 0.6;
    }
    a:hover {
      opacity: 1;
      color: #fff;
    }
    a.active {
      display: none;
      color: #fff;
    }
  }
  .languageToggle a, #languageMenu a {
    color: #fff;
    padding: 9px;
    display: block;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
  }
  ul.contactDetails {
    display: inline-block;
    li {
      display: inline-block;
      padding: 8px 0 8px 1px;
      a {
        color: #fff;
        outline: none;
      }
      a:hover, #footer .contactDetails a:active {
        color: $pink;
        text-decoration: none;
      }
    }
  }
  ul.extraAddress {
    margin-left: 20px;
  }
  ul.socialMedia {
    padding-top: 3px;
    position: fixed;
    height: 30px;
    display: inline-block;
    right: 0;
    li {
      display: inline-block;
      a {
        display: block;
        width: 30px;
        height: 30px;
      }
    }
    li.facebook {
      a {
        background: url("../images/facebook02.png") no-repeat;
      }
      a:hover {
        background: url("../images/facebook.png") no-repeat;
      }
    }
    li.twitter {
      a {
        background: url("../images/twitter02.png") no-repeat;
      }
      a:hover {
        background: url("../images/twitter.png") no-repeat;
      }
    }
    li.linkedin {
      a {
        background: url("../images/linkedin02.png") no-repeat;
      }
      a:hover {
        background: url("../images/linkedin.png") no-repeat;
      }
    }
    li.googleplus {
      a {
        background: url("../images/googleplus02.png") no-repeat;
      }
      a:hover {
        background: url("../images/googleplus.png") no-repeat;
      }
    }
  }
}

/* ==========================================================================
   HOME PAGE
   ========================================================================== */

#home {

  #intro {
    height: 700px;
    background-color: $pink;
    background-image: url('../images/home/rotterdam02.jpg');
    position: relative;
    .introText {
      margin-top: 240px;
      color: #ffffff;
      text-shadow: black 3px 3px 3px;
      h2 {
        margin-bottom: 20px;
      }
    }
    .communicationChannels {
      position: absolute;
      width: inherit;
      bottom: 0;
      .comChannel {
        bottom: 0;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -24px;
        .comIcon {
          //position: absolute;
          //
          //left:50%;
        }
        .comStick {
          border-left: 4px solid #ffffff;
          margin: 0 auto;
          width: 1px;
        }
        .comLabel {
          padding: 4px 6px;
          bottom: 20px;
          background-color: #ffffff;
          position: absolute;
        }
      }
      .comChannel1 {
        img {
          margin-bottom: -5px;
        }
        .comStick {
          height: 50px;
        }
      }
      .comChannel2 {
        .comStick {
          height: 80px;
        }
      }
      .comChannel3 {
        .comStick {
          height: 60px;
        }
      }
      .comChannel4 {
        img {
          margin-bottom: -6px;
        }
        .comStick {
          height: 50px;
        }
      }
      .comChannel5 {
        img {
          margin-bottom: -7px;
        }
        .comStick {
          height: 100px;
        }
      }
      .comChannel6 {
        .comStick {
          height: 60px;
        }
      }
      .comChannel7 {
        img {
          margin-bottom: -12px;
        }
        .comStick {
          height: 60px;
        }
      }
      .comChannel8 {
        img {
          margin-bottom: -6px;
        }
        .comStick {
          height: 90px;
        }
      }
      .comChannel9 {
        img {
          margin-bottom: -7px;
        }
        .comStick {
          height: 50px;
        }
      }
    }
  }

  #intro2 {
    text-align: center;
    margin: 100px 0 0;
    .introText {
      font-size: 18px;
      font-style: italic;
      margin-bottom: 20px;
    }
  }

  #useCases {
    text-align: center;
    margin: 100px 0;
    .useCase {
      margin-bottom: 60px;
      .icon {
        width: 115px;
        height: 100px;
        background-color: $pink;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
    .useCase1 {
      .icon {
        background-color: transparent;
        background-image: url('../images/home/iconEta.png');
      }
    }
    .useCase2 {
      .icon {
        background-color: transparent;
        background-image: url('../images/home/iconTeamTelephone.png');
      }
    }
    .useCase3 {
      .icon {
        background-color: transparent;
        background-image: url('../images/home/iconClickToCall.png');
      }
    }
  }

  #benefits {
    margin: 40px 0;
    text-align: left;
    .benefits {
      margin-bottom: 60px;
      .icon {
        width: 60px;
        height: 60px;
        background-color: $pink;
        @include border-radius(50%);
      }
    }
    .benefits1 .icon {
      background-image: url('../images/home/iconReach.png');
    }
    .benefits2 .icon {
      background-image: url('../images/home/iconPerformance.png');
    }
    .benefits3 .icon {
      background-image: url('../images/home/iconAnalytics.png');
    }
    .benefits4 .icon {
      background-image: url('../images/home/iconInnovation.png');
    }
    .benefits5 .icon {
      background-image: url('../images/home/iconSecurity.png');
    }
    .benefits6 .icon {
      background-image: url('../images/home/iconCustomization.png');
    }
  }

  #clients {
    .clientLogo {
      margin: 0 auto;
      text-align: center;
      max-width: 80%;
      a {
        display: block;
        img {
          width: 100%;
        }
        .hoverShow {
          display: none;
        }
      }
    }
    .clientLogo:hover .hoverHide {
      display: none;
    }

    .clientLogo:hover .hoverShow {
      display: block;
    }
  }

  #reminder {
    margin: 100px 0;
  }
}





/* ==========================================================================
   USE CASES PAGE
   ========================================================================== */

#useCasesPage {

  #intro {
    height: 400px;
    background-color: $pink;
    position: relative;
    .introText {
      margin-top: 40px;
      color: #ffffff;
      text-shadow: black 3px 3px 3px;
    }
  }

  #casesOverview {
    padding: 100px 0 60px;
    text-align: left;
    background-color: $light-grey;
    .useCase {
      .thumbnail{
        padding: 0;
        margin-bottom: 40px;
        @include box-shadow(1px 1px 2px  rgba(200,200,200,1));
        .media-left {
          height: 100%;
          background-color: $pink;
          padding-right: 0;
        }
        .icon {
          width: 60px;
          height: 60px;
          margin: 20px;
        }
        .media-body {
          padding: 10px;
        }
      }

    }
    .useCase1 {
      .media-left {
        background-color: $green;
        .icon {
          background-image: url('../images/useCases/01twoFactorAuthentication.png');
        }
      }
    }
    .useCase2 {
      .media-left {
        background-color: $yellow;
        .icon {
          background-image: url('../images/useCases/02etaAlertsIcon.png');
        }
      }
    }
    .useCase3 {
      .media-left {
        background-color: $pink;
        .icon {
          background-image: url('../images/useCases/03teamTelephoneIcon.png');
        }
      }
    }
    .useCase4 {
      .media-left {
        background-color: $yellow;
        .icon {
          background-image: url('../images/useCases/04clickToCallIcon.png');
        }
      }
    }
    .useCase5 {
      .media-left {
        background-color: $pink;
        .icon {
          background-image: url('../images/useCases/05pushToTalkIcon.png');
        }
      }
    }
    .useCase6 {
      .media-left {
        background-color: $green;
        .icon {
          background-image: url('../images/useCases/06callerAuthenticationIcon.png');
        }
      }
    }
    .useCase7 {
      .media-left {
        background-color: $pink;
        .icon {
          background-image: url('../images/useCases/07broadcastIcon.png');
        }
      }
    }
    .useCase8 {
      .media-left {
        background-color: $green;
        .icon {
          background-image: url('../images/useCases/08hostedTelephonyIcon.png');
        }
      }
    }
    .useCase9 {
      .media-left {
        background-color: $yellow;
        .icon {
          background-image: url('../images/useCases/09yourSolutionIcon.png');
        }
      }
    }
  }

  #intro {
    .useCaseIcon {
      margin: 0 auto;
      height: 60px;
      width: 60px;
      margin-top: 160px;
      position: relative;
    }
    .caseIcon01 {
      background-image: url('../images/useCases/01twoFactorAuthentication.png');
    }
  }
  #what {
    padding: 100px 0;
  }
  
  #benefits {
    padding: 0 0 60px;
    .titleHeader {
      margin-bottom: 60px;
    }
    .benefit {
      .icon {
        margin: 0 auto;
        background-image: url('../images/useCases/iconCheckMark.png');
        height: 60px;
        width: 60px;
      } 
    }
  }

  #howUse {
    padding-bottom: 100px;
    .titleHeader {
      margin-bottom: 100px;
    }
  }

  #howWork {
    .titleHeader {
      margin-bottom: 100px;
    }
    padding-bottom: 100px ;
  }
}

.useCasesOverview {
  #intro {
    background-image: url('../images/useCases/header.jpg');
  }
}



/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/*----------MIN WIDTH 1200-----------*/

@media (min-width: 1200px) {
  .mobileView {
    display: none;
  }
  .bcg {
    background-attachment: fixed;
  }

  #case01, .casePostnl .bcg {
    background-image: url('../images/cases/postnl.jpg');
  }
  #case02, .caseOlympia .bcg {
    background-image: url('../images/cases/olympia.jpg');
  }
  #case03, .caseBz .bcg {
    background-image: url('../images/cases/buurtzorg.jpg');
  }
  #case04, .caseKnrm .bcg {
    background-image: url('../images/cases/knrm.jpg');
  }
  #jobHeader {
    background-image: url('../images/jobs/ask.jpg');
    height: 600px;
  }
  #platformHeader {
    background-image: url('../images/platform/platformPhoto01.jpg');
    height: 500px;
  }
  #platformPhoto02 {
    background-image: url('../images/platform/platformPhoto02.jpg');
    height: 500px;
  }

}

/*----------MAX WIDTH 1199-----------*/

@media (max-width: 1199px) {
  .aboutContent {
    margin-bottom: 0;
  }

  #mapContainer {
    position: static;
    height: 80%;
    #map {
      height: 100%;
    }
  }

  #platform {
    .platform5 {
      img {
        padding-top: 20px;
      }
    }
  }

}

/*----------MIN WIDTH 992 | MAX WIDTH 1199-----------*/

@media (min-width: 992px) and (max-width: 1199px) {

  .homeSlide .bcg {
    min-height: 600px;
  }

  #case01, .casePostnl .bcg {
    background-image: url('../images/cases/postnl.jpg');
  }
  #case02, .caseOlympia .bcg {
    background-image: url('../images/cases/olympia.jpg');
  }
  #case03, .caseBz .bcg {
    background-image: url('../images/cases/buurtzorg.jpg');
  }
  #case04, .caseKnrm .bcg {
    background-image: url('../images/cases/knrm.jpg');
  }
  #jobHeader {
    background-image: url('../images/jobs/ask.jpg');
    height: 600px;
  }
  #platformHeader {
    background-image: url('../images/platform/platformPhoto01.jpg');
    height: 500px;
  }
  #platformPhoto02 {
    background-image: url('../images/platform/platformPhoto02.jpg');
    height: 500px;
  }

  .mobileView {
    display: none;
  }

}

/*----------MAX WIDTH 991-----------*/

@media (max-width: 991px) {
  .textField h2 span {
    margin: -56px 0 0 0;
  }
}

/*----------MIN WIDTH 768 | MAX WIDTH 991-----------*/

@media (min-width: 768px) and (max-width: 991px) {
  .hideSm {
    display: none !important;
  }

  .smallDeviceContainer {
    padding: 50px 15px !important;
  }

  .homeSlide .bcg {
    min-height: 500px;
  }

  #case01, .casePostnl .bcg {
    background-image: url('../images/cases/postnlSm.jpg');
  }
  #case02, .caseOlympia .bcg {
    background-image: url('../images/cases/olympiaSm.jpg');
  }
  #case03, .caseBz .bcg {
    background-image: url('../images/cases/buurtzorgSm.jpg');
  }
  #case04, .caseKnrm .bcg {
    background-image: url('../images/cases/knrmSm.jpg');
  }
  #jobHeader {
    background-image: url('../images/jobs/askSm.jpg');
    height: 600px;
  }
  #platformHeader {
    background-image: url('../images/platform/platformPhoto01Sm.jpg');
    height: 500px;
  }
  #platformPhoto02 {
    background-image: url('../images/platform/platformPhoto02Sm.jpg');
    height: 500px;
  }

  .mobileView {
    display: none;
  }

}

/*----------MAX WIDTH 767-----------*/

@media (max-width: 767px) {
  .hideXs {
    display: none !important;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }

  .desktopView {
    display: none;
  }

  .anchor {
    top: -60px;
  }
  #menu {
    font-size: 10px;
    height: 40px;
    li a {
      padding: 14px 20px;
      display: block;
      outline: none;
    }
    #mainLogo .logoContainer a {
      outline: none;
      background: url('../images/logoHeaderSmall.png') no-repeat;
      height: 57px;
      width: 80px;
      margin-left: -40px;
    }
  }

  .arrowDownPosition {
    bottom: 10%;
    .arrowDown {
      padding-top: 1px;
      width: 100px;
      height: 34px;
      h4 {
        font-size: 8px;
      }
    }
  }

  .platform {
    p {
      font-size: 12px;
      line-height: 13px;
      padding-top: 0px;
    }
  }

  .slide2 .scenarioImg .absoluteElements span img {
    top: 60px;
  }

  #case01, .casePostnl .bcg {
    background-image: url('../images/cases/postnlXs.jpg');
  }
  #case02, .caseOlympia .bcg {
    background-image: url('../images/cases/olympiaXs.jpg');
  }
  #case03, .caseBz .bcg {
    background-image: url('../images/cases/buurtzorgXs.jpg');
  }
  #case04, .caseKnrm .bcg {
    background-image: url('../images/cases/knrmXs.jpg');
  }

  #platform {
    padding-top: 0;
    .platform3 {
      h2 {
        padding-top: 20px;
      }
    }
  }

  #jobHeader {
    background-image: url('../images/jobs/askXs.jpg');
    height: 250px;
  }
  #platformHeader {
    background-image: url('../images/platform/platformPhoto01Xs.jpg');
    height: 200px;
  }
  #platformPhoto02 {
    background-image: url('../images/platform/platformPhoto02Xs.jpg');
    height: 200px;
  }

  #jobsToggle {
    margin: 14px 0 0 -74px;
    padding: 3px 0;
    /*    z-index: 52;*/
    h4 {
      font-size: 9px;
    }
  }

  #jobArea {
    top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .jobs .job {
    border-bottom: 1px solid $pink;
    padding-bottom: 50px;
  }

  .controlArrow {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-size: 100%;
  }

  #fullPage-nav span, .fullPage-slidesNav span {
    height: 6px;
    width: 6px;
  }

  .smallDeviceContainer {
    padding: 50px 15px !important;
  }
  .textFieldContainer {
    margin: auto 15px;
  }
  .textField .row {
    padding: 0 15px;
  }
  #content .textField .fact {
    border-left: none;
    border-top: 1px solid $pink;
    padding: 20px 0;
  }

  .products {
    p {
      font-size: 12px;
      line-height: 13px;
      padding: 10px 7% 0 7%;
    }
    .container {
      margin: 80px 0;
    }
    img {
      bottom: 10%;
      left: 50%;
      margin: 0 auto 0 -10%;
      width: 20%;
      position: absolute;
      text-align: center;
    }
    .standBy, .teamUp, .joinUs, .blank {
      height: 100%;
    }
  }

  .top {
    height: 40%;
    position: relative;
  }

  .case .textField {
    margin-top: -40%;
    p {
      display: none;
    }
  }

}

/*----------ONLY SCREEN | RATIO 2-----------*/

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #menu {
    .container {
      #mainLogo {
        .logoContainer {
          a {
            background: url('../images/logoHeader@2x.png') no-repeat;
            background-size: 140px 110px;
            height: 110px;
            width: 140px;
          }
        }
      }
    }
  }
}

/*----------ONLY SCREEN | MAX WIDTH 767 | RATIO 2-----------*/

@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  #menu {
    .container {
      #mainLogo {
        .logoContainer {
          a {
            background: url('../images/logoHeaderSmall@2x.png') no-repeat;
            background-size: 80px 57px;
            height: 57px;
            width: 80px;
          }
        }
      }
    }
  }
}



