<article id="sub-about" ng-show="subView.team">
  <div id="row1" class="container-fluid container-content container-gray">
    <div class="row">
      <div class="content-holder col-md-6">
        <h1 class="text-pink">{{ui.pages.about.team.row1.title}}</h1>
        <p ng-repeat="content in ui.pages.about.team.row1.content">{{content}}</p>
      </div>
      <div class="img-holder col-md-6"><img ng-src="../images/3673fb68.team-picture.png" alt="Image of AskFast team picture" class="img-responsive"></div>
    </div>
  </div>
  <div id="row2" class="container-fluid container-content container-dark">
    <div class="row">
      <div class="img-holder col-md-6"><img ng-src="../images/c6deee22.almende-companies.png" alt="Logos of Almende investments" class="img-responsive"></div>
      <div class="content-holder col-md-6">
        <h1>{{ui.pages.about.team.row2.title}}</h1>
        <p ng-repeat="content in ui.pages.about.team.row2.content">{{content}}</p>
        <p><a href="http://almende-investments.com" class="btn btn-primary">{{ui.pages.about.team.row2.cta}}</a></p>
      </div>
    </div>
  </div>
  <div id="row3" ng-show="false" class="container-fluid container-content">
    <div class="row">
      <div class="img-holder col-md-6 col-md-push-6"><img ng-src="../images/50ace72b.stock-developer.png" alt="Image of developer with laptop" class="img-responsive"></div>
      <div class="content-holder col-md-6 col-md-pull-6">
        <h1 class="text-pink">{{ui.pages.about.team.row3.title}}</h1>
        <p>{{ui.pages.about.team.row3.introduction}}</p>
        <ul class="bullets">
          <li ng-repeat="item in ui.pages.about.team.row3.list"><a href="">{{item}}</a></li>
        </ul>
        <p ng-repeat="content in ui.pages.about.team.row3.content">{{content}}</p>
        <p><a ng-click="redirectTo(&quot;about&quot;, &quot;contact&quot;)" class="btn btn-primary">{{ui.pages.about.team.row3.cta}}</a></p>
      </div>
    </div>
  </div>
</article>
<article id="sub-contact" ng-show="subView.contact">
  <div class="container-fluid container-content container-dark">
    <div class="row">
      <div class="col-md-12">
        <script>
          var myLatlng = new google.maps.LatLng(51.920479, 4.454543);
          var mapOptions = {
            zoom: 18,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            panControl: true,
            zoomControl: true,
            mapTypeControl: false,
            scaleControl: true,
            streetViewControl: false,
            overviewMapControl: true
          };
          var mapElement = document.getElementById('map');
          var map = new google.maps.Map(mapElement, mapOptions);
          var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Heemraadsingel 89 3022 CA Rotterdam '
          });
        </script>
        <div id="map"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid container-content container-dark">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center"></div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <article>
          <p></p>
        </article>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <h3>Contact Details:</h3>
          <p><strong> Address: </strong></p>
          <p>Heemraadsingel 89 3022 CA Rotterdam</p>
          <p><strong> Phone: </strong></p>
          <p>+31 (0) 10 225 0130</p>
          <p><strong> E-mail: </strong></p>
          <p>info@ask-fast.com</p>
        </div>
        <div class="col-md-6">
          <h2> We would like to hear from you!</h2>
          <article ng-show="contact.sent">
            <p>Your message has been successfully sent.</p>
          </article>
          <article ng-hide="contact.sent">
            <p>
              Please let us know about your opinions and ideas about our service.
              We promise that we are going to reply as soon as possible we can.
            </p>
            <form role="form" ng-submit="sendContact(contact)">
              <div class="form-group">
                <input type="text" ng-model="contact.name" placeholder="Name" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" ng-model="contact.surname" placeholder="Surname" class="form-control">
              </div>
              <div class="form-group">
                <input type="email" ng-model="contact.email" placeholder="Email Adress" class="form-control">
              </div>
              <div class="checkbox">
                <label>
                  <input name="contact-subject" ng-model="contact.subject" value="Sales" type="radio">Sales
                </label>
                <label>
                  <input name="contact-subject" ng-model="contact.subject" value="Job" type="radio">Job application
                </label>
                <label>
                  <input name="contact-subject" ng-model="contact.subject" value="Partnership" type="radio">Partnership
                </label>
                <label>
                  <input name="contact-subject" ng-model="contact.subject" value="Other" type="radio">Other
                </label>
              </div>
              <div class="form-group">
                <textarea ng-model="contact.message" placeholder="Your Message" class="form-control"></textarea>
              </div>
              <button type="submit" class="btn btn-primary pull-left">Send</button>
            </form>
          </article>
        </div>
      </div>
    </div>
  </div>
</article>