<article id="sub-solutions" ng-show="subView.solutions">
  <div id="row1" class="container-fluid container-content">
    <div class="row">
      <div class="img-holder col-md-6 col-md-push-6"><img ng-src="../images/f15df8a7.stock-flowers.png" alt="Image of flowers" class="img-responsive"></div>
      <div class="content-holder col-md-6 col-md-pull-6">
        <h1 class="text-pink">{{ui.pages.business.solutions.row1.title}}</h1>
        <p ng-repeat="content in ui.pages.business.solutions.row1.content">{{content}}</p>
        <!--p-->
        <!--  a.btn.btn-primary(href='#/register') {{ui.pages.business.solutions.row1.cta}}-->
      </div>
    </div>
  </div>
  <div id="row2" class="container-fluid container-content container-dark">
    <div class="row">
      <div class="img-holder col-md-6"><img ng-src="../images/52d9a2f5.stock-trend-workers.png" alt="Image of trend workers" class="img-responsive"></div>
      <div class="content-holder col-md-6">
        <h1>{{ui.pages.business.solutions.row2.title}}</h1>
        <p ng-repeat="content in ui.pages.business.solutions.row2.content">{{content}}</p>
        <p><a ng-click="redirectTo(&quot;about&quot;, &quot;contact&quot;)" class="btn btn-primary">{{ui.pages.business.solutions.row2.cta}}</a></p>
      </div>
    </div>
  </div>
  <div id="row3" class="container-fluid container-content">
    <div class="row">
      <div class="img-holder col-md-6 col-md-push-6">
        <iframe src="//www.youtube.com/embed/NDnlcEf4s5Y" width="500" height="281" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe><br><br>
      </div>
      <div class="content-holder col-md-6 col-md-pull-6">
        <h1 class="text-pink">{{ui.pages.business.solutions.row3.title}}</h1>
        <p ng-repeat="content in ui.pages.business.solutions.row3.content">{{content}}</p>
        <!--p-->
        <!--  a.btn.btn-primary(href='#/register') {{ui.pages.business.solutions.row3.cta}}-->
      </div>
    </div>
  </div>
  <div id="row4" class="container-fluid container-content container-dark">
    <div class="row">
      <div class="img-holder col-md-6"><img ng-src="../images/c5f31685.stock-hanging-logos.png" alt="Image of hanging logos" class="img-responsive"></div>
      <div class="content-holder col-md-6">
        <h1>{{ui.pages.business.solutions.row4.title}}</h1>
        <p ng-repeat="content in ui.pages.business.solutions.row4.content">{{content}}</p>
        <!--p-->
        <!--  a.btn.btn-primary(href='#/register') {{ui.pages.business.solutions.row4.cta}}-->
        <!--  a.btn.btn-cancel(ng-click='redirectTo("developers", "devmods")')-->
        <!--    | {{ui.pages.business.solutions.row4.cancel}}-->
      </div>
    </div>
  </div>
</article>
<article id="sub-benefits" ng-show="subView.benefits">
  <div id="row1" class="container-fluid container-content">
    <div class="row">
      <div class="img-holder col-md-6 col-md-push-6"><img ng-src="../images/b89ac664.stock-laptop.png" alt="Image of laptop" class="img-responsive"></div>
      <div class="content-holder col-md-6 col-md-pull-6">
        <h1 class="text-pink">{{ui.pages.business.benefits.row1.title}}</h1>
        <p ng-repeat="content in ui.pages.business.benefits.row1.content">{{content}}</p>
        <!--p-->
        <!--  a.btn.btn-primary(href='#/register') {{ui.pages.business.benefits.row1.cta}}-->
      </div>
    </div>
  </div>
  <div id="row2" class="container-fluid container-content container-black">
    <div class="row">
      <div class="img-holder col-md-6"><img ng-src="../images/23c5438e.stock-brain.png" alt="Image of brain" class="img-responsive"></div>
      <div class="content-holder col-md-6">
        <h1>{{ui.pages.business.benefits.row2.title}}</h1>
        <p ng-repeat="content in ui.pages.business.benefits.row2.content">{{content}}</p>
        <p><a ng-click="redirectTo(&quot;about&quot;, &quot;contact&quot;)" class="btn btn-primary">{{ui.pages.business.benefits.row2.cta}}</a></p>
      </div>
    </div>
  </div>
  <div id="row3" class="container-fluid container-content">
    <div class="row">
      <div class="img-holder col-md-6 col-md-push-6"><img ng-src="../images/5e27bec5.stock-euro.png" alt="Image of euro" class="img-responsive"></div>
      <div class="content-holder col-md-6 col-md-pull-6">
        <h1 class="text-pink">{{ui.pages.business.benefits.row3.title}}</h1>
        <p ng-repeat="content in ui.pages.business.benefits.row3.content">{{content}}</p>
      </div>
    </div>
  </div>
  <div id="row4" class="container-fluid container-content container-dark">
    <div class="row content-holder">
      <div class="col-md-10">
        <h2>{{ui.pages.business.benefits.row4.title}}</h2>
        <p ng-repeat="content in ui.pages.business.benefits.row4.content">{{content}}</p>
      </div>
      <div class="col-md-1">
        <p><a href="" class="btn btn-primary">{{ui.pages.business.benefits.row4.cta}}</a></p>
      </div>
    </div>
  </div>
  <div id="row5" class="container-fluid container-content">
    <div class="row">
      <div class="img-holder col-md-6"><img ng-src="../images/a85e63c0.stock-business-people.png" alt="Image of business people" class="img-responsive"></div>
      <div class="content-holder col-md-6">
        <h1 class="text-pink">{{ui.pages.business.benefits.row5.title}}</h1>
        <p ng-repeat="content in ui.pages.business.benefits.row5.content" class="{{($index == 2) &amp;&amp; 'well' || ''}}">{{content}}</p>
        <p><strong>{{ui.pages.business.benefits.row5.tagline}}</strong></p>
        <p><a ng-click="redirectTo(&quot;about&quot;, &quot;contact&quot;)" class="btn btn-primary">{{ui.pages.business.benefits.row5.cta}}</a></p>
      </div>
    </div>
  </div>
</article>