<div id="carousel">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <ul class="bxslider">
        <li id="who-wants-pink">
          <div class="row">
            <div class="col-md-6">
              <h1 class="text-pink">Who pants some pink?</h1>
              <p>
                ASK- Fast is a cloud communication solution that
                is designed and developed for developers and businesses.
              </p>
              <p>
                You can simply develop an automated communication
                for your application or your customer service.
              </p>
              <p><a href="#" class="btn btn-primary">Join Now</a></p>
            </div>
            <div class="col-md-6"><img src="../images/30da13ad.illustration-hands-cloud.png" alt="Illustration Hands Cloud" class="img-responsive pull-right"></div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-12"><br><br>
              <h1>Slide 2</h1>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="bridge">
  <div class="row">
    <div class="col-md-5 col-md-offset-1"><img src="../images/34ba8a69.illustration-askfast-engine.png" alt="Illustration AskFast engine" class="img-responsive"></div>
    <div class="col-md-5">
      <h1 class="text-white">We bridge software and telecom industry.</h1>
      <p>
        ASK- Fast is a cloud communication solution that
        is designed and developed for developers and businesses.
      </p>
      <p>
        You can simply develop an automated communication
        for your application or your customer service. It will work
        with common communication channel and almost with every device.
      </p>
      <p><a href="#" class="btn btn-primary">Case Study</a></p>
    </div>
  </div>
</div>
<div id="channels">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h1 class="text-pink">Communication channels</h1><img src="../images/45c9cc70.channel-icons.png" alt="Channel icons" class="img-responsive"><br>
      <p>
        ASK- Fast is a cloud communication solution that
        is designed and developed for developers and businesses.
      </p>
      <ul>
        <li>Inbound Call</li>
        <li>Outbound Call</li>
        <li>Text to Speech</li>
        <li>Call forwarding and many more feautures.</li>
      </ul>
    </div>
    <div class="col-md-6"><img src="../images/55055945.stock-communication-channel.png" alt="Stock communication channels" class="img-responsive"></div>
  </div>
</div>
<div id="promises">
  <div class="row">
    <div class="col-md-4 col-md-offset-1"><img src="../images/15d23871.icons-cost-reduction.png" alt="Cost reduction icons" class="img-responsive"></div>
    <div class="col-md-7">
      <h1><span class="text-white">We promise</span>&nbsp;<span class="text-pink">Cost Reduction</span></h1>
      <p>
        ASK-Fast reduces the cost of communication while creating
        added value to your business context through automated agents.
        Our rates are among the cheapest in Europe.
      </p>
      <p><a href="#" class="btn btn-primary">Create an account</a></p>
    </div>
  </div>
</div>
<div id="references">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-pink">Our references</h1>
      <ul class="bxslider">
        <li>
          <div class="row">
            <div class="col-md-12"><img src="../images/2a3a62c5.clients-1.png" alt="Clients group 1" class="img-responsive"></div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-12"><img src="../images/dde85fbf.clients-2.png" alt="Clients group 2" class="img-responsive"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <blockquote>
        <p>“We are using ASK-Fast cloud communication for our alarming system.”</p>
        <footer>
          <h3>Johnny Billie, CEO</h3>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
<script>
  $(document).ready(function ()
  {
    $('.bxslider').bxSlider({
      pager: false
    });
  });
</script>