<div id="carousel">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <script>
        $(document).ready(function ()
        {
          $('#carousel .bxslider').bxSlider({
          pager:          true,
          touchEnabled:   false,
          adaptiveHeight: true,
          onSlideBefore:  function ()
          {
          if (window.top.scrollY != 0)
          {
          window.scrollTo(0, 0);
            }
            }
          });
        });
      </script>
      <ul class="bxslider">
        <li id="who-wants-pink">
          <div class="row">
            <div class="col-md-6 col-md-push-6"><img src="../images/701245c0.illustration-hands-cloud.png" alt="Illustration Hands Cloud" class="img-responsive pull-right"></div>
            <div class="col-md-6 col-md-pull-6">
              <h1 class="text-pink">Who wants some pink?</h1>
              <p>
                ASK- Fast is a cloud communication solution that
                is designed and developed for developers and businesses.
              </p>
              <p>
                You can simply develop an automated communication
                for your application or your customer service.
              </p>
              <p><a href="#" class="btn btn-primary">Join Now</a></p>
            </div>
          </div>
        </li>
        <li id="writing-a-letter">
          <div class="row">
            <div class="col-md-6 col-md-push-6"><img src="../images/33533f3f.stock-man-business.png" alt="Picture of business man with typewriter" class="img-responsive pull-right"></div>
            <div class="col-md-6 col-md-pull-6">
              <h1 class="text-pink">Writing a letter to your customer?</h1>
              <p>
                How great is that. If you do not want to focus on efficiency fine.
                ASK-Fast would like to provide better tools to you for your business.
                Power of full customisation is waiting for you and many opportunities too…
              </p>
              <p><a href="#" class="btn btn-primary">Join Now</a></p>
            </div>
          </div>
        </li>
        <li id="use-your-fingers">
          <div class="row">
            <div class="col-md-6 col-md-push-6"><img src="../images/a2e42450.stock-fingers.png" alt="Picture of fingers" class="img-responsive pull-right"></div>
            <div class="col-md-6 col-md-pull-6">
              <h1 class="text-pink">Use your fingers for a better communication.</h1>
              <p>
                We do, we are coders. We are providing you a full-fetched API for SMS,
                E-mail, Automated Phone call, Twitter at the same time. We are keeping
                all the hard work for ourselves and want you to use your fingers for a
                better communication experience.
              </p>
              <p><a href="#" class="btn btn-primary">Join Now</a></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="bridge">
  <div class="row">
    <div class="col-md-5 col-md-offset-1"><img src="../images/34ba8a69.illustration-askfast-engine.png" alt="Illustration AskFast engine" class="img-responsive"></div>
    <div class="col-md-5">
      <h1 class="text-white">We bridge software and telecom industry.</h1>
      <p>
        ASK- Fast is a cloud communication solution that
        is designed and developed for developers and businesses.
      </p>
      <p>
        You can simply develop an automated communication
        for your application or your customer service. It will work
        with common communication channel and almost with every device.
      </p>
      <p><a href="#" class="btn btn-primary">Case Study</a></p>
    </div>
  </div>
</div>
<div id="channels">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h1 class="text-pink">Communication channels</h1>
      <ul class="icons-list list-inline">
        <li id="tel"><a ng-click="setChannelView(&quot;tel&quot;)" class="{{(channelView.tel) &amp;&amp; &quot;active&quot;}}">tel</a></li>
        <li id="mail"><a ng-click="setChannelView(&quot;mail&quot;)" class="{{(channelView.mail) &amp;&amp; &quot;active&quot;}}">mail</a></li>
        <li id="twitter"><a ng-click="setChannelView(&quot;twitter&quot;)" class="{{(channelView.twitter) &amp;&amp; &quot;active&quot;}}">twitter</a></li>
        <li id="email"><a ng-click="setChannelView(&quot;email&quot;)" class="{{(channelView.email) &amp;&amp; &quot;active&quot;}}">email</a></li>
        <li id="gMail"><a ng-click="setChannelView(&quot;gMail&quot;)" class="{{(channelView.gMail) &amp;&amp; &quot;active&quot;}}">gmail</a></li>
      </ul><br>
      <div ng-show="channelView.tel">
        <p>
          ASK- Fast is a cloud communication solution that
          is designed and developed for developers and businesses.
        </p>
        <ul class="bullets">
          <li>Inbound Call</li>
          <li>Outbound Call</li>
          <li>Text to Speech</li>
          <li>Call forwarding and many more feautures.</li>
        </ul>
      </div>
      <div ng-show="channelView.mail">
        <p>Mail stuff</p>
      </div>
      <div ng-show="channelView.twitter">
        <p>Twitter stuff</p>
      </div>
      <div ng-show="channelView.email">
        <p>Email stuff</p>
      </div>
      <div ng-show="channelView.gMail">
        <p>Gmail stuff</p>
      </div>
    </div>
    <div class="col-md-6">
      <div ng-show="channelView.tel"><img src="../images/613aed4f.stock-communication-channel.png" alt="Stock communication channels" class="img-responsive"></div>
      <div ng-show="channelView.mail">
        <p style="margin-top:30px">Image mail</p>
      </div>
      <div ng-show="channelView.twitter">
        <p style="margin-top:30px">Image twitter</p>
      </div>
      <div ng-show="channelView.email">
        <p style="margin-top:30px">Image email</p>
      </div>
      <div ng-show="channelView.gmail">
        <p style="margin-top:30px">Image gmail</p>
      </div>
    </div>
  </div>
</div>
<div id="promises">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <ul class="icons-list list-inline">
        <li id="cost"><a ng-click="setPromiseView(&quot;cost&quot;)" class="{{(promiseView.cost) &amp;&amp; &quot;active&quot;}}">cost</a></li>
        <li id="analyze"><a ng-click="setPromiseView(&quot;analyze&quot;)" class="{{(promiseView.analyze) &amp;&amp; &quot;active&quot;}}">analyze</a></li>
        <li id="time"><a ng-click="setPromiseView(&quot;time&quot;)" class="{{(promiseView.time) &amp;&amp; &quot;active&quot;}}">time</a></li>
        <li id="customizable"><a ng-click="setPromiseView(&quot;customizable&quot;)" class="{{(promiseView.customizable) &amp;&amp; &quot;active&quot;}}">customizable</a></li>
        <li id="integration"><a ng-click="setPromiseView(&quot;integration&quot;)" class="{{(promiseView.integration) &amp;&amp; &quot;active&quot;}}">integration</a></li>
        <li id="cloud"><a ng-click="setPromiseView(&quot;cloud&quot;)" class="{{(promiseView.cloud) &amp;&amp; &quot;active&quot;}}">cloud</a></li>
        <li id="ideas"><a ng-click="setPromiseView(&quot;ideas&quot;)" class="{{(promiseView.ideas) &amp;&amp; &quot;active&quot;}}">ideas</a></li>
        <li id="performance"><a ng-click="setPromiseView(&quot;performance&quot;)" class="{{(promiseView.performance) &amp;&amp; &quot;active&quot;}}">performance</a></li>
        <li id="privacy"><a ng-click="setPromiseView(&quot;privacy&quot;)" class="{{(promiseView.privacy) &amp;&amp; &quot;active&quot;}}">privacy</a></li>
      </ul>
    </div>
    <div class="col-md-7">
      <div ng-show="promiseView.cost">
        <h1><span class="text-white">We promise</span>&nbsp;<span class="text-pink">Cost Reduction</span></h1>
        <p>
          ASK-Fast reduces the cost of communication while creating
          added value to your business context through automated agents.
          Our rates are among the cheapest in Europe.
        </p>
        <p><a href="#" class="btn btn-primary">Create an account</a></p>
      </div>
      <div ng-show="promiseView.analyze">
        <p>Analyze stuff</p>
      </div>
      <div ng-show="promiseView.time">
        <p>Time stuff</p>
      </div>
      <div ng-show="promiseView.customizable">
        <p>customizable stuff</p>
      </div>
      <div ng-show="promiseView.integration">
        <p>integration stuff</p>
      </div>
      <div ng-show="promiseView.cloud">
        <p>cloud stuff</p>
      </div>
      <div ng-show="promiseView.ideas">
        <p>ideas stuff</p>
      </div>
      <div ng-show="promiseView.performance">
        <p>performance stuff</p>
      </div>
      <div ng-show="promiseView.privacy">
        <p>privacy stuff</p>
      </div>
    </div>
  </div>
</div>
<div id="references">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-pink">Our references</h1>
      <script>
        $(document).ready(function ()
        {
          $('#references .bxslider').bxSlider({
            pager:          true,
            touchEnabled:   false,
            adaptiveHeight: true,
            onSlideBefore:  function ()
            {
              if (window.top.scrollY != 0)
              {
                window.scrollTo(0, 0);
              }
            }
          });
        });
      </script>
      <ul class="bxslider">
        <li>
          <div class="row">
            <div class="col-md-12"><img src="../images/2a3a62c5.clients-1.png" alt="Clients group 1" class="img-responsive"></div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-12"><img src="../images/dde85fbf.clients-2.png" alt="Clients group 2" class="img-responsive"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <blockquote>
        <p>“We are using ASK-Fast cloud communication for our alarming system.”</p>
        <footer>
          <h3>Johnny Billie, CEO</h3>
        </footer>
      </blockquote>
    </div>
  </div>
</div>