doctype
html.no-js
  head
    meta(charset='UTF-8')
    title ASK Community Systems
    meta(name='author', content='ASK Community Systems')
    meta(name='keywords', content='expert, applicaties, software, intelligentie, communicatie, cloud, standby, teamup')
    meta(name='description', content='Bouw uw Cloud computing-applicaties op het ASK platform, het intelligente cloud software platform')
    meta(name='Resource-type', content='Document')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='ASK Community Systems', property='og:title')
    meta(content='image', property='og:type')
    meta(content='https://ask-cs.nl/', property='og:url')
    meta(content='', property='og:image')
    link(href='/images/favicon.ico', rel='Shortcut Icon')



    // --------CSS------
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='vendors/animate.css/animate.css')
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild



    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDPfedUiOjX3Vh7V7IhukB1kg1aIzOoM88&sensor=false')




  body(ng-app='AskWeb')



    //--------HEADER------
    #menu.mainMenu
      #dropdownMenu.mobileView.hide
        ul
          li
            a(href='platform.html') {{ui.menu.platform}}
          li
            a#menuProducts(href='index.html#products') {{ui.menu.products}}
          li.active
            a.active(href='about.html') {{ui.menu.company}}
          li
            a(href='cases.html') {{ui.menu.cases}}
      .container
        .row
          .col-xs-5.desktopView
            ul
              li
                a(href='platform.html') {{ui.menu.platform}}
              li
                a#menuProducts(href='index.html#products') {{ui.menu.products}}
          #mainLogo
            .logoContainer
              a(href='index.html')
          .col-xs-5.col-xs-offset-2.desktopView
            ul
              li
                a.active(href='about.html') {{ui.menu.company}}
              li
                a(href='cases.html') {{ui.menu.cases}}
          #dropdownToggle.mobileView

    #jobsToggle
      h4 {{ui.jobs.title}}
    #jobArea.hide
      #closeJobs
      .container
        .row
          .col-md-4.col-sm-6
            h2 {{ui.jobs.title}}
            ol
              li
                a(href='jobs.html#iosdev') {{ui.jobs.iosdev.title}}
              li
                a(href='jobs.html#androiddev') {{ui.jobs.androiddev.title}}
              li
                a(href='jobs.html#webdev') {{ui.jobs.webdev.title}}
              li
                a(href='jobs.html#businessconsultant') {{ui.jobs.businessConsultant.title}}
            h4 {{ui.jobs.internshipTitle}}
            ol
              li
                a(href='jobs.html#stage1') {{ui.jobs.internshipClouds.title}}
              li
                a(href='jobs.html#stage2') {{ui.jobs.internshipPersonalAlarm.title}}
              li.hidden
                a(href='jobs.html#stage3') {{ui.jobs.internshipP2000Alarm.title}}
              li
                a(href='jobs.html#stage4') {{ui.jobs.internshipLearningSoftwareAgent.title}}
              li
                a(href='jobs.html#stage5') {{ui.jobs.internshipTeamup.title}}
          .workAt.col-md-8.col-sm-6.hidden-xs
            h2.col-md-12 {{ui.jobs.workAt.title}}
            p.col-md-6 {{ui.jobs.workAt.description01}}
            p.col-md-6 {{ui.jobs.workAt.description02}}



    //--------COOKIE MESSAGE------
    #cookieMessage
      #closeCookie
      p
        | {{ui.general.cookieMessage}}
        a(href='docs/Privacy-Statement-ASK-Community-Systems.pdf', target='_blank')  {{ui.general.cookieMessageLink}}
        | .


    //--------About Slides------
    #content.aboutContent
      #skrollr-body
        section#slide-1.about1.homeSlide(anim-detached='true')
          .bcg(data-center='background-position: 50% 100%;', data-top-bottom='background-position: 50% -50px;', data-anchor-target='#slide-1')
        section#slide-2.about2.caseTextPart
          .bcg(data-anchor-target='#slide-2')
            .container.smallDeviceContainer
              .row
                .textFieldContainer
                  .textField.text-left.col-md-6.col-sm-6.col-xs-12
                    h2 {{ui.company.pressure.title}}
                    p {{ui.company.pressure.description01}}
                    p {{ui.company.pressure.description02}}
                    p {{ui.company.pressure.description03}}
                    p {{ui.company.pressure.description04}}
                .col-md-6.col-sm-6.col-xs-12(data-106-bottom='opacity: 0', data-center='opacity: 1')
                  img(src='images/about/askIntro.png', style='height: auto; width: 100%; margin: 20px 0;', alt='ASK Communication System')
        section#slide-3.about3.homeSlide(anim-detached='true')
          .bcg(data-center='background-position: 50% -50px;', data-top-bottom='background-position: 50% 100%;', data-anchor-target='#slide-3')
            .container.smallDeviceContainer
              .row
                .textFieldContainer
                  .textField.text-center.col-md-4.col-md-offset-8.col-sm-4.col-sm-offset-8.col-xs-12
                    h2 {{ui.company.howWork.title}}
                    p {{ui.company.howWork.description01}}
                    p {{ui.company.howWork.description02}}
                    a(href='terms.html') {{ui.company.howWork.termsConditions}}
        section#slide-4.about4.caseTextPart
          .bcg(data-anchor-target='#slide-4')
            .container.smallDeviceContainer
              .row
                .col-md-4.col-sm-2
                  h2 {{ui.company.personalNetwork.title}}
                  p {{ui.company.personalNetwork.description}}
                .col-md-8.col-sm-10.col-xs-12.partners
                  .row
                    .col-md-3.col-xs-6.partnerContainer
                      a(href='http://almende.com', target='_blank')
                        img.hoverHide(src='/images/about/partners/almende02.png', alt='Almende')
                        img.hoverShow(src='/images/about/partners/almende01.png', alt='Almende')
                    .col-md-3.col-xs-6.partnerContainer
                      a(href='http://dobots.nl', target='_blank')
                        img.hoverHide(src='/images/about/partners/do02.png', alt='DoBots')
                        img.hoverShow(src='/images/about/partners/do01.png', alt='DoBots')
                    .col-md-3.col-xs-6.partnerContainer
                      a(href='http://sense-os.nl', target='_blank')
                        img.hoverHide(src='/images/about/partners/sense02.png', alt='Sense Observation Systems')
                        img.hoverShow(src='/images/about/partners/sense01.png', alt='Sense Observation Systems')
                    .col-md-3.col-xs-6.partnerContainer
                      a(href='http://luna.nl', target='_blank')
                        img.hoverHide(src='/images/about/partners/luna02.png', alt='Luna')
                        img.hoverShow(src='/images/about/partners/luna01.png', alt='Luna')
                    .col-md-3.col-xs-6.partnerContainer
                      a(href='http://dealservices.nl', target='_blank')
                        img.hoverHide(src='/images/about/partners/deal02.png', alt='Deal Services')
                        img.hoverShow(src='/images/about/partners/deal01.png', alt='Deal Services')
                    .col-md-3.col-xs-6.partnerContainer
                      a(href='http://ask-fast.com', target='_blank')
                        img.hoverHide(src='/images/about/partners/askfast02.png', alt='ASK Fast')
                        img.hoverShow(src='/images/about/partners/askfast01.png', alt='ASK Fast')
                    .col-md-3.col-xs-6.partnerContainer
                      a(href='http://mantelplan.nl', target='_blank')
                        img.hoverHide(src='/images/about/partners/mantelplan02.png', alt='Mantelplan')
                        img.hoverShow(src='/images/about/partners/mantelplan01.png', alt='Mantelplan')
                    .col-md-3.col-xs-6.partnerContainer
                      a(href='http://rotterdam-cs.com', target='_blank')
                        img.hoverHide(src='/images/about/partners/rotterdamcs02.png', alt='Rotterdam Community Solutions')
                        img.hoverShow(src='/images/about/partners/rotterdamcs01.png', alt='Rotterdam Community Solutions')

    #mapContainer
      #map



    //--------FOOTER------
    #footer
      ul.languageToggle
        li
          a
      ul#languageMenu.hide
        li
          a(ng-click="changeLang('de')", class="{{(lang == 'de') && 'active'}}") DE
        li
          a(ng-click="changeLang('nl')", class="{{(lang == 'nl') && 'active'}}") NL
        li
          a(ng-click="changeLang('en')", class="{{(lang == 'en') && 'active'}}") EN
      ul.contactDetails
        li {{ui.contact.address}}
        li.hideXs {{ui.contact.zipcode}}
        li {{ui.contact.city}}
        li.hideXs
          | {{ui.contact.phone}}
          li
            a(href='mailto:{{ui.contact.email}}') {{ui.contact.email}}
      ul.contactDetails.extraAddress.hideXs.hideSm
        li {{ui.contactExtra.address}}
        li.hideXs {{ui.contactExtra.zipcode}}
        li {{ui.contactExtra.city}}
        li.hideXs
          | {{ui.contactExtra.phone}}
          li
            a(href='mailto:{{ui.contactExtra.email}}') {{ui.contactExtra.email}}
      ul.socialMedia.hideXs
        li.facebook
          a(href='https://www.facebook.com/ASKCommunitySystems', target='blank')
        li.twitter
          a(href='https://twitter.com/askcs', target='blank')
        li.linkedin
          a(href='https://www.linkedin.com/company/ask-community-systems', target='blank')
        li.googleplus
          a(href='https://plus.google.com/100201535227830552056', target='blank')


    // __build:js({app,.tmp}) scripts/main.js
    // script(src='scripts/main.js')
    // __endbuild


    //  --------JS------
    // build:js scripts/vendor.js
    // bower:js
    script(src='vendors/jQuery/dist/jquery.js')
    script(src='vendors/bootstrap-sass-official/vendor/assets/javascripts/bootstrap.js')
    script(src='vendors/angular/angular.js')
    // endbower
    // endbuild

    script(src='scripts/main.js')
    script(src='scripts/about.js')

    // build:js scripts/about.js
    script(src='scripts/imagesloaded.js')
    script(src='scripts/skrollr.js')
    script(src='scripts/_main.js')
    script(src='scripts/about.js')
    // endbuild
