doctype
html.no-js
  head
    include includes/headDirect
    include includes/contactFormScript

  body(ng-app='AskFast', data-spy='scroll', data-target='.scrollspy')



    //--------HEADER------
    include includes/headerDeveloperActive



    //--------COOKIE MESSAGE------
    #cookieMessage.hide
      #closeCookie
      p
        | {{ui.general.cookieMessage}}
        a(href='../docs/Privacy-Statement-ASK-Community-Systems.pdf', target='_blank')  {{ui.general.cookieMessageLink}}
        | .



    //--------CONTENT------
    #content
      #developersPage

        #intro.fullbackground
          #colorOverlay
          .container
            .row
              .col-md-12.introText
                .subContainer
                  .hexagonExtended
                    .part1
                      .slash.fSlash
                      .slash.bSlash
                    .part2
                      h1.subPageTitle {{ui.developers.title}}
                    .part3
                      .slash.bSlash
                      .slash.fSlash


        #mainPart
          .container-fluid
            .row
              // Nav Bar
              nav.col-md-2.bs-docs-sidebar.scrollspy
                ul#sidebar.nav.nav-stacked(data-spy="affix")
                  li
                    a(href='#getStart' ng-click="anchorScroll()") {{ui.developers.getStart.title}}
                    ul.nav.nav-stacked
                      li
                        a(href='#GroupASub1' ng-click="anchorScroll()") {{ui.developers.getStart.intro.title}}
                      li
                        a(href='#GroupASub2' ng-click="anchorScroll()") {{ui.developers.getStart.firstCall.title}}
                      li
                        a(href='#GroupASub1' ng-click="anchorScroll()") {{ui.developers.getStart.firstSms.title}}
                      li
                        a(href='#GroupASub2' ng-click="anchorScroll()") {{ui.developers.getStart.environment.title}}
                      li
                        a(href='#GroupASub1' ng-click="anchorScroll()") {{ui.developers.getStart.firstDialog.title}}
                      li
                        a(href='#GroupASub2' ng-click="anchorScroll()") {{ui.developers.getStart.useDialog.title}}
                      li
                        a(href='#GroupASub2' ng-click="anchorScroll()") {{ui.developers.getStart.complexDialog.title}}
                  li
                    a(href='#docs' ng-click="anchorScroll()") {{ui.developers.docs.title}}
                    ul.nav.nav-stacked
                      li
                        a(href='#GroupBSub1' ng-click="anchorScroll()") {{ui.developers.getStart.title}}
                      li
                        a(href='#GroupBSub2' ng-click="anchorScroll()") {{ui.developers.getStart.title}}
                  li
                    a(href='#examples' ng-click="anchorScroll()") {{ui.developers.examples.title}}
                    ul.nav.nav-stacked
                      li
                        a(href='#GroupCSub1' ng-click="anchorScroll()") {{ui.developers.getStart.title}}
                      li
                        a(href='#GroupCSub2' ng-click="anchorScroll()") {{ui.developers.getStart.title}}
              // Main Content
              .col-md-10
                section#getStart.group
                  .titleHeader.phonePrice
                    h4 {{ui.pricing.phone}}
                      .contentBlock
                        .col-md-4.col-md-offset-4
                        h4 {{ui.pricing.country.title}}
                        h3#getStartIntro {{ui.developers.getStart.title}}
                        p {{ui.developers.getStart.intro.description01}}
                        p {{ui.developers.getStart.intro.needs}}
                        ul
                          li {{ui.developers.getStart.intro.need01}}

                  #GroupASub1.subgroup
                    h4 Group A Sub 1
                  #GroupASub2.subgroup
                    h4 Group A Sub 2
                section#GroupB.group
                  h3 Group B
                  #GroupBSub1.subgroup
                    h4 Group B Sub 1
                  #GroupBSub2.subgroup
                    h4 Group B Sub 2
                section#GroupC.group
                  h3 Group C
                  #GroupCSub1.subgroup
                    h4 Group C Sub 1
                  #GroupCSub2.subgroup
                    h4 Group C Sub 2


        #extraInfo
          .container
            .row.contentBlock
              .col-md-12
                p {{ui.pricing.minPrice}}

        #contactUs
          .container
            .row.titleHeader
            .row.contentBlock
              .col-md-6
                button.outline(type='button', data-toggle='modal', data-target='#contactForm')
                  | {{ui.general.contactUs}}

              .col-md-6
                a(href='https://portal.ask-fast.com/index.html#/register#step-1')
                  button.outline {{ui.general.tryForFree}}

        include includes/contactForm



    //--------FOOTER------
    include includes/footer



    //--------JS------
    include includes/scriptLinks
