extends layout



block logo
  .col-md-2
    a(href='#home')
      img(src='images/askfast-logo.png', alt='AskFast')



block navbar
  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Project name
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='#developers') {{ui.globals.nav.main.developers}}
          li
            a(href='#business') {{ui.globals.nav.main.business}}
          li
            a(href='#dialogs') {{ui.globals.nav.main.dialogs}}
          li
            a(href='#prices') {{ui.globals.nav.main.price}}
          li
            a(href='#about') {{ui.globals.nav.main.aboutUs}}
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#register') {{ui.globals.nav.user.register}}
          li
            a(href='#login') {{ui.globals.nav.user.login}}



block nav
  .col-md-8
    ul#nav.list-inline
      li
        a(href='#developers') {{ui.globals.nav.main.developers}}
      li
        span &#183
      li
        a(href='#business') {{ui.globals.nav.main.business}}
      li
        span &#183
      li
        a(href='#dialogs') {{ui.globals.nav.main.dialogs}}
      li
        span &#183
      li
        a(href='#prices') {{ui.globals.nav.main.price}}
      li
        span &#183
      li
        a(href='#about') {{ui.globals.nav.main.aboutUs}}



block user-nav
  .col-md-2.text-right
    ul#user-nav.list-inline
      li
        a(href='#register') REGISTER
      li
        span |
      li
        a(href='#login') LOGIN



block footer
  footer
    .container
      .row
        .col-md-8.col-md-offset-1
          ul#footer-nav.list-inline
            li
              a(href='#about') {{ui.globals.nav.main.aboutUs}}
            li
              a(href='#jobs') {{ui.globals.nav.footer.jobs}}
            li
              a(href='#legal') {{ui.globals.nav.footer.legal}}
            li
              a(href='#contact') {{ui.globals.nav.footer.contact}}
        .col-md-2
          a.pull-right(href='#home')
            img(src='images/askfast-logo.png', alt='AskFast')



block icons
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='icons/apple-touch-icon-144-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='icons/apple-touch-icon-114-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='icons/apple-touch-icon-72-precomposed.png')
  link(rel='apple-touch-icon-precomposed', href='icons/apple-touch-icon-57-precomposed.png')
  link(rel='shortcut icon', href='/favicon.png')



block tweets
  #tweets.col-md-10
      ul
        li
          a(href='#') Virtual Phone numbers are available in Jordan
        li
          a(href='#') Say Hi to our new office in Berlin
        li
          a(href='#') Register for our webinar



block sub-header-menu
  #sub-header-menu.col-md-10
    ul.sub-header-menu
      li.active
        a(ng-click="") FastStart
      li
        a(ng-click="") Devmods
      li
        a(ng-click="") Documents



block languages
  #languages.col-md-2
    ul.sub-header-menu.pull-right
      li(class="{{(app.language == 'en') && 'active'}}")
        a(ng-click="setLanguage('en')") EN
      li(class="{{(app.language == 'nl') && 'active'}}")
        a(ng-click="setLanguage('nl')") NL



block iestuff
  //if lt IE 7
    p.chromeframe
      | You are using an outdated browser.
      a(href='http://browsehappy.com/') Upgrade your browser today
      | or
      a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
      | to better experience this site.
  //if lt IE 9
    script(src='vendors/es5-shim/es5-shim.js')
    script(src='vendors/json3/lib/json3.min.js')



//block analytics
//  // Google Analytics: change UA-XXXXX-X to be your site's ID.
//  script
//    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
//    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
//    g.src='//www.google-analytics.com/ga.js';
//    s.parentNode.insertBefore(g,s)}(document,'script'));