doctype
html.no-js
  head
    meta(charset='UTF-8')
    title ASK-Fast
    meta(name='author', content='ASK-Fast')
    meta(name='keywords', content='ask-fast')
    meta(name='description', content='ASK-Fast')
    meta(name='Resource-type', content='Document')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='ASK-Fast', property='og:title')
    meta(content='image', property='og:type')
    meta(content='https://ask-fast.nl/', property='og:url')
    meta(content='', property='og:image')
    link(href='/images/favicon.ico', rel='Shortcut Icon')


    // --------CSS------
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='vendors/animate.css/animate.css')
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    script(src='vendors/modernizr/modernizr.js')



  body(ng-app='AskFast')



    //--------HEADER------
    #menuBg(data-106-top='opacity: 1', data-bottom='opacity: 0;', data--10p-top='opacity: 0;', data--60p-top='opacity: 1;', data-anchor-target='body')
    #menu.mainMenu
      #dropdownMenu.mobileView.hide
        ul
          li
            a(href='usecases/index.html') {{ui.menu.useCases}}
          li
            a(href='pricing.html') {{ui.menu.pricing}}
          li
            a(href='developers.html') {{ui.menu.developers}}
      .container
        .row
          .col-sm-2
            #mainLogo
              a(href='index.html')
              span.payOff(data-106-top='opacity: 0', data-bottom='opacity: 1;', data--10p-top='opacity: 1;', data--30p-top='opacity: 0;', data-anchor-target='body')
          .col-xs-10.desktopView

            ul
              li
                a(href='usecases/index.html') {{ui.menu.useCases}}
              li
                a(href='pricing.html') {{ui.menu.pricing}}
              li
                a(href='developers.html') {{ui.menu.developers}}
              li.outlineMenu
                a(href='https://portal.ask-fast.com') {{ui.menu.login}}
              li.outlineMenu
                a(href='https://portal.ask-fast.com/index.html#/register#step-1') {{ui.menu.tryForFree}}
          #dropdownToggle.mobileView



    //--------COOKIE MESSAGE------
    #cookieMessage.hide
      #closeCookie
      p
        | {{ui.general.cookieMessage}}
        a(href='docs/Privacy-Statement-ASK-Community-Systems.pdf', target='_blank')  {{ui.general.cookieMessageLink}}
        | .



    //--------INTRO------
    #content
      #home

        #intro.fullbackground
          #colorOverlay
          .container
            .row
              .col-md-12.introText
                h1 {{ui.home.intro.slogan}}
            .row.communicationChannels.noGutter
              .col-md-4
                .col-md-4
                  .comChannel.comChannel1
                    img.comIcon(src='images/home/channels/phone.png', alt='Phone')
                    .comStick
                    span.comLabel.hide {{ui.home.intro.comLabel1}}
                .col-md-4
                  .comChannel.comChannel2
                    img.comIcon(src='images/home/channels/smartphone.png', alt='Smartphone')
                    .comStick
                    span.comLabel.hide {{ui.home.intro.comLabel2}}
                .col-md-4
                  .comChannel.comChannel3
                    img.comIcon(src='images/home/channels/tablet.png', alt='Tablet')
                    .comStick
                    span.comLabel.hide {{ui.home.intro.comLabel3}}
              .col-md-4
                .col-md-4
                  .comChannel.comChannel4
                    img.comIcon(src='images/home/channels/laptop.png', alt='PC')
                    .comStick
                    span.comLabel.hide {{ui.home.intro.comLabel4}}
                .col-md-4
                  .comChannel.comChannel5
                    img.comIcon(src='images/home/channels/twitter.png', alt='Twitter')
                    .comStick
                    span.comLabel.hide {{ui.home.intro.comLabel5}}
                .col-md-4
                  .comChannel.comChannel6
                    img.comIcon(src='images/home/channels/facebook.png', alt='Facebook')
                    .comStick
                    span.comLabel.hide {{ui.home.intro.comLabel6}}
              .col-md-4
                .col-md-4
                  .comChannel.comChannel7
                    img.comIcon(src='images/home/channels/chat.png', alt='Chat')
                    .comStick
                    span.comLabel.hide {{ui.home.intro.comLabel7}}
                .col-md-4
                  .comChannel.comChannel8
                    img.comIcon(src='images/home/channels/mail.png', alt='Email')
                    .comStick
                    span.comLabel.hide {{ui.home.intro.comLabel8}}
                .col-md-4
                  .comChannel.comChannel9
                    img.comIcon(src='images/home/channels/pager.png', alt='Pager')
                    .comStick
                    span.comLabel.hide {{ui.home.intro.comLabel9}}

        #intro2
          .container
            .contentBlock
              .row
                .col-md-8.col-md-offset-2
                  h2 {{ui.home.intro.title}}
                  p.introText {{ui.home.intro.introText}}
              .row
                .col-md-12
                  a(href='https://portal.ask-fast.com/index.html#/register#step-1')
                    button.outline {{ui.general.tryForFree}}


        #useCases
          .container
            .row.titleHeader
              h4 {{ui.home.useCases.mainTitle}}
            .contentBlock
              .row
                .col-sm-4.useCase.useCase1
                  .icon
                  h3 {{ui.home.useCases.title01}}
                  p {{ui.home.useCases.description01}}
                .col-sm-4.useCase.useCase2
                  .icon
                  h3 {{ui.home.useCases.title02}}
                  p {{ui.home.useCases.description02}}
                .col-sm-4.useCase.useCase3
                  .icon
                  h3 {{ui.home.useCases.title03}}
                  p {{ui.home.useCases.description03}}
              .row
                .col-md-12
                  button.outline {{ui.general.readMore}}


        #benefits
          .container
            .row.titleHeader
              h4 {{ui.home.benefits.mainTitle}}
            .contentBlock
              .row
                .col-sm-6.benefits.benefits1
                  .media
                    .media-left.media-middle
                      .icon
                    .media-body
                      h3 {{ui.home.benefits.title01}}
                      p {{ui.home.benefits.description01}}
                .col-sm-6.benefits.benefits2
                  .media
                    .media-left.media-middle
                      .icon
                    .media-body
                      h3 {{ui.home.benefits.title02}}
                      p {{ui.home.benefits.description02}}
              .row
                .col-sm-6.benefits.benefits3
                  .media
                    .media-left.media-middle
                      .icon
                    .media-body
                      h3 {{ui.home.benefits.title03}}
                      p {{ui.home.benefits.description03}}
                .col-sm-6.benefits.benefits4
                  .media
                    .media-left.media-middle
                      .icon
                    .media-body
                      h3 {{ui.home.benefits.title04}}
                      p {{ui.home.benefits.description04}}
              .row
                .col-sm-6.benefits.benefits5
                  .media
                    .media-left.media-middle
                      .icon
                    .media-body
                      h3 {{ui.home.benefits.title05}}
                      p {{ui.home.benefits.description05}}
                .col-sm-6.benefits.benefits6
                  .media
                    .media-left.media-middle
                      .icon
                    .media-body
                      h3 {{ui.home.benefits.title06}}
                      p {{ui.home.benefits.description06}}


        #clients
          .container
            .row.titleHeader
              h4 {{ui.home.clients.mainTitle}}
            .contentBlock
              .row
                .col-md-3.col-sm-6
                  .clientLogo.tnt
                    a(href="#")
                      img.hoverShow(src="images/home/tnt02.png")
                      img.hoverHide(src="images/home/tntGray.png")
                .col-md-3.col-sm-6
                  .clientLogo.amstelring
                    a(href="#")
                      img.hoverShow(src="images/home/amstelring.png")
                      img.hoverHide(src="images/home/amstelringGray.png")
                .col-md-3.col-sm-6
                  .clientLogo.vitens
                    a(href="#")
                      img.hoverShow(src="images/home/vitens02.png")
                      img.hoverHide(src="images/home/vitensGray.png")
                .col-md-3.col-sm-6
                  .clientLogo.rb
                    a(href="#")
                      img.hoverShow(src="images/home/reddingsbrigade.png")
                      img.hoverHide(src="images/home/reddingsbrigadeGray.png")

        #reminder
          .container
            .row.titleHeader
            .row.contentBlock
              .col-md-12
                a(href='https://portal.ask-fast.com/index.html#/register#step-1')
                  button.outline {{ui.general.tryForFree}}



    //--------FOOTER------
    #footer
      ul.languageToggle
        li
          a
      ul#languageMenu.hide
        li
          a(ng-click="changeLang('nl')", class="{{(lang == 'nl') && 'active'}}") NL
        li
          a(ng-click="changeLang('en')", class="{{(lang == 'en') && 'active'}}") EN
      ul.contactDetails
        li {{ui.contact.address}}
        li.hideXs {{ui.contact.zipcode}}
        li {{ui.contact.city}}
        li.hideXs
          | {{ui.contact.phone}}
          li
            a(href='mailto:{{ui.contact.email}}') {{ui.contact.email}}
      ul.contactDetails.extraAddress.hideXs.hideSm
        li {{ui.contactExtra.address}}
        li.hideXs {{ui.contactExtra.zipcode}}
        li {{ui.contactExtra.city}}
        li.hideXs
          | {{ui.contactExtra.phone}}
          li
            a(href='mailto:{{ui.contactExtra.email}}') {{ui.contactExtra.email}}
      ul.socialMedia.hide
        li.facebook
          a(href='https://www.facebook.com/ASKCommunitySystems', target='blank')
        li.twitter
          a(href='https://twitter.com/askcs', target='blank')
        li.linkedin
          a(href='https://www.linkedin.com/company/ask-community-systems', target='blank')
        li.googleplus
          a(href='https://plus.google.com/100201535227830552056', target='blank')



    //--------JS------
    // build:js scripts/vendor.js
    // bower:js
    script(src='vendors/jQuery/dist/jquery.js')
    script(src='vendors/bootstrap-sass-official/vendor/assets/javascripts/bootstrap.js')
    script(src='vendors/angular/angular.js')
    // endbower
    // endbuild

    script(src='scripts/main.js')

    // build:js scripts/index.js
    script(src='scripts/imagesloaded.js')
    script(src='scripts/skrollr.js')
    script(src='scripts/_main.js')
    script(src='scripts/index.js')
    // endbuild
