doctype
html.no-js
  head
    meta(charset='UTF-8')
    title ASK Community Systems
    meta(name='author', content='ASK Community Systems')
    meta(name='keywords', content='talent, developer, cloud, software, internationaal, agent, intelligent')
    meta(name='description', content='Werken in een internationale omgeving? ASK is altijd op zoek naar software development talent')
    meta(name='Resource-type', content='Document')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='ASK Community Systems', property='og:title')
    meta(content='image', property='og:type')
    meta(content='https://ask-cs.nl/', property='og:url')
    meta(content='', property='og:image')
    link(href='/images/favicon.ico', rel='Shortcut Icon')



    // --------CSS------
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='vendors/animate.css/animate.css')
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild


    //  --------JS (ALSO @ END)------
    // build:js scripts/vendor.js
    // bower:js
    script(src='vendors/jQuery/dist/jquery.js')
    script(src='vendors/angular/angular.js')
    // endbower
    // endbuild


    // build:js scripts/jobs.js
    script(src='scripts/imagesloaded.js')
    script(src='scripts/skrollr.js')
    script(src='scripts/_main.js')
    // endbuild

    style(type='text/css')
      | html,body {background-color: #fff;}

  body.jobs(ng-app='AskWeb')


    // build:js({app,.tmp}) scripts/main.js
    script(src='scripts/main.js')
    // endbuild





    //--------HEADER------
    #menu.mainMenu
      #dropdownMenu.mobileView.hide
        ul
          li
            a(href='platform.html') {{ui.menu.platform}}
          li
            a#menuProducts(href='index.html#products') {{ui.menu.products}}
          li
            a(href='about.html') {{ui.menu.company}}
          li
            a(href='cases.html') {{ui.menu.cases}}
      .container
        .row
          .col-xs-5.desktopView
            ul
              li
                a(href='platform.html') {{ui.menu.platform}}
              li
                a#menuProducts(href='index.html#products') {{ui.menu.products}}
          #mainLogo
            .logoContainer
              a(href='index.html')
          .col-xs-5.col-xs-offset-2.desktopView
            ul
              li
                a(href='about.html') {{ui.menu.company}}
              li
                a(href='cases.html') {{ui.menu.cases}}
          #dropdownToggle.mobileView




    //--------COOKIE MESSAGE------
    #cookieMessage
      #closeCookie
      p
        | {{ui.general.cookieMessage}}
        a(href='docs/Privacy-Statement-ASK-Community-Systems.pdf', target='_blank')  {{ui.general.cookieMessageLink}}
        | .


    //--------JOBS ------
    #jobHeader
    #content
      .container.smallDeviceContainer


        .job
          .row
            a#iosdev.anchor
            .col-md-12.col-sm-12.col-xs-12
              h2 {{ui.jobs.iosdev.title}}
          .row
            .col-md-6.col-sm-12.col-xs-12
              p.intro {{ui.jobs.iosdev.intro}}
          .row
            .col-md-6.col-sm-6.col-xs-12
              .row
                .col-md-6.col-sm-12.col-xs-12
                  h4 {{ui.jobs.keyResTitle}}
                  ol
                    li {{ui.jobs.iosdev.keyRes.point01}}
                    li {{ui.jobs.iosdev.keyRes.point02}}
                    li {{ui.jobs.iosdev.keyRes.point03}}
                    li {{ui.jobs.iosdev.keyRes.point04}}
                    li {{ui.jobs.iosdev.keyRes.point05}}
                    li {{ui.jobs.iosdev.keyRes.point06}}
                .col-md-6.col-sm-12.col-xs-12
                  .knowledge.col-md-12
                    h4 {{ui.jobs.knowledgeTitle}}
                    ol
                      li {{ui.jobs.iosdev.knowledge.point01}}
                      li {{ui.jobs.iosdev.knowledge.point02}}
                      li {{ui.jobs.iosdev.knowledge.point03}}
                      li {{ui.jobs.iosdev.knowledge.point04}}
                      li {{ui.jobs.iosdev.knowledge.point05}}
                      li {{ui.jobs.iosdev.knowledge.point06}}
                      li {{ui.jobs.iosdev.knowledge.point07}}
            .col-md-3.col-sm-6.col-xs-12
              h4 {{ui.jobs.profileTitle}}
              ol
                li {{ui.jobs.iosdev.profile.point01}}
                li {{ui.jobs.iosdev.profile.point02}}
                li {{ui.jobs.iosdev.profile.point03}}
                li {{ui.jobs.iosdev.profile.point04}}
                li {{ui.jobs.iosdev.profile.point05}}
                li {{ui.jobs.iosdev.profile.point06}}
                li {{ui.jobs.iosdev.profile.point07}}
                li {{ui.jobs.iosdev.profile.point08}}
            .col-md-3.col-sm-6.col-xs-12
              .reactField.col-md-12
                h4 {{ui.jobs.contactTitle}}
                p.italic {{ui.jobs.contactDescription01}}
                p.contactItem
                  span.callIcon.icon
                  | 010 225 0130
                p.contactItem
                  span.mailIcon.icon
                  a(href='mailto:judith@ask-cs.com') judith@ask-cs.com

        .job
          .row
            a#androiddev.anchor
            .col-md-12.col-sm-12.col-xs-12
              h2 {{ui.jobs.androiddev.title}}
          .row
            .col-md-6.col-sm-12.col-xs-12
              p.intro {{ui.jobs.androiddev.intro}}
          .row
            .col-md-6.col-sm-6.col-xs-12
              .row
                .col-md-6.col-sm-12.col-xs-12
                  h4 {{ui.jobs.keyResTitle}}
                  ol
                    li {{ui.jobs.androiddev.keyRes.point01}}
                    li {{ui.jobs.androiddev.keyRes.point02}}
                    li {{ui.jobs.androiddev.keyRes.point03}}
                    li {{ui.jobs.androiddev.keyRes.point04}}
                    li {{ui.jobs.androiddev.keyRes.point05}}
                    li {{ui.jobs.androiddev.keyRes.point06}}
                .col-md-6.col-sm-12.col-xs-12
                  .knowledge.col-md-12
                    h4 {{ui.jobs.knowledgeTitle}}
                    ol
                      li {{ui.jobs.androiddev.knowledge.point01}}
                      li {{ui.jobs.androiddev.knowledge.point02}}
                      li {{ui.jobs.androiddev.knowledge.point03}}
                      li {{ui.jobs.androiddev.knowledge.point04}}
                      li {{ui.jobs.androiddev.knowledge.point05}}
                      li {{ui.jobs.androiddev.knowledge.point06}}
                      li {{ui.jobs.androiddev.knowledge.point07}}
            .col-md-3.col-sm-6.col-xs-12
              h4 {{ui.jobs.profileTitle}}
              ol
                li {{ui.jobs.androiddev.profile.point01}}
                li {{ui.jobs.androiddev.profile.point02}}
                li {{ui.jobs.androiddev.profile.point03}}
                li {{ui.jobs.androiddev.profile.point04}}
                li {{ui.jobs.androiddev.profile.point05}}
                li {{ui.jobs.androiddev.profile.point06}}
                li {{ui.jobs.androiddev.profile.point07}}
                li {{ui.jobs.androiddev.profile.point08}}
            .col-md-3.col-sm-6.col-xs-12
              .reactField.col-md-12
                h4 {{ui.jobs.contactTitle}}
                p.italic {{ui.jobs.contactDescription01}}
                p.contactItem
                  span.callIcon.icon
                  | 010 225 0130
                p.contactItem
                  span.mailIcon.icon
                  a(href='mailto:judith@ask-cs.com') judith@ask-cs.com

        .job
          .row
            a#webdev.anchor
            .col-md-12.col-sm-12.col-xs-12
              h2 {{ui.jobs.webdev.title}}
          .row
            .col-md-6.col-sm-12.col-xs-12
              p.intro {{ui.jobs.webdev.intro}}
          .row
            .col-md-6.col-sm-6.col-xs-12
              .row
                .col-md-6.col-sm-12.col-xs-12
                  h4 {{ui.jobs.keyResTitle}}
                  ol
                    li {{ui.jobs.webdev.keyRes.point01}}
                    li {{ui.jobs.webdev.keyRes.point02}}
                    li {{ui.jobs.webdev.keyRes.point03}}
                    li {{ui.jobs.webdev.keyRes.point04}}
                    li {{ui.jobs.webdev.keyRes.point05}}
                    li {{ui.jobs.webdev.keyRes.point06}}
                .col-md-6.col-sm-12.col-xs-12
                  .knowledge.col-md-12
                    h4 {{ui.jobs.knowledgeTitle}}
                    ol
                      li {{ui.jobs.webdev.knowledge.point01}}
                      li {{ui.jobs.webdev.knowledge.point02}}
                      li {{ui.jobs.webdev.knowledge.point03}}
                      li {{ui.jobs.webdev.knowledge.point04}}
            .col-md-3.col-sm-6.col-xs-12
              h4 {{ui.jobs.profileTitle}}
              ol
                li {{ui.jobs.webdev.profile.point01}}
                li {{ui.jobs.webdev.profile.point02}}
                li {{ui.jobs.webdev.profile.point03}}
                li {{ui.jobs.webdev.profile.point04}}
                li {{ui.jobs.webdev.profile.point05}}
                li {{ui.jobs.webdev.profile.point06}}
                li {{ui.jobs.webdev.profile.point07}}
                li {{ui.jobs.webdev.profile.point08}}
            .col-md-3.col-sm-6.col-xs-12
              .reactField.col-md-12
                h4 {{ui.jobs.contactTitle}}
                p.italic {{ui.jobs.contactDescription01}}
                p.contactItem
                  span.callIcon.icon
                  | 010 225 0130
                p.contactItem
                  span.mailIcon.icon
                  a(href='mailto:judith@ask-cs.com') judith@ask-cs.com

        .job
          .row
            a#businessconsultant.anchor
            .col-md-12.col-sm-12.col-xs-12
              h2 {{ui.jobs.businessConsultant.title}}
          .row
            .col-md-6.col-sm-12.col-xs-12
              p.intro {{ui.jobs.businessConsultant.intro}}
          .row
            .col-md-6.col-sm-6.col-xs-12
              .row
                .col-md-6.col-sm-12.col-xs-12
                  .knowledge.col-md-12
                    h4 {{ui.jobs.knowledgeTitle}}
                    ol
                      li {{ui.jobs.businessConsultant.knowledge.point01}}
                      li {{ui.jobs.businessConsultant.knowledge.point02}}
                      li {{ui.jobs.businessConsultant.knowledge.point03}}
                .col-md-6.col-sm-12.col-xs-12
                  h4 {{ui.jobs.profileTitle}}
                  ol
                    li {{ui.jobs.businessConsultant.profile.point01}}
                    li {{ui.jobs.businessConsultant.profile.point02}}
                    li {{ui.jobs.businessConsultant.profile.point03}}
                    li {{ui.jobs.businessConsultant.profile.point04}}
                    li {{ui.jobs.businessConsultant.profile.point05}}
                    li {{ui.jobs.businessConsultant.profile.point06}}
                    li {{ui.jobs.businessConsultant.profile.point07}}
            .col-md-3.col-sm-6.col-xs-12
              h4 {{ui.jobs.offerTitle}}
              ol
                li {{ui.jobs.businessConsultant.offer.point01}}
                li {{ui.jobs.businessConsultant.offer.point02}}
                li {{ui.jobs.businessConsultant.offer.point03}}
                li {{ui.jobs.businessConsultant.offer.point04}}
            .col-md-3.col-sm-6.col-xs-12
              .reactField.col-md-12
                h4 {{ui.jobs.contactTitle}}
                p.italic {{ui.jobs.contactDescription01}}
                p.contactItem
                  span.callIcon.icon
                  | 010 225 0130
                p.contactItem
                  span.mailIcon.icon
                  a(href='mailto:judith@ask-cs.com') judith@ask-cs.com

        .job
          .row
            a#stage1.anchor
            .col-md-12.col-sm-12.col-xs-12
              h2 {{ui.jobs.internshipTitle02}} {{ui.jobs.internshipClouds.title}}
          .row
            .col-md-6.col-sm-6.col-xs-12.challenge
              h4 {{ui.jobs.challengeTitle}}
              .row
                .col-md-6.col-sm-12.col-xs-12
                  p {{ui.jobs.internshipClouds.challengeDescription01}}
                .col-md-6.col-sm-12.col-xs-12
                  p {{ui.jobs.internshipClouds.challengeDescription02}}
            .col-md-3.col-sm-6.col-xs-12
              .seeking.col-md-12
                h4 {{ui.jobs.weSeekTitle}}
                p {{ui.jobs.internshipClouds.weSeekDescription01}}
            .col-md-3.col-sm-6.col-xs-12
              .reactField.col-md-12
                h4 {{ui.jobs.contactTitle}}
                p.italic {{ui.jobs.contactDescription01}}
                p.contactItem
                  span.callIcon.icon
                  | 010 225 0130
                p.contactItem
                  span.mailIcon.icon
                  a(href='mailto:judith@ask-cs.com') judith@ask-cs.com

        .job
          .row
            a#stage2.anchor
            .col-md-12.col-sm-12.col-xs-12
              h2 {{ui.jobs.internshipTitle02}} {{ui.jobs.internshipPersonalAlarm.title}}
          .row
            .col-md-6.col-sm-6.col-xs-12.challenge
              h4 {{ui.jobs.challengeTitle}}
              .row
                .col-md-6.col-sm-12.col-xs-12
                  p {{ui.jobs.internshipPersonalAlarm.challengeDescription01}}
                .col-md-6.col-sm-12.col-xs-12
                  p {{ui.jobs.internshipPersonalAlarm.challengeDescription02}}
            .col-md-3.col-sm-6.col-xs-12
              .seeking.col-md-12
                h4 {{ui.jobs.weSeekTitle}}
                p {{ui.jobs.internshipPersonalAlarm.weSeekDescription01}}
            .col-md-3.col-sm-6.col-xs-12
              .reactField.col-md-12
                h4 {{ui.jobs.contactTitle}}
                p.italic {{ui.jobs.contactDescription01}}
                p.contactItem
                  span.callIcon.icon
                  | 010 225 0130
                p.contactItem
                  span.mailIcon.icon
                  a(href='mailto:judith@ask-cs.com') judith@ask-cs.com

        .job
          .row
            a#stage4.anchor
            .col-md-12.col-sm-12.col-xs-12
              h2 {{ui.jobs.internshipTitle02}} {{ui.jobs.internshipLearningSoftwareAgent.title}}
          .row
            .col-md-6.col-sm-6.col-xs-12.challenge
              h4 {{ui.jobs.challengeTitle}}
              .row
                .col-md-6.col-sm-12.col-xs-12
                  p {{ui.jobs.internshipLearningSoftwareAgent.challengeDescription01}}
                  p {{ui.jobs.internshipLearningSoftwareAgent.challengeDescription02}}
                .col-md-6.col-sm-12.col-xs-12
                  p {{ui.jobs.internshipLearningSoftwareAgent.challengeDescription03}}
            .col-md-3.col-sm-6.col-xs-12
              .seeking.col-md-12
                h4 {{ui.jobs.weSeekTitle}}
                p {{ui.jobs.internshipLearningSoftwareAgent.weSeekDescription01}}
            .col-md-3.col-sm-6.col-xs-12
              .reactField.col-md-12
                h4 {{ui.jobs.contactTitle}}
                p.italic {{ui.jobs.contactDescription01}}
                p.contactItem
                  span.callIcon.icon
                  | 010 225 0130
                p.contactItem
                  span.mailIcon.icon
                  a(href='mailto:judith@ask-cs.com') judith@ask-cs.com

        .job
          .row
            a#stage5.anchor
            .col-md-12.col-sm-12.col-xs-12
              h2 {{ui.jobs.internshipTitle02}} {{ui.jobs.internshipTeamup.title}}
          .row
            .col-md-6.col-sm-6.col-xs-12.challenge
              h4 {{ui.jobs.challengeTitle}}
              .row
                .col-md-6.col-sm-12.col-xs-12
                  p {{ui.jobs.internshipTeamup.challengeDescription01}}
                .col-md-6.col-sm-12.col-xs-12
                  p {{ui.jobs.internshipTeamup.challengeDescription02}}
            .col-md-3.col-sm-6.col-xs-12
              .seeking.col-md-12
                h4 {{ui.jobs.weSeekTitle}}
                p {{ui.jobs.internshipTeamup.weSeekDescription01}}
            .col-md-3.col-sm-6.col-xs-12
              .reactField.col-md-12
                h4 {{ui.jobs.contactTitle}}
                p.italic {{ui.jobs.contactDescription01}}
                p.contactItem
                  span.callIcon.icon
                  | 010 225 0130
                p.contactItem
                  span.mailIcon.icon
                  a(href='mailto:judith@ask-cs.com') judith@ask-cs.com






    //--------FOOTER------
    #footer
      ul.languageToggle
        li
          a
      ul#languageMenu.hide
        li
          a(ng-click="changeLang('de')", class="{{(lang == 'de') && 'active'}}") DE
        li
          a(ng-click="changeLang('nl')", class="{{(lang == 'nl') && 'active'}}") NL
        li
          a(ng-click="changeLang('en')", class="{{(lang == 'en') && 'active'}}") EN
      ul.contactDetails
        li {{ui.contact.address}}
        li.hideXs {{ui.contact.zipcode}}
        li {{ui.contact.city}}
        li.hideXs
          | {{ui.contact.phone}}
          li
            a(href='mailto:{{ui.contact.email}}') {{ui.contact.email}}
      ul.contactDetails.extraAddress.hideXs.hideSm
        li {{ui.contactExtra.address}}
        li.hideXs {{ui.contactExtra.zipcode}}
        li {{ui.contactExtra.city}}
        li.hideXs
          | {{ui.contactExtra.phone}}
          li
            a(href='mailto:{{ui.contactExtra.email}}') {{ui.contactExtra.email}}
      ul.socialMedia.hideXs
        li.facebook
          a(href='https://www.facebook.com/ASKCommunitySystems', target='blank')
        li.twitter
          a(href='https://twitter.com/askcs', target='blank')
        li.linkedin
          a(href='https://www.linkedin.com/company/ask-community-systems', target='blank')
        li.googleplus
          a(href='https://plus.google.com/100201535227830552056', target='blank')


    // __build:js({app,.tmp}) scripts/main.js
    // script(src='scripts/main.js')
    // __endbuild


    //  --------JS------
    // build:js scripts/vendor.js
    // bower:js
    script(src='vendors/jQuery/dist/jquery.js')
    script(src='vendors/bootstrap-sass-official/vendor/assets/javascripts/bootstrap.js')
    script(src='vendors/angular/angular.js')
    // endbower
    // endbuild
    script(src='scripts/main.js')
    // build:js scripts/cases.js
    script(src='scripts/imagesloaded.js')
    script(src='scripts/skrollr.js')
    script(src='scripts/_main.js')
    //script(src='scripts/cases.js')
    // endbuild

