doctype
html
  head
    include includes/headDirect

  body(ng-app='AskFast', data-spy='scroll', data-target='.scrollspy').ng-cloak



    //--------HEADER------
    .ng-cloak
      include includes/header



    //--------COOKIE MESSAGE------
    #cookieMessage.hide
      #closeCookie
      p
        | {{ui.general.cookieMessage}}
        a(href='../docs/Privacy-Statement-ASK-Community-Systems.pdf', target='_blank')  {{ui.general.cookieMessageLink}}
        | .



    //--------CONTENT------
    div(ng-view, autoscroll).ng-cloak
      block content


    //--------FOOTER------
    .ng-cloak
      include includes/footer



    //--------JS------
    include includes/scriptLinks
