!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js(lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title AskFast Development Center
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    meta(name='signet:authors', content='Cengiz Ulusoy')
    meta(name='signet:links', content='http://github.com/Cengizism, http://twitter.com/Cengizism')
    block icons
    // build:css({.tmp,app}) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
  body
    block iestuff
    block navbar
    #wrap.ng-cloak
      .container-fluid
        #sub-header(ng-hide='isInternPage()')
          .row
            block sub-header-menu
            //block languages
        div(ng-view='')
    block footer
    script(data-main='scripts/main', src='vendors/requirejs/require.js')
    script(type='text/javascript',
    src='https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false')