doctype
html.no-js
  head
    meta(charset='UTF-8')
    title ASK Community Systems
    meta(name='author', content='ASK Community Systems')
    meta(name='keywords', content='ask platform, cloudbased, apps, communicatie, cloud, last minute, planning, live, realtime')
    meta(name='description', content='ASK Platform biedt makkelijke app ontwikkeling in de cloud voor last minute oplossingen')
    meta(name='Resource-type', content='Document')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='ASK Community Systems', property='og:title')
    meta(content='image', property='og:type')
    meta(content='https://ask-cs.nl/', property='og:url')
    meta(content='', property='og:image')
    link(href='/images/favicon.ico', rel='Shortcut Icon')



    // --------CSS------
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='vendors/animate.css/animate.css')
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild



  body(ng-app='AskWeb')



    //--------HEADER------
    #menu.mainMenu
      #dropdownMenu.mobileView.hide
        ul
          li.active
            a.active(href='platform.html') {{ui.menu.platform}}
          li
            a#menuProducts(href='index.html#products') {{ui.menu.products}}
          li
            a(href='about.html') {{ui.menu.company}}
          li
            a(href='cases.html') {{ui.menu.cases}}
      .container
        .row
          .col-xs-5.desktopView
            ul
              li
                a.active(href='platform.html') {{ui.menu.platform}}
              li
                a#menuProducts(href='index.html#products') {{ui.menu.products}}
          #mainLogo
            .logoContainer
              a(href='index.html')
          .col-xs-5.col-xs-offset-2.desktopView
            ul
              li
                a(href='about.html') {{ui.menu.company}}
              li
                a(href='cases.html') {{ui.menu.cases}}
          #dropdownToggle.mobileView


    //--------COOKIE MESSAGE------
    #cookieMessage
      #closeCookie
      p
        | {{ui.general.cookieMessage}}
        a(href='docs/Privacy-Statement-ASK-Community-Systems.pdf', target='_blank')  {{ui.general.cookieMessageLink}}
        | .


    //--------PLATFORM STORY------
    #content
      #platform
        #platformHeader.fullWidthPhoto
        section.platform1
          .container.smallDeviceContainer
            .row
              .col-md-6.col-sm-6
                h1 {{ui.platform.intro.title}}
                p {{ui.platform.intro.description01}}
                p {{ui.platform.intro.description02}}
                p {{ui.platform.intro.description03}}
              .col-md-6.col-sm-6
                p
                img(src='images/platform/platform01.png', alt='platform')
        section.platform2
          .container.smallDeviceContainer
            .row
              .col-md-12
                h2 {{ui.platform.need.title}}
              .col-md-6.col-sm-6
                p {{ui.platform.need.description01}}
                p
              .col-md-6.col-sm-6
                p {{ui.platform.need.description02}}
                p
            .row.text-center
              .col-md-4.col-sm-4
                .textField.col-md-12
                  p
                    img(src='images/platform/platformAlarm.png', alt='alarm')
                  h4 {{ui.platform.need.exampleTitle01}}
                  p {{ui.platform.need.example01}}
              .col-md-4.col-sm-4
                .textField.col-md-12
                  p
                    img(src='images/platform/platformPackage.png', alt='package')
                  h4 {{ui.platform.need.exampleTitle02}}
                  p {{ui.platform.need.example02}}
              .col-md-4.col-sm-4
                .textField.col-md-12
                  p
                    img(src='images/platform/platformClock.png', alt='clock')
                  h4 {{ui.platform.need.exampleTitle03}}
                  p {{ui.platform.need.example03}}
        section.platform3
          .container.smallDeviceContainer
            .row
              .col-md-4.col-sm-6
                img(src='images/platform/platform03.png', alt='platform')
              .col-md-7.col-md-offset-1.col-sm-6
                h2 {{ui.platform.businessGoals.title}}
                p {{ui.platform.businessGoals.description01}}
                p {{ui.platform.businessGoals.description02}}
        section.platform4
          .container.smallDeviceContainer
            .row
              .col-md-12
                h2 {{ui.platform.context.title}}
              .col-md-4.col-sm-4
                h4 {{ui.platform.context.needContext.title}}
                p {{ui.platform.context.needContext.description01}}
              .col-md-4.col-sm-4
                h4 {{ui.platform.context.inputContext.title}}
                p {{ui.platform.context.inputContext.description01}}
              .col-md-4.col-sm-4
                h4 {{ui.platform.context.meaningfulInfo.title}}
                p {{ui.platform.context.meaningfulInfo.description01}}
        #platformPhoto02.fullWidthPhoto
        section.platform5
          .container.smallDeviceContainer
            .row
              .col-md-12
                h2 {{ui.platform.thePlatform.title}}
              .col-md-7.col-sm-6
                h4 {{ui.platform.thePlatform.communicationIntensity.title}}
                p {{ui.platform.thePlatform.communicationIntensity.description01}}
                p {{ui.platform.thePlatform.communicationIntensity.description02}}
                p {{ui.platform.thePlatform.communicationIntensity.description03}}
              .col-md-5.col-sm-6
                img(src='images/platform/platform04.png', alt='cloudPlatform')
        section.platform6
          .container.smallDeviceContainer
            .row
              .col-md-5.col-sm-6
                p
                p
                img(src='images/platform/platform02.png', alt='platform')
              .col-md-7.col-sm-6
                h4 {{ui.platform.thePlatform.nextGeneration.title}}
                p {{ui.platform.thePlatform.nextGeneration.description01}}
                p {{ui.platform.thePlatform.nextGeneration.description02}}
                  a(href='https://ask-fast.com', target='_blank') {{ui.platform.thePlatform.nextGeneration.link01}}
                  | . {{ui.platform.thePlatform.nextGeneration.description0202}}
                p {{ui.platform.thePlatform.nextGeneration.description03}}
                p {{ui.platform.thePlatform.nextGeneration.description04}}
        section.platform7
          .container.smallDeviceContainer
            .row
              .col-md-4.col-sm-12
                .row
                  .col-md-12.col-sm-6
                    p {{ui.platform.model.description01}}
                  .col-md-12.col-sm-6
                    p {{ui.platform.model.description02}}
              .col-md-8.col-sm-12
                img(src='images/platform/platformModel.png', alt='Platform model')






    //--------FOOTER------
    #footer
      ul.languageToggle
        li
          a
      ul#languageMenu.hide
        li
          a(ng-click="changeLang('de')", class="{{(lang == 'de') && 'active'}}") DE
        li
          a(ng-click="changeLang('nl')", class="{{(lang == 'nl') && 'active'}}") NL
        li
          a(ng-click="changeLang('en')", class="{{(lang == 'en') && 'active'}}") EN
      ul.contactDetails
        li {{ui.contact.address}}
        li.hideXs {{ui.contact.zipcode}}
        li {{ui.contact.city}}
        li.hideXs
          | {{ui.contact.phone}}
          li
            a(href='mailto:{{ui.contact.email}}') {{ui.contact.email}}
      ul.contactDetails.extraAddress.hideXs.hideSm
        li {{ui.contactExtra.address}}
        li.hideXs {{ui.contactExtra.zipcode}}
        li {{ui.contactExtra.city}}
        li.hideXs
          | {{ui.contactExtra.phone}}
          li
            a(href='mailto:{{ui.contactExtra.email}}') {{ui.contactExtra.email}}
      ul.socialMedia.hideXs
        li.facebook
          a(href='https://www.facebook.com/ASKCommunitySystems', target='blank')
        li.twitter
          a(href='https://twitter.com/askcs', target='blank')
        li.linkedin
          a(href='https://www.linkedin.com/company/ask-community-systems', target='blank')
        li.googleplus
          a(href='https://plus.google.com/100201535227830552056', target='blank')




    //  --------JS------
    // build:js scripts/vendor.js
    // bower:js
    script(src='vendors/jQuery/dist/jquery.js')
    script(src='vendors/bootstrap-sass-official/vendor/assets/javascripts/bootstrap.js')
    script(src='vendors/angular/angular.js')
    // endbower
    // endbuild

    script(src='scripts/main.js')


    // build:js scripts/cases.js
    script(src='scripts/imagesloaded.js')
    script(src='scripts/skrollr.js')
    script(src='scripts/_main.js')
    //script(src='scripts/cases.js')
    // endbuild
