doctype
html.no-js
  head
    include includes/headDirect
  body(ng-app='AskFast')



    //--------HEADER------
    include includes/headerPricingActive



    //--------COOKIE MESSAGE------
    #cookieMessage.hide
      #closeCookie
      p
        | {{ui.general.cookieMessage}}
        a(href='../docs/Privacy-Statement-ASK-Community-Systems.pdf', target='_blank')  {{ui.general.cookieMessageLink}}
        | .



    //--------CONTENT------
    #content
      #pricingPage

        #intro.fullbackground
          #colorOverlay
          .container
            .row
              .col-md-12.introText
                h1.subPageTitle {{ui.pricing.title}}
            //.row
            //  .col-md-6.col-md-offset-3
            //    h4.introText {{ui.home.intro.introText}}

        .zigZagBorder
        #priceOverview
          .container.contentBlock
            .row
              table.table.table-bordered.table-striped
                caption
                  h3 Telephone
                thead
                  th
                  th Inbound
                  th Outbound
                tbody
                  tr
                    th Local
                    th € 1,-
                    th € 1,-
                  tr
                    th Mobile
                    th € 1,-
                    th € 1,-
            .row
              table.table.table-bordered.table-striped
                caption
                  h3 SMS
                thead
                  th
                  th Inbound
                  th Outbound
                tbody
                  tr
                    th SMS
                    th € 1,-
                    th € 1,-
                  tr
                    th Mobile
                    th € 1,-
                    th € 1,-




        #contactUs
          .container
            .row.titleHeader
            .row.contentBlock
              .col-md-6
                a(href='')
                  button.outline {{ui.general.contactUs}}
              .col-md-6
                a(href='')
                  button.outline {{ui.general.contactUs}}



    //--------FOOTER------
    include includes/footer



    //--------JS------
    // build:js scripts/vendor.js
    // bower:js
    script(src='../vendors/jQuery/dist/jquery.js')
    script(src='../vendors/bootstrap-sass-official/vendor/assets/javascripts/bootstrap.js')
    script(src='../vendors/angular/angular.js')
    // endbower
    // endbuild

    script(src='../scripts/main.js')

    // build:js ../scripts/usecases.js
    script(src='../scripts/imagesloaded.js')
    script(src='../scripts/skrollr.js')
    script(src='../scripts/_main.js')
    script(src='../ scripts/usecases.js')
    // endbuild
