doctype
html.no-js
  head
    include includes/headDirect
  body(ng-app='AskFast')



    //--------HEADER------
    include includes/headerPricingActive



    //--------COOKIE MESSAGE------
    #cookieMessage.hide
      #closeCookie
      p
        | {{ui.general.cookieMessage}}
        a(href='../docs/Privacy-Statement-ASK-Community-Systems.pdf', target='_blank')  {{ui.general.cookieMessageLink}}
        | .



    //--------CONTENT------
    #content
      #pricingPage

        #intro.fullbackground
          #colorOverlay
          .container
            .row
              .col-md-12.introText
                h1.subPageTitle {{ui.pricing.title}}
            //.row
            //  .col-md-6.col-md-offset-3
            //    h4.introText {{ui.home.intro.introText}}

        .zigZagBorder
        #countrySelect
          .container.contentBlock
            .row
              .col-md-4
                h4 Enter your country
                input.form-control



        #priceOverview2
          .container
            .row
              .col-md-6
                .titleHeader.phonePrice
                  h4 {{ui.pricing.phone}}
                  .row.item
                    .col-md-12
                      h5 {{ui.pricing.number}}
                      h3.price {{ui.pricing.example}}
                  .row.item
                    .col-md-12
                      h5 {{ui.pricing.inbound}}
                      h3.price {{ui.pricing.example}}
                  .row.item
                    .col-md-12
                      h5 {{ui.pricing.outbound}}
                      h3.price {{ui.pricing.example}}
              .col-md-6
                .titleHeader.phonePrice
                  h4 SMS
                  .row.item
                    .col-md-12
                      h5 Number
                      p.price € 1,-
                  .row.item
                    .col-md-12
                      h5 Number
                      p.price € 1,-
                  .row.item
                    .col-md-12
                      h5 Number
                      p.price € 1,-

        #priceOverview
          .container.contentBlock
            .row
              .col-md-12
                p Minimum cost per running instance of dialog 0.09 euro
                table.table.table-bordered.table-striped
                  caption
                    h3 Telephone
                  thead
                    th
                    th Inbound
                    th Outbound
                  tbody
                    tr
                      th Local
                      th € 1,-
                      th € 1,-
                    tr
                      th Mobile
                      th € 1,-
                      th € 1,-
            .row
              .col-md-12
                table.table.table-bordered.table-striped
                  caption
                    h3 SMS
                  thead
                    th
                    th Inbound
                    th Outbound
                  tbody
                    tr
                      th SMS
                      th € 1,-
                      th € 1,-
                    tr
                      th Mobile
                      th € 1,-
                      th € 1,-




        #contactUs
          .container
            .row.titleHeader
            .row.contentBlock
              .col-md-6
                a(href='')
                  button.outline {{ui.general.contactUs}}
              .col-md-6
                a(href='')
                  button.outline {{ui.general.tryForFree}}



    //--------FOOTER------
    include includes/footer



    //--------JS------
    // build:js scripts/vendor.js
    // bower:js

    // endbower
    script(src='../vendors/jquery/dist/jquery.js')
    script(src='../vendors/bootstrap-sass/assets/javascripts/bootstrap.js')
    script(src='../vendors/angular/angular.js')
    // endbuild



    script(src='../scripts/main.js')

    // build:js ../scripts/usecases.js
    script(src='../scripts/imagesloaded.js')
    script(src='../scripts/skrollr.js')
    script(src='../scripts/_main.js')
    script(src='../ scripts/usecases.js')
    // endbuild
