doctype
html.no-js
  head
    include ../includes/headSub
    script.
      function IsEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
      //return email === 'lvdinten@ask-cs.com'
      }
      //Contact form
      function sendMail(){
        var contactName = $.trim($("#contactName").val());
        var contactEmail = $.trim($("#contactEmail").val());
        var message = $.trim($("#message").val());
        var errorColor = "#a83533";
        var errorFontColor = "white";
        var rightColor = "white";
        var rightFontColor = "#433c2d";
        var sendMailURL = "../mail/sendMail.php";
        sendMailURL += "?contactName="+contactName +
                "&contactEmail="+contactEmail+
                "&message="+message+" \\nASK-Fast website";
        if(contactName == '' ){
          alert("Vul alstublieft uw naam in.");
          $("#contactName").css("background-color" ,errorColor).css("color" ,errorFontColor);
          return ;
        }else{
          $("#contactName").css("background-color" ,rightColor).css("color" ,rightFontColor);
        }
        if(contactEmail == '' ){
          alert("Vul alstublieft uw emailadres in.");
          $("#contactEmail").css("background-color" ,errorColor).css("color" ,errorFontColor);
          return ;
        }else{
          if(!IsEmail(contactEmail)){
            alert("Uw emailadres is ongeldig.");
            $("#contactEmail").css("background-color" ,errorColor).css("color" ,errorFontColor);
            return;
          }else{
            $("#contactEmail").css("background-color" ,rightColor).css("color" ,rightFontColor);
          }
        }
        if(message == '' ){
          alert("Vul alstublieft een bericht in.");
          $("#message").css("background-color" ,errorColor).css("color" ,errorFontColor);
          return ;
        }else{
          $("#message").css("background-color" ,rightColor).css("color" ,rightFontColor);
        }
        $.ajax({
          url: sendMailURL
        }).done(function( data ) {
          console.log(data);
          alert("Bericht is verzonden!");
        }).fail(function( error){
          console.log(error);
          alert("Bericht is verzonden!");
        });
      }
  body(ng-app='AskFast')



    //--------HEADER------
    include ../includes/headerUseCasesActive



    //--------COOKIE MESSAGE------
    #cookieMessage.hide
      #closeCookie
      p
        | {{ui.general.cookieMessage}}
        a(href='../docs/Privacy-Statement-ASK-Community-Systems.pdf', target='_blank')  {{ui.general.cookieMessageLink}}
        | .



    //--------CONTENT------
    #content
      #useCasesPage.useCasesOverview

        #intro.fullbackground
          #colorOverlay
          .container
            .row
              .col-md-12.introText
                h1.subPageTitle {{ui.useCases.title}}
            //.row
            //  .col-md-6.col-md-offset-3
            //    h4.introText {{ui.home.intro.introText}}

        .zigZagBorder
        #casesOverview
          .container
            .row.overviewIntro
              .col-md-8.col-md-offset-2
                h2 {{ui.useCases.intro.title}}
                p {{ui.useCases.intro.text}}
            .row
              .col-sm-4.useCase.useCase1
                a(href='twofactorauthentication.html').media.thumbnail
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case01.title}}
                    p {{ui.useCases.case01.overviewDescription}}
              .col-sm-4.useCase.useCase2
                a(href='etaalerts.html').media.thumbnail
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case02.title}}
                    p {{ui.useCases.case02.overviewDescription}}
              .col-sm-4.useCase.useCase3
                a(href='teamtelephone.html').media.thumbnail
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case03.title}}
                    p {{ui.useCases.case03.overviewDescription}}
            .row
              .col-sm-4.useCase.useCase4
                a(href='clicktocall.html').media.thumbnail
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case04.title}}
                    p {{ui.useCases.case04.overviewDescription}}
              .col-sm-4.useCase.useCase5
                a(href='pushtotalk.html').media.thumbnail
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case05.title}}
                    p {{ui.useCases.case05.overviewDescription}}
              .col-sm-4.useCase.useCase6
                a(href='callerauthentication.html').media.thumbnail
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case06.title}}
                    p {{ui.useCases.case06.overviewDescription}}
            .row
              .col-sm-4.useCase.useCase7
                a(href='broadcast.html').media.thumbnail
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case07.title}}
                    p {{ui.useCases.case07.overviewDescription}}
              .col-sm-4.useCase.useCase8
                a(href='decentrale.html').media.thumbnail
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case08.title}}
                    p {{ui.useCases.case08.overviewDescription}}
              .col-sm-4.useCase.useCase9
                .media.thumbnail.noLink
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case09.title}}
                    p {{ui.useCases.case09.overviewDescription}}

        #contactUs
          .container
            .row.titleHeader
            .row.contentBlock
              .col-md-12
                a(href='')
                  button.outline {{ui.general.contactUs}}

        // Button trigger modal
        button.outline.btn(type='button', data-toggle='modal', data-target='#contactForm')
          | {{ui.general.contactUs}}
        // Modal
        #contactForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='contactFormLabel')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h4#contactFormLabel.modal-title {{ui.contactForm.title}}
              .modal-body
                #contact.row
                  #contactform.col-md-4.col-sm-12.row
                    #normalForm.col-md-12.col-sm-6
                      h4 Contactformulier
                      input#contactName.contactInput.col-xs-12(type='text', placeholder='Naam')
                      input#contactEmail.contactInput.col-xs-12(type='text', placeholder='E-mailadres')
                      textarea#message.contactTextarea.col-xs-12(rows='8', placeholder='Bericht')
                      button.btn.btn-lg.btn-cta.ng-binding.col-md-12(type='button', onclick='sendMail()') Verzenden

              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='button') Save changes



    //--------FOOTER------
    include ../includes/footer



    //--------JS------
    // build:js scripts/vendor.js
    // bower:js
    script(src='../vendors/jquery/dist/jquery.js')
    script(src='../vendors/bootstrap-sass/assets/javascripts/bootstrap.js')
    script(src='../vendors/angular/angular.js')
    // endbower
    // endbuild

    script(src='../scripts/main.js')

    // build:js ../scripts/usecases.js
    script(src='../scripts/imagesloaded.js')
    script(src='../scripts/skrollr.js')
    script(src='../scripts/_main.js')
    script(src='../ scripts/usecases.js')
    // endbuild
