doctype
html.no-js
  head
    meta(charset='UTF-8')
    title ASK-Fast
    meta(name='author', content='ASK-Fast')
    meta(name='keywords', content='ask-fast')
    meta(name='description', content='ASK-Fast')
    meta(name='Resource-type', content='Document')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='ASK-Fast', property='og:title')
    meta(content='image', property='og:type')
    meta(content='https://ask-fast.nl/', property='og:url')
    meta(content='', property='og:image')
    link(href='..//images/favicon.ico', rel='Shortcut Icon')



    // --------CSS------
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='../vendors/animate.css/animate.css')
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='../styles/main.css')
    // endbuild

    script(src='../vendors/modernizr/modernizr.js')



  body(ng-app='AskFast')



    //--------HEADER------
    #menuBg(data-106-top='opacity: 1', data-bottom='opacity: 0;', data--10p-top='opacity: 0;', data--60p-top='opacity: 1;', data-anchor-target='body')
    #menu.mainMenu
      #dropdownMenu.mobileView.hide
        ul
          li
            a(href='../usecases/index.html') {{ui.menu.useCases}}
          li
            a(href='../pricing.html') {{ui.menu.pricing}}
          li
            a(href='../developers.html') {{ui.menu.developers}}
      .container
        .row
          .col-sm-2
            #mainLogo
              a(href='../index.html')
              span.payOff(data-106-top='opacity: 0', data-bottom='opacity: 1;', data--10p-top='opacity: 1;', data--30p-top='opacity: 0;', data-anchor-target='body')
          .col-xs-10.desktopView
            ul
              li
                a.active(href='../usecases/index.html') {{ui.menu.useCases}}
              li
                a(href='../pricing.html') {{ui.menu.pricing}}
              li
                a(href='../developers.html') {{ui.menu.developers}}
              li.outlineMenu
                a(href='https://portal.ask-fast.com') {{ui.menu.login}}
              li.outlineMenu
                a(href='https://portal.ask-fast.com/index.html#/register#step-1') {{ui.menu.tryForFree}}
          #dropdownToggle.mobileView



    //--------COOKIE MESSAGE------
    #cookieMessage.hide
      #closeCookie
      p
        | {{ui.general.cookieMessage}}
        a(href='../docs/Privacy-Statement-ASK-Community-Systems.pdf', target='_blank')  {{ui.general.cookieMessageLink}}
        | .



    //--------CONTENT------
    #content
      #useCasesPage.useCasesOverview

        #intro.fullbackground
          #colorOverlay
          .container
            .row
              .col-md-12.introText
                h1.subPageTitle {{ui.useCases.title}}
            //.row
            //  .col-md-6.col-md-offset-3
            //    h4.introText {{ui.home.intro.introText}}


        #casesOverview
          .container
            .row.overviewIntro
              .col-md-8.col-md-offset-2
                h2 {{ui.useCases.intro.title}}
                p {{ui.useCases.intro.text}}
            .row
              .col-sm-4.useCase.useCase1
                a(href='twofactorauthentication.html').media.thumbnail
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case01.title}}
                    p {{ui.useCases.case01.overviewDescription}}
              .col-sm-4.useCase.useCase2
                .media.thumbnail
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case02.title}}
                    p {{ui.useCases.case02.overviewDescription}}
              .col-sm-4.useCase.useCase3
                .media.thumbnail
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case03.title}}
                    p {{ui.useCases.case03.overviewDescription}}
            .row
              .col-sm-4.useCase.useCase4
                .media.thumbnail
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case04.title}}
                    p {{ui.useCases.case04.overviewDescription}}
              .col-sm-4.useCase.useCase5
                .media.thumbnail
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case05.title}}
                    p {{ui.useCases.case05.overviewDescription}}
              .col-sm-4.useCase.useCase6
                .media.thumbnail
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case06.title}}
                    p {{ui.useCases.case06.overviewDescription}}
            .row
              .col-sm-4.useCase.useCase7
                .media.thumbnail
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case07.title}}
                    p {{ui.useCases.case07.overviewDescription}}
              .col-sm-4.useCase.useCase8
                .media.thumbnail
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case08.title}}
                    p {{ui.useCases.case08.overviewDescription}}
              .col-sm-4.useCase.useCase9
                .media.thumbnail
                  .media-left.media-middle
                    .icon
                  .media-body
                    h3 {{ui.useCases.case09.title}}
                    p {{ui.useCases.case09.overviewDescription}}





    //--------FOOTER------
    include ../includes/footer



    //--------JS------
    // build:js scripts/vendor.js
    // bower:js
    script(src='../vendors/jQuery/dist/jquery.js')
    script(src='../vendors/bootstrap-sass-official/vendor/assets/javascripts/bootstrap.js')
    script(src='../vendors/angular/angular.js')
    // endbower
    // endbuild

    script(src='../scripts/main.js')

    // build:js ../scripts/usecases.js
    script(src='../scripts/imagesloaded.js')
    script(src='../scripts/skrollr.js')
    script(src='../scripts/_main.js')
    script(src='../ scripts/usecases.js')
    // endbuild
