extends usecasesbase
block useCaseClass
  - var useCaseClass = 'broadcast'

block title
  h1.subPageTitle {{ui.useCases.case07.title}}

block what
  h3 {{ui.useCases.whatTitle}}
  p {{ui.useCases.case07.whatDescription}}

block benefit1
  h4 {{ui.useCases.case07.benefit01}}

block benefit2
  h4 {{ui.useCases.case07.benefit02}}

block benefit3
  h4 {{ui.useCases.case07.benefit03}}

block customerQuote
  p.quote {{ui.useCases.case07.customerQuote}}

block howWork
  #howWork
    .container
      .row.titleHeader
        h4 {{ui.useCases.howWorkTitle}}
      .row.contentBlock
        .col-sm-5ths
          .hexContainer.step1
            .icon
            .hexagon
          h3 {{ui.useCases.stepTitle1}}
          p {{ui.useCases.case07.howWorkStep1}}
        .col-sm-5ths
          .hexContainer.step2
            .icon
            .hexagon
          h3 {{ui.useCases.stepTitle2}}
          p {{ui.useCases.case07.howWorkStep2}}
        .col-sm-5ths
          .hexContainer.step3
            .icon
            .hexagon
          h3 {{ui.useCases.stepTitle3}}
          p {{ui.useCases.case07.howWorkStep3}}
        .col-sm-5ths
          .hexContainer.step4
            .icon
            .hexagon
          h3 {{ui.useCases.stepTitle4}}
          p {{ui.useCases.case07.howWorkStep4}}
        .col-sm-5ths
          .hexContainer.step5
            .icon
            .hexagon
          h3 {{ui.useCases.stepTitle5}}
          p {{ui.useCases.case07.howWorkStep5}}


block step1
  h3 {{ui.useCases.stepTitle1}}
  p {{ui.useCases.case07.howWorkStep1}}

block step2
  h3 {{ui.useCases.stepTitle2}}
  p {{ui.useCases.case07.howWorkStep2}}

block step3
  h3 {{ui.useCases.stepTitle3}}
  p {{ui.useCases.case07.howWorkStep3}}

block step4
  h3 {{ui.useCases.stepTitle4}}
  p {{ui.useCases.case07.howWorkStep4}}
