extends usecasesbase
block useCaseClass
  - var useCaseClass = 'clickToCall'

block title
  h1.subPageTitle {{ui.useCases.case04.title}}

block what
  h3 {{ui.useCases.whatTitle}}
  p {{ui.useCases.case04.whatDescription}}

block benefit1
  h4 {{ui.useCases.case04.benefit01}}

block benefit2
  h4 {{ui.useCases.case04.benefit02}}

block benefit3
  h4 {{ui.useCases.case04.benefit03}}

block customerQuote
  p.quote {{ui.useCases.case04.customerQuote}}

block step1
  h3 {{ui.useCases.stepTitle1}}
  p {{ui.useCases.case04.howWorkStep1}}

block step2
  h3 {{ui.useCases.stepTitle2}}
  p {{ui.useCases.case04.howWorkStep2}}

block step3
  h3 {{ui.useCases.stepTitle3}}
  p {{ui.useCases.case04.howWorkStep3}}

block step4
  h3 {{ui.useCases.stepTitle4}}
  p {{ui.useCases.case04.howWorkStep4}}
