//--------CONTENT------
#content
  #useCasesPage.useCasesOverview

    #intro.fullbackground
      #colorOverlay
      .container
        .row
          .col-md-12.introText
            .subContainer
              .hexagonExtended
                .part1
                  .slash.fSlash
                  .slash.bSlash
                .part2
                  h1.subPageTitle {{ui.useCases.title}}
                .part3
                  .slash.bSlash
                  .slash.fSlash

    //.zigZagBorder
    #casesOverview
      .container
        .row.overviewIntro.contentBlock
          .col-md-8.col-md-offset-2
            h2 {{ui.useCases.intro.title}}
            p {{ui.useCases.intro.text}}

        .row.hidden-sm
          .col-md-4.col-sm-6.useCase.useCase1
            a(href='twofactorauthentication.html').media.thumbnail
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case01.title}}
                p.description.hide {{ui.useCases.case01.overviewDescription}}
          .col-md-4.col-sm-6.useCase.useCase2
            a(href='etaalerts.html').media.thumbnail
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case02.title}}
                p.description.hide {{ui.useCases.case02.overviewDescription}}
          .col-md-4.col-sm-6.useCase.useCase3
            a(href='teamtelephone.html').media.thumbnail
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case03.title}}
                p.description.hide {{ui.useCases.case03.overviewDescription}}
        .row.hidden-sm
          .col-md-4.col-sm-6.useCase.useCase4
            a(href='clicktocall.html').media.thumbnail
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case04.title}}
                p.description.hide {{ui.useCases.case04.overviewDescription}}
          .col-md-4.col-sm-6.useCase.useCase5
            a(href='pushtotalk.html').media.thumbnail
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case05.title}}
                p.description.hide {{ui.useCases.case05.overviewDescription}}
          .col-md-4.col-sm-6.useCase.useCase6
            a(href='callerauthentication.html').media.thumbnail
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case06.title}}
                p.description.hide {{ui.useCases.case06.overviewDescription}}
        .row.hidden-sm
          .col-md-4.col-sm-6.useCase.useCase7
            a(href='broadcast.html').media.thumbnail
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case07.title}}
                p.description.hide {{ui.useCases.case07.overviewDescription}}
          .col-md-4.col-sm-6.useCase.useCase8
            a(href='decentrale.html').media.thumbnail
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case08.title}}
                p.description.hide {{ui.useCases.case08.overviewDescription}}
          .col-md-4.col-sm-12.useCase.useCase9
            .media.thumbnail.noLink
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case09.title}}
                p.description.hide {{ui.useCases.case09.overviewDescription}}

        .row.visible-sm-block
          .col-sm-6.useCase.useCase1
            a(href='twofactorauthentication.html').media.thumbnail
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case01.title}}
                p.description.hide {{ui.useCases.case01.overviewDescription}}
          .col-sm-6.useCase.useCase2
            a(href='etaalerts.html').media.thumbnail
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case02.title}}
                p.description.hide {{ui.useCases.case02.overviewDescription}}
        .row.visible-sm-block
          .col-sm-6.useCase.useCase3
            a(href='teamtelephone.html').media.thumbnail
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case03.title}}
                p.description.hide {{ui.useCases.case03.overviewDescription}}
          .col-sm-6.useCase.useCase4
            a(href='clicktocall.html').media.thumbnail
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case04.title}}
                p.description.hide {{ui.useCases.case04.overviewDescription}}
        .row.visible-sm-block
          .col-sm-6.useCase.useCase5
            a(href='pushtotalk.html').media.thumbnail
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case05.title}}
                p.description.hide {{ui.useCases.case05.overviewDescription}}
          .col-sm-6.useCase.useCase6
            a(href='callerauthentication.html').media.thumbnail
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case06.title}}
                p.description.hide {{ui.useCases.case06.overviewDescription}}
        .row.visible-sm-block
          .col-sm-6.useCase.useCase7
            a(href='broadcast.html').media.thumbnail
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case07.title}}
                p.description.hide {{ui.useCases.case07.overviewDescription}}
          .col-sm-6.useCase.useCase8
            a(href='decentrale.html').media.thumbnail
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case08.title}}
                p.description.hide {{ui.useCases.case08.overviewDescription}}
        .row.visible-sm-block
          .col-sm-offset-3.col-sm-6.useCase.useCase9
            .media.thumbnail.noLink
              .media-left.media-middle
                .icon
              .media-body
                h3 {{ui.useCases.case09.title}}
                p.description.hide {{ui.useCases.case09.overviewDescription}}

    // Button trigger modal
    #contactUs
      .container
        .row.contentBlock
          .col-md-12
            button.outline(type='button', data-toggle='modal', data-target='#contactForm')
              | {{ui.general.contactUs}}

    include ../../includes/contactForm
