extends usecasesbase
block useCaseClass
  - var useCaseClass = 'teamTelephone'

block title
  h1.subPageTitle {{ui.useCases.case03.title}}

block what
  h3 {{ui.useCases.whatTitle}}
  p {{ui.useCases.case03.whatDescription}}

block benefit1
  h4 {{ui.useCases.case03.benefit01}}

block benefit2
  h4 {{ui.useCases.case03.benefit02}}

block benefit3
  h4 {{ui.useCases.case03.benefit03}}

block customerQuote
  p.quote {{ui.useCases.case03.customerQuote}}

block step1
  h3 {{ui.useCases.stepTitle1}}
  p {{ui.useCases.case03.howWorkStep1}}

block step2
  h3 {{ui.useCases.stepTitle2}}
  p {{ui.useCases.case03.howWorkStep2}}

block step3
  h3 {{ui.useCases.stepTitle3}}
  p {{ui.useCases.case03.howWorkStep3}}

block step4
  h3 {{ui.useCases.stepTitle4}}
  p {{ui.useCases.case03.howWorkStep4}}
