<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"></html>
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"></html>
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"></html>
<![endif]-->
<!-- [if gt IE 8] <!-->
<html lang="en" class="no-js">
  <!-- <![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AskFast Development Center</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="signet:authors" content="Cengiz Ulusoy">
    <meta name="signet:links" content="http://github.com/Cengizism, http://twitter.com/Cengizism">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="icons/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" href="styles/23d92c4e.main.css">
  </head>
  <body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser.<a href="http://browsehappy.com/">Upgrade your browser today</a>or<a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>to better experience this site.</p>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="vendors/es5-shim/es5-shim.js"></script>
    <script src="vendors/json3/lib/json3.min.js"></script>
    <![endif]-->
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#developers">{{ui.globals.nav.main.developers}}</a></li>
            <li><a href="#business">{{ui.globals.nav.main.business}}</a></li>
            <li><a href="#dialogs">{{ui.globals.nav.main.dialogs}}</a></li>
            <li><a href="#prices">{{ui.globals.nav.main.price}}</a></li>
            <li><a href="#about">{{ui.globals.nav.main.aboutUs}}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#register">{{ui.globals.nav.user.register}}</a></li>
            <li><a href="#login">{{ui.globals.nav.user.login}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="wrap">
      <div class="container-fluid">
        <div id="sub-header">
          <div class="row">
            <!-- block tweets-->
            <div id="sub-header-menu" class="col-md-10">
              <ul class="sub-header-menu">
                <li class="active"><a ng-click="">FastStart</a></li>
                <li><a ng-click="">Devmods</a></li>
                <li><a ng-click="">Documents</a></li>
              </ul>
            </div>
            <div id="languages" class="col-md-2">
              <ul class="sub-header-menu pull-right">
                <li class="{{(app.language == 'en') &amp;&amp; 'active'}}"><a ng-click="setLanguage('en')">EN</a></li>
                <li class="{{(app.language == 'nl') &amp;&amp; 'active'}}"><a ng-click="setLanguage('nl')">NL</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div ng-view=""></div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <ul id="footer-nav" class="list-inline">
              <li><a href="#about">{{ui.globals.nav.main.aboutUs}}</a></li>
              <li><a href="#jobs">{{ui.globals.nav.footer.jobs}}</a></li>
              <li><a href="#legal">{{ui.globals.nav.footer.legal}}</a></li>
              <li><a href="#contact">{{ui.globals.nav.footer.contact}}</a></li>
            </ul>
          </div>
          <div class="col-md-2"><a href="#home" class="pull-right"><img src="images/e973109b.askfast-logo.png" alt="AskFast"></a></div>
        </div>
      </div>
    </footer>
    <script data-main="scripts/7f854c95.main" src="vendors/requirejs/require.js"></script>
  </body>
</html>