article(ng-show='subView.team')
  .container-fluid.container-content
    .row
      .col-md-12
        h2 Team


article(ng-show='subView.contact')
  .container-fluid.container-content
    .row
      .col-md-12
        h2 Contact