article(ng-show='subView.solutions')
  .container-fluid.container-content
    .row
      .col-md-12
        h2 Solutions



article(ng-show='subView.benefits')
  .container-fluid.container-content
    .row
      .col-md-12
        h2 Benefits