article(ng-show='subView.faststart')
  .container-fluid.container-content
    .row
      .col-md-6
        h1.text-pink {{ui.pages.developers.faststart.row1.title}}
        p(ng-repeat='content in ui.pages.developers.faststart.row1.content') {{content}}
      .col-md-6
        span
  .container-fluid.container-content.container-dark
    .row
      .col-md-6
        span
      .col-md-6
        h1 {{ui.pages.developers.faststart.row2.title}}
        p(ng-repeat='content in ui.pages.developers.faststart.row2.content') {{content}}
  .container-fluid.container-content
    .row
      .col-md-6
        h1.text-pink {{ui.pages.developers.faststart.row3.title}}
        p(ng-repeat='content in ui.pages.developers.faststart.row3.content') {{content}}
      .col-md-6
        span



article(ng-show='subView.devmods')
  .container-fluid.container-content
    .row
      .col-md-12
        .row
          .col-md-5
            .verify
              .fixed-left
                a.sprite.verify-icon(ng-click='switchDevMod("verify")',
                class='{{(devModView.verify) && "active"}}') verify
                a.sprite.broadcast-icon(ng-click='switchDevMod("broadcast")',
                class='{{(devModView.broadcast) && "active"}}') broadcast
                a.sprite.traking-icon(ng-click='switchDevMod("tracking")',
                class='{{(devModView.tracking) && "active"}}') Number traking
                a.sprite.click-icon(ng-click='switchDevMod("click")',
                class='{{(devModView.click) && "active"}}') click 2 call

          .col-md-7(ng-show='devModView.verify')
            h1.text-pink {{ui.pages.developers.devmods.verify.title}}
            p(ng-repeat='content in ui.pages.developers.devmods.verify.content') {{content}}

            div(ng-repeat='chapter in ui.pages.developers.devmods.verify.chapters', ng-show='false')
              h3.text-pink {{chapter.title}}
              p(ng-repeat='content in chapter.content') {{content}}
              dl
                div(ng-repeat='part in chapter.parts')
                  dt.text-pink {{part.title}}
                  dd
                    p(ng-repeat='content in part.content') {{content}}
            
            pre
              span.text-white POST&nbsp;
              | &lt;hostname&gt;
              span.text-white /products/verifyme/initiate
              br
              span.text-white {
              br
              |   "verificationMedium"
              span.text-white :
              | &nbsp;"SMS | Call | Email | Auto"
              span.text-white ,
              br
              |   "verificationInfo"
              span.text-white : {
              br
              |     "address"
              span.text-white :
              | &nbsp;&lt;address&gt;
              span.text-white ,
              br
              |     "message"
              span.text-white :
              | "&nbsp;&lt;message&gt;"
              span.text-white ,
              br
              |     "subject"
              span.text-white :
              | "&nbsp;&lt;subject&gt;"
              span.text-white ,
              br
              |     "senderName"
              span.text-white :
              | "&nbsp;&lt;sender name&gt;"
              br
              span.text-white    },
              br
              |   "sessionTimeoutInSecs"
              span.text-white :
              | &nbsp;&lt;timeout&gt;
              span.text-white ,
              br
              |   "verificationCodeLength"
              span.text-white :
              | &nbsp;&lt;codeLength&gt;
              br
              span.text-white }

            pre
              span.text-white POST&nbsp;
              | &lt;hostname&gt;
              span.text-white /products/verifyme/initiate
              br
              span.text-white {
              br
              |   "verificationMedium"
              span.text-white :
              | &nbsp;"SMS"
              span.text-white ,
              br
              |   "verificationInfo"
              span.text-white : {
              br
              |     "address"
              span.text-white :
              | &nbsp;&lt;address&gt;
              span.text-white ,
              br
              |     "message"
              span.text-white :
              | "Following is your verification code: [code]"
              span.text-white ,
              br
              |     "subject"
              span.text-white :
              | "oneline verification"
              span.text-white ,
              br
              |     "senderName"
              span.text-white :
              | "online"
              br
              span.text-white    }
              br
              span.text-white }

            pre
              span.text-white {
              br
              |   "initiateResponse"
              span.text-white : {
              br
              |     "jsonrpc"
              span.text-white :
              | "2.0"
              span.text-white ,
              br
              |     "id"
              span.text-white :
              | "null"
              span.text-white ,
              br
              |     "result"
              span.text-white : {
              br
              |       "0614765863"
              span.text-white :
              | &nbsp;"SMS|0636465236|0614765863"
              br
              span.text-white     }
              br
              span.text-white    },
              br
              |   "verficationInfo"
              span.text-white : {
              br
              |     "verificationMedium"
              span.text-white :
              | &nbsp;"SMS"
              span.text-white ,
              br
              |     "verificationStartTimestamp"
              span.text-white :
              | &nbsp;1384508760434
              span.text-white ,
              br
              |     "address"
              span.text-white :
              | &nbsp;"0614765863"
              span.text-white ,
              br
              |     "addressType"
              span.text-white :
              | &nbsp;"MOBILE"
              span.text-white ,
              br
              |     "phoneNumberOrign"
              span.text-white :
              | &nbsp;"Netherlands"
              span.text-white ,
              br
              |     "adapterConfigId"
              span.text-white :
              | &nbsp;"786a8090-13b9-11e3-a435-00007£000001"
              span.text-white ,
              br
              |     "verified"
              span.text-white :
              | &nbsp;false
              span.text-white ,
              br
              |     "id"
              span.text-white :
              | &nbsp;"8ac66391-38d3-4076-a27fbd4bd1498"
              span.text-white ,
              br
              |     "ownerKey"
              span.text-white :
              | &nbsp;"apptestoneline"
              br
              span.text-white   }
              br
              span.text-white }


          .col-md-7(ng-show='devModView.broadcast')
            h1 Broadcast

          .col-md-7(ng-show='devModView.tracking')
            h1 Number tracking

          .col-md-7(ng-show='devModView.click')
            h1 Click2Call


article(ng-show='subView.documents')
  .container-fluid.container-content
    .row
      .col-md-12
        h2 Documents