.row(ng-show='subView.faststart')
  .col-md-12
    h2 Fast Start

.row(ng-show='subView.devmods')
  .col-md-12
    h2 Developer Modules

.row(ng-show='subView.documents')
  .col-md-12
    h2 Documents