meta(charset='UTF-8')
title ASK-Fast
meta(name='author', content='ASK-Fast')
meta(name='keywords', content='ask-fast')
meta(name='description', content='ASK-Fast')
meta(name='Resource-type', content='Document')
meta(content='width=device-width, initial-scale=1', name='viewport')
meta(content='ASK-Fast', property='og:title')
meta(content='image', property='og:type')
meta(content='https://ask-fast.nl/', property='og:url')
meta(content='', property='og:image')

block headLinks