#menuBg(data-106-top='opacity: 1', data-bottom='opacity: 0;', data--10p-top='opacity: 0;', data--60p-top='opacity: 1;', data-anchor-target='body')
#menu.mainMenu
  #dropdownMenu.mobileView.hide
    ul
      li
        a(href='../usecases/index.html') {{ui.menu.useCases}}
      li
        a(href='../pricing.html') {{ui.menu.pricing}}
      li
        a(href='../developers.html') {{ui.menu.developers}}
  .container
    .row
      .col-sm-2
        #mainLogo
          a(href='../index.html')
          span.payOff(data-106-top='opacity: 0', data-bottom='opacity: 1;', data--10p-top='opacity: 1;', data--30p-top='opacity: 0;', data-anchor-target='body')
      .col-xs-10.desktopView
        ul
          li
            a.active(href='../usecases/index.html') {{ui.menu.useCases}}
          li
            a(href='../pricing.html') {{ui.menu.pricing}}
          li
            a(href='../developers.html') {{ui.menu.developers}}
          li.outlineMenu
            a(href='https://portal.ask-fast.com') {{ui.menu.login}}
          li.outlineMenu
            a(href='https://portal.ask-fast.com/index.html#/register#step-1') {{ui.menu.tryForFree}}
      #dropdownToggle.mobileView