#reminder
  .container
    .row.titleHeader
    .row.contentBlock
      .col-md-12
        a(href='https://portal.ask-fast.com/index.html#/register#step-1')
          button.outline {{ui.general.tryForFree}}