//--------CONTENT------
#content
  #developersPage

    #intro.fullbackground
      #colorOverlay
      .container
        .row
          .col-md-12.introText
            .hexagonExtended
              .part1
                .slash.fSlash
                .slash.bSlash
              .part2
                h1.subPageTitle {{ui.developers.title}}
              .part3
                .slash.bSlash
                .slash.fSlash


    #mainPart
      .container-fluid
        .row
          // Nav Bar
          nav.col-lg-3.col-md-3.bs-docs-sidebar.scrollspy.hidden-xs.hidden-sm
            ul#sidebar.nav.nav-stacked(data-spy="affix")
              li
                a(href='#getStart' ng-click="anchorScroll()") {{ui.developers.getStart.title}}
                ul.nav.nav-stacked
                  li
                    a(href='#getStartIntro' ng-click="anchorScroll()") {{ui.developers.getStart.intro.title}}
                  li
                    a(href='#firstCall' ng-click="anchorScroll()") {{ui.developers.getStart.firstCall.title}}
                  li
                    a(href='#firstSms' ng-click="anchorScroll()") {{ui.developers.getStart.firstSms.title}}
                  li
                    a(href='#environment' ng-click="anchorScroll()") {{ui.developers.getStart.environment.title}}
                  li
                    a(href='#firstDialog' ng-click="anchorScroll()") {{ui.developers.getStart.firstDialog.title}}
                  li
                    a(href='#useDialog' ng-click="anchorScroll()") {{ui.developers.getStart.useDialog.title}}
                  li
                    a(href='#complexDialog' ng-click="anchorScroll()") {{ui.developers.getStart.complexDialog.title}}
              li.hide
                a(href='#docs' ng-click="anchorScroll()") {{ui.developers.docs.title}}
                ul.nav.nav-stacked
                  li
                    a(href='#GroupBSub1' ng-click="anchorScroll()") {{ui.developers.getStart.title}}
                  li
                    a(href='#GroupBSub2' ng-click="anchorScroll()") {{ui.developers.getStart.title}}
              li.hide
                a(href='#examples' ng-click="anchorScroll()") {{ui.developers.examples.title}}
                ul.nav.nav-stacked
                  li
                    a(href='#GroupCSub1' ng-click="anchorScroll()") {{ui.developers.getStart.title}}
                  li
                    a(href='#GroupCSub2' ng-click="anchorScroll()") {{ui.developers.getStart.title}}
          // Main Content
          #mainPart2.col-lg-9.col-md-9
            #getStart.anchor
            div
              .titleHeader
                h4 {{ui.developers.getStart.title}}
              .contentBlock
                .row.subPart
                  .col-md-12
                    #getStartIntro.anchor
                    h4 {{ui.developers.getStart.intro.title}}
                    p {{ui.developers.getStart.intro.description01}}
                    p {{ui.developers.getStart.intro.needs}} {{ui.developers.getStart.intro.need01}} {{ui.developers.getStart.intro.noAccount01}}
                      span.link
                        a(href='//portal.ask-fast.com/index.html#/register#step-1', target='blank') {{ui.general.here}}
                      span {{ui.developers.getStart.intro.noAccount02}}
                .row.subPart
                  .col-md-12
                    #firstCall.anchor
                    h4 {{ui.developers.getStart.firstCall.title}}
                    p {{ui.developers.getStart.firstCall.step0101}}
                      span.link
                        a(href='//portal.ask-fast.com', target='blank') {{ui.developers.getStart.firstCall.portal}}
                      span {{ui.developers.getStart.firstCall.step0102}}
                    p {{ui.developers.getStart.firstCall.step02}}
                    a.borderLink(href='//api.ask-fast.com/question/comment?message=Hello%20from%20ask%20fast', target='blank') {{ui.developers.getStart.firstCall.step02url}}
                    img.devImage(src='/images/developers/ssFirstCall1.png')
                    p {{ui.developers.getStart.firstCall.step03}}
                    p {{ui.developers.getStart.firstCall.step04}}
                    img.devImage(src='/images/developers/ssFirstCall2.png')
                .row.subPart
                  .col-md-12
                    #firstSms.anchor
                    h4 {{ui.developers.getStart.firstSms.title}}
                    p {{ui.developers.getStart.firstSms.step01}}
                    img.devImage(src='/images/developers/ssFirstSms1.png')

                .row.subPart
                  .col-md-12
                    #environment.anchor
                    h4 {{ui.developers.getStart.environment.title}}
                    p {{ui.developers.getStart.environment.java.step01}}
                    p {{ui.developers.getStart.environment.java.step02}}
                      a.link(href='//maven.apache.org/download.cgi', target='blank') {{ui.developers.getStart.environment.java.step02Link}}
                    p {{ui.developers.getStart.environment.step01}}
                    p {{ui.developers.getStart.environment.step02}}
                      a.link(href='//ngrok.com/download', target='blank') {{ui.general.here}}
                    p {{ui.developers.getStart.environment.step03}}

                .row.subPart
                  .col-md-12
                    #firstDialog.anchor
                    h4 {{ui.developers.getStart.firstDialog.title}}
                    p {{ui.developers.getStart.firstDialog.java.step01}}
                    pre
                      code.xml
                        ='<project xmlns="http://maven.apache.org/POM/4.0.0" '
                        ='xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"'
                        ='xsi:schemaLocation="http://maven.apache.org/POM/4.0.0'
                        ='http://maven.apache.org/xsd/maven-4.0.0.xsd">'
                        ='\n\t<modelVersion>4.0.0</modelVersion>'
                        ='\n\t<groupId>com.askfast</groupId>'
                        ='\n\t<artifactId>askfast-example-java</artifactId>'
                        ='\n\t<version>0.0.1-SNAPSHOT</version>'
                        ='\n\t<packaging>war</packaging>'
                        ='\n\n\t<properties>'
                        ='\n\t\t<jetty.version>9.2.8.v20150217</jetty.version>'
                        ='\n\t\t<askfast.version>1.4.2</askfast.version>'
                        ='\n\t</properties>'
                        ='\n\n\t<dependencies>'
                        ='\n\t\t<dependency>'
                        ='\n\t\t\t<groupId>com.askfast.askfastapi</groupId>'
                        ='\n\t\t\t<artifactId>askfast-api-java</artifactId>'
                        ='\n\t\t\t<version>${askfast.version}</version>'
                        ='\n\t\t</dependency>'
                        ='\n\t</dependencies>'
                        ='\n\n\t<build>'
                        ='\n\t\t<pluginManagement>'
                        ='\n\t\t\t<plugins>'
                        ='\n\t\t\t\t<plugin>'
                        ='\n\t\t\t\t\t<groupId>org.eclipse.jetty</groupId>'
                        ='\n\t\t\t\t\t<artifactId>jetty-maven-plugin</artifactId>'
                        ='\n\t\t\t\t\t<version>${jetty.version}</version>'
                        ='\n\t\t\t\t</plugin>'
                        ='\n\t\t\t</plugins>'
                        ='\n\t\t</pluginManagement>'
                        ='\n\t</build>'
                        ='\n</project>'

                    p {{ui.developers.getStart.firstDialog.java.step02}}
                    pre
                      code.java
                        ='package com.askfast.example;'
                        ='\n\nimport java.io.IOException;'
                        ='\n\nimport javax.servlet.ServletException;'
                        ='\nimport javax.servlet.http.HttpServlet;'
                        ='\nimport javax.servlet.http.HttpServletRequest;'
                        ='\nimport javax.servlet.http.HttpServletResponse;'
                        ='\n\nimport com.askfast.askfastapi.AskFast;'
                        ='\n\npublic class AskFastExampleServlet extends HttpServlet {'
                        ='\n\n\tprivate static final long serialVersionUID = -1L;'
                        ='\n\n\t@Override'
                        ='\n\tprotected void service( HttpServletRequest req, HttpServletResponse resp )'
                        ='\n\tthrows ServletException, IOException {'
                        ='\n\t\tAskFast askfast = new AskFast( req );'
                        ='\n\t\taskfast.say( "Hello world" );'
                        ='\n\n\t\tresp.getWriter().print(askfast.render());'
                        ='\n\t}'
                        ='\n}'

                    p {{ui.developers.getStart.firstDialog.java.step03}}
                    pre
                      code.xml
                        ='<?xml version="1.0" encoding="UTF-8"?>'
                        ='\n<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"'
                        ='\n\txmlns="http://java.sun.com/xml/ns/javaee" '
                        ='\n\txmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"'
                        ='\n\txsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"'
                        ='\n\tid="WebApp_ID" version="3.0">'
                        ='\n\n\t<servlet>'
                        ='\n\t\t<servlet-name>askfast</servlet-name>'
                        ='\n\t\t<servlet-class>com.askfast.example.AskFastExampleServlet</servlet-class>'
                        ='\n\t</servlet>'
                        ='\n\t<servlet-mapping>'
                        ='\n\t\t<servlet-name>askfast</servlet-name>'
                        ='\n\t\t<url-pattern>/*</url-pattern>'
                        ='\n\t</servlet-mapping>'
                        ='\n</web-app>'

                    p {{ui.developers.getStart.firstDialog.java.step04}}
                    p {{ui.developers.getStart.firstDialog.java.step05}}
                    p {{ui.developers.getStart.firstDialog.java.step06}}
                    a(href='//localhost:8080/') http://localhost:8080/

                .row.subPart
                  .col-md-12
                    #useDialog.anchor
                    h4 {{ui.developers.getStart.useDialog.title}}
                    p {{ui.developers.getStart.useDialog.step01}}
                    p {{ui.developers.getStart.useDialog.step02}}
                    pre
                      code.xml
                        table
                          tr
                            td Tunnel Status
                            td online
                          tr
                            td Version
                            td 1.7/1.7
                          tr
                            td Forwarding
                            td http://xxxxxx.ngrok.com -> 127.0.0.1:8080
                          tr
                            td Forwarding
                            td https://xxxxxx.ngrok.com -> 127.0.0.1:8080
                          tr
                            td Web Interface
                            td 127.0.0.1:4040
                          tr
                            td # Conn
                            td 0
                          tr
                            td Avg Conn Time
                            td 0.00ms
                    p {{ui.developers.getStart.useDialog.step03}}
                    p {{ui.developers.getStart.useDialog.step04}}
                    p {{ui.developers.getStart.useDialog.step05}}
                    img.devImage(src='/images/developers/ssUseDialog1.png')
                    p {{ui.developers.getStart.useDialog.step06}}

                .row.subPart
                  .col-md-12
                    #complexDialog.anchor
                    h4 {{ui.developers.getStart.complexDialog.title}}
                    p {{ui.developers.getStart.complexDialog.java.step01}}
                    pre
                      code.java
                        ='private static final String accountId = "";'
                        ='\nprivate static final String key = "";'
                    p {{ui.developers.getStart.complexDialog.java.step02}}
                      a(href='//xxxxxxx.ngrok.com/question', target='blank') http://xxxxxxx.ngrok.com/question
                    p {{ui.developers.getStart.complexDialog.java.step03}}
                    pre
                      code.java
                        ='// Remove the first backslash'
                        ='\nString path = req.getPathInfo().substring( 1 );'
                        ='\n// Split everything from the path and place it in the parts array'
                        ='\nString[] parts = path.split( "\\/" );'
                        ='\n\nif(parts.length > 0 ) {'
                        ='\n\n\t// check if the first part of the path equals question'
                        ='\n\tif(parts[0].equalsIgnoreCase( "question" ) ) {'
                        ='\n\n\t}'
                        ='\n} else {'
                        ='\n\tresp.sendError( HttpServletResponse.SC_NOT_FOUND );'
                        ='\n}'
                    p {{ui.developers.getStart.complexDialog.java.step04}}
                    pre
                      code.java
                        ='private static HashMap<String, Boolean> voteCount = new HashMap<String, Boolean>();'
                    p {{ui.developers.getStart.complexDialog.java.step05}}
                    pre
                      code.java
                        ='// Initialize the AskFast class, which we will use to build the dialog with'
                        ='\nAskFast askfast = new AskFast( req );'
                        ='\n\nif(parts.length == 1 || parts[1].equals("start")) {'
                        ='\n\n\taskfast.ask( "Do you like my website. Press 1 for yes and 2 for no" );'
                        ='\n\taskfast.addAnswer( "", "/question/thankyou?result=true" );'
                        ='\n\taskfast.addAnswer( "", "/question/thankyou?result=false" );'
                        ='\n\n} else if(parts[1].equals( "thankyou" )) {'
                        ='\n\n\tString requester = req.getParameter( "requester" );'
                        ='\n\tString res = req.getParameter("result");'
                        ='\n\tBoolean result = Boolean.parseBoolean( res );'
                        ='\n\n\tvoteCount.put( requester, result );'
                        ='\n\n\tif(result) {'
                        ='\n\t\taskfast.say( "Thank you!" );'
                        ='\n\t} else {'
                        ='\n\t\taskfast.say( "That is to bad. I will try to improve it." );'
                        ='\n\t}'
                        ='\n}'
                        ='\n\n// Since we are using english text, set the language to english'
                        ='\naskfast.setPreferredLanguage( Language.ENGLISH_GREATBRITAIN.getCode() );'
                        ='\n\n// Print the rendered dialog in the response'
                        ='\nresp.getWriter().print(askfast.render());'

                    p {{ui.developers.getStart.complexDialog.java.step06}}
                    pre
                      code.java
                        ='else if(parts[0].equalsIgnoreCase( "startcall" ) ) {'
                        ='\n\n\tString addresses = req.getParameter( "addresses" );'
                        ='\n\tif(addresses == null) {'
                        ='\n\t\tresp.sendError( HttpServletResponse.SC_BAD_REQUEST, "No address given" );'
                        ='\n\t}'
                        ='\n\n\tString[] addressArray = addresses.split( "," );'
                        ='\n\tString host = getHost( req );'
                        ='\n\tString url = host + "/question";'
                        ='\n\tAskFastRestClient client = new AskFastRestClient( accountId, key );'
                        ='\n\t// Loop through all the given addresses'
                        ='\n\tfor(String address : addressArray) {'
                        ='\n\t\tif(address != null && !address.isEmpty()) {'
                        ='\n\t\t\ttry {'
                        ='\n\t\t\t\t// Per address start the outbound call'
                        ='\n\t\t\t\tclient.startPhoneDialog( address, url );'
                        ='\n\t\t\t} catch (Exception e) {'
                        ='\n\t\t\t\tlog.warning("Failed to start call: " + e.getMessage());'
                        ='\n\t\t\t}'
                        ='\n\t\t}'
                        ='\n\t}'
                        ='\n}'

                    p {{ui.developers.getStart.complexDialog.java.step07}}
                    pre
                      code.java
                        ='private String getHost( HttpServletRequest req ) {'
                        ='\n\n\tint port = req.getServerPort();'
                        ='\n\t// Remove the port number if is default http(s)'
                        ='\n\tif ( ( req.getScheme().equals( "http" ) && port == 80 ) ||'
                        ='\n\t\t\t( req.getScheme().equals( "https" ) && port == 443 ) ) {'
                        ='\n\t\tport = -1;'
                        ='\n\t}'
                        ='\n\tString url = null;'
                        ='\n\ttry {'
                        ='\n\t\tURL serverURL = new URL( req.getScheme(), req.getServerName(), port, "" );'
                        ='\n\t\turl = serverURL.toString();'
                        ='\n\t}'
                        ='\n\tcatch ( Exception e ) {'
                        ='\n\t}'
                        ='\n\treturn url;'
                        ='\n}'
                    p {{ui.developers.getStart.complexDialog.java.step08}}
                    pre
                      code.java
                        ='else if(parts[0].equalsIgnoreCase( "count" ) ) {'
                        ='\n\n\tint yesCount = 0;'
                        ='\n\tint noCount = 0;'
                        ='\n\n\tfor(String key : voteCount.keySet()) {'
                        ='\n\t\tif(voteCount.get(key)) {'
                        ='\n\t\t\tyesCount++;'
                        ='\n\t\t} else {'
                        ='\n\t\t\tnoCount++;'
                        ='\n\t\t}'
                        ='\n\t}'
                        ='\n\n\t\tresp.getWriter().write( "There are " +yesCount + " who liked your website. " + noCount + " did not." );'
                        ='\n\t}'
                        ='\n}'
                    p {{ui.developers.getStart.complexDialog.java.step09}}
                      a.link(href='//github.com/askfast/askfast-example-java', target='blank') https://github.com/askfast/askfast-example-java
                      |.
